<h1>Admin</h1>
<h2>News Articles</h2>
<div class='row' ng-controller="NewsCtrl">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3>English</h3></div>
      <div class="panel-body">
        <div class="form-group">
        <input ng-model="article.title_en">
          <textarea ng-model="article.en" redactor cols="30" rows="10"></textarea>
        </div>
        <br/>
        <p>{{article.en}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3>Chinese</h3></div>
      <div class="panel-body">
        <input ng-model="article.title_zh">
        <div class="form-group">
          <textarea ng-model="article.zh" redactor cols="30" rows="10"></textarea>
        </div>
        <br/>
        <p>{{article.zh}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-9">
    <a ng-click="save()" class="btn btn-warning">Save</a>
    <a ng-click="publish()" ng-class="{disabled: article.draft == false}" class="btn btn-primary">Publish</a>    
  </div>

  {{ article.title_en }}

</div>
<h2>Users</h2>
<div>
  <a href="#/register" class="btn btn-primary">Register User</a>
</div>