<div class="container admin admin-styling">
  <div ng-if="currentUser.role == 'admin'">
  <h1 translate>ADMIN</h1>
  <div class="well clearfix" id="admin-panel">

    <div class="row clearfix admin-unscored-tournament" ng-controller="TournamentsCtrl">
      <h2 class="left-i"><i class="fa fa-database"></i></h2>
      <h2 translate>UNSCORED_TOURNAMENT</h2>
      <div ng-repeat="(key, unscored) in tournaments | orderByPriority | filter:{scored : false} | orderBy:'start_date':true | limitTo:1" class="well clearfix">
        <div class="col-md-10">
        {{ unscored | json }}
          <span>{{unscored.start_date | date }}</span> <i class="fa fa-tasks"></i><a ng-href="#/tournaments/{{unscored.year}}/{{unscored.slug}}">{{l10n(unscored.name)}}</a>
        }
        }
        </div>
        <div class="col-md-2 publish-buttons">
          <a ng-href="#/tournaments/{{unscored.year}}/{{unscored.slug}}/score" class="btn"> <i class="fa fa-sliders"></i> score</a>
        </div>
      </div>
    </div>

    <div class="row" ng-controller="NewsCtrl">
      <h2 class="left-i"><i class="fa fa-database"></i></h2>
      <h2 translate>LATEST_ARTICLES</h2>
      <div class="well clearfix" ng-repeat="(id, article) in articles | orderByPriority | orderBy: 'publish_date':true |filter:{category : 'news'} | limitTo:3">
          <div class="col-md-10">
            <span>{{article.publish_date | date }}</span> <i class="fa fa-file-o"></i><a ng-href="#/news/{{article.slug}}">{{l10n(article.title)}}</a>
          </div>
          <div class="col-md-2 publish-buttons">
            <a ng-href="#/news/{{article.slug}}/edit" class="btn"> <i class="fa fa-pencil"></i> edit</a>
          </div>
      </div>
      <div class="col-md-12"><a ng-href="#/news/new"><i class="fa fa-plus-square add-new"></i></a></div>
    </div>

   <div class="row new-tournament row-cards" ng-controller="TournamentsCtrl">
      <h2 class="left-i"><i class="fa fa-database"></i></h2>
      <h2 translate>LATEST_TOURNAMENTS</h2>
      <div ng-repeat="(id, tournament) in tournaments | orderByPriority | orderBy: 'start_date':true | limitTo:2" class="col-md-5 well">
          <span id="tournament-length">{{tournament.no_days}} Days</span>
          <h5>{{tournament.start_date | date:'fullDate' }} </h5>
          <h4><i class="fa fa-trophy"></i>{{l10n(tournament.name)}}</h4>
          <em>At {{tournament.venue.en}}</em>
          <a ng-href="#/tournaments/{{tournament.slug}}"></a><a ng-href="#/tournaments/{{tournament.slug}}/edit" class="btn publish-buttons"><i class="fa fa-pencil"></i> edit</a>
      </div>
      <div class="col-md-1">
        <div>
          <a ng-href="#/tournaments/new"><i class="fa fa-plus-square add-new"></i></a>
        </div>
      </div>
    </div>

    <div class="row new-pro row-cards" ng-controller="ProsCtrl">
      <h2 class="left-i"><i class="fa fa-database"></i></h2>
      <h2 translate>LATEST_PROS</h2>
      <div ng-repeat="(id, pro) in pros | orderByPriority | orderBy: 'updated_at':true | limitTo:3" class="col-md-3 well publish-buttons clearfix">
          <img ng-src="{{pro.profile_picture}}">
          <span><a ng-href="#/pros/{{pro.username}}"></a></span>
          {{l10n(pro.name)}}</a>
          <a ng-href="#/pros/{{pro.username}}/edit" class="btn"><i class="fa fa-pencil"></i>edit</a>
      </div>
      <div class="col-md-2">
        <a ng-href="#/pros/new"><i class="fa fa-plus-square add-new"></i></a>
        <a ng-href="#/admin/people"><i class="fa fa-pencil add-new"></i></a>
      </div>
    </div>

    <div class="row row-cards add-press" ng-controller="AdminCtrl">
      <h2 class="left-i"><i class="fa fa-database"></i></h2>
      <h2 translate>PUBLISH_NEW</h2>
      <div ng-repeat="(url, title) in resources" class="col-md-2 well">
          <a ng-href="#/{{url}}/new">{{title}}<i class="fa fa-plus-square add-new"></i></a>
      </div>
    </div>

    <div class="row" ng-controller="FeedbackCtrl">
      <h2 class="left-i"><i class="fa fa-database"></i></h2>
      <h2 translate>LATEST_FEEDBACK</h2>
      <div class="well clearfix" ng-repeat="(id, feedback) in fb | orderByPriority | orderBy: 'created_at':true | limitTo:3">
          <div class="col-md-10">
            <span>{{feedback.created_at | date }}</span> <i class="fa fa-comment-o"></i> <a href="#/feedback">{{feedback.text | characters:200}}</a>
          </div>
      </div>
    </div>

    <div ng-if="currentUser.username == 'martvandeven'" class="row row-cards add-press" ng-controller="AdminCtrl">
      <h2 translate>Super Admin</h2>
      <div class="col-md-2 well">
        <a ng-click="createSimpleLoginAccounts()">Create SimpleLogin Accounts</a>
      </div>
      <div class="col-md-2 well">
        <a ng-click="activateAllUsers()">Activate All Users</a>
      </div>
      <div class="col-md-2 well">
        <a ng-click="convertAllPublicationTimesToUnix()">Convert all article publication date to Unix Epoch time</a>
      </div>
    </div>
  </div>
    </div>
  <div ng-if="!currentUser">
  <h2>Admin Access Restricted.</h2>
  </div>
</div>
