<h1 translate>ADMIN</h1>
<h2 translate>NEWS_ARTICLE</h2>
<div class='row' ng-controller="NewsCtrl">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 translate>ENGLISH</h3></div>
      <div class="panel-body">
        <div class="form-group">
        <input ng-model="article.title_en">
          <textarea ng-model="article.en" redactor cols="30" rows="10"></textarea>
        </div>
        <br/>
        <p>{{article.en}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3 translate>CHINESE</h3></div>
      <div class="panel-body">
        <input ng-model="article.title_zh">
        <div class="form-group">
          <textarea ng-model="article.zh" redactor cols="30" rows="10"></textarea>
        </div>
        <br/>
        <p>{{article.zh}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-9">
    <a ng-click="save()" class="btn btn-warning" translate>SAVE</a>
    <a ng-click="publish()" ng-class="{disabled: article.draft == false}" class="btn btn-primary" translate>PUBLISH</a>    
  </div>

  {{ article.title_en }}

</div>
<h2 translate>Magazines</h2>
<div>
  <a href="#/magazines/new" class="btn btn-primary" translate>PUBLISH_MAGAZINE</a>
</div>
<h2 translate>Press Releases</h2>
<div>
  <a href="#/pressreleases/new" class="btn btn-primary" translate>PUBLISH_PRESS_RELEASE</a>
</div>
<h2 translate>Press Mentions</h2>
<div>
  <a href="#/media/new" class="btn btn-primary" translate>PUBLISH_MEDIA_FEATURE</a>
</div>
<h2 translate>USERS</h2>
<div>
  <a href="#/professionals/register" class="btn btn-primary" translate>REGISTER_USER</a>
</div>