<div id="login-page">
  <div class="auth-forms well" ng-if="currentUser">

    <h2 translate>CHANGEPASSWORD</h2>

    <form ng-submit="changePassword()">
      <p ng-show="error" class="text-danger">{{ error }}</p>
      <label for="oldpassword">Old Password</label>
      <input id="oldpassword" type="password" ng-model="currentUser.oldpassword" placeholder="Password" class="form-control"><br>
      <label for="newpassword">New Password</label>
      <input id="newpassword" type="password" ng-model="currentUser.newpassword" placeholder="Password" class="form-control"><br>
      <input type="submit" value="Change Password" class="btn btn-primary" />
    </form>

  </div>
  <div ng-if="!currentUser">
    <h2>Please log in before changing your password</h2>
  </div>
</div>
