<div class="container admin-styling" id="tournament-checklist">
  <div ng-if="currentUser.role == 'admin'">
  <div class="row search-bar">
    <div class="col-md-12" ng-if="done">
      <h2><i class="fa fa-trophy"></i>Tournament Registration &amp; Checklist </h2>
      <angucomplete-alt id="ex1"
        pause="100"
        selected-object="$parent.user"
        local-data="done"
        search-fields="name_en,name_hk"
        title-field="name_en"
        minlength="1"
        input-class="form-control form-control-small"
        clear-selected="true"
        match-class="highlight"
        placeholder="Type a member name to add them to a division..."/>
    </div>
  </div>
  <div class="row search-bar">
    <div class="col-md-12" ng-if="done">
      <h3>Selected: <span class="label label-success">{{ user.title }}<span></h3>
    </div>
  </div>

  <div ng-controller="TournamentsCtrl">
    <div class="row">
      <div class="col-md-12">
        <h3>Add to roster: </h3>
          <a ng-click="addParticipant(tournament, division, $parent.user)" ng-repeat="division in divisions" class="btn btn-primary"> {{ division }}</a>
          <div class="pull-right" ng-if="currentUser.role === 'admin' ">
            <a class="btn btn-warning" ng-click="setPlayed('signedup')">All Signups -> Played</a>
            <a class="btn btn-warning" ng-click="setPlayed('registered')">All Registered -> Played</a>
            <a class="btn btn-warning" ng-href="#/tournaments/{{ tournament.year }}/{{ tournament.slug }}/edit">Edit</a>
            <a class="btn btn-warning" ng-href="#/tournaments/{{ tournament.year }}/{{ tournament.slug }}/score">Score</a>
          </div>
      </div>
    </div>
    <div ng-repeat="(division, players) in tournament.results">
      <div class="row">
        <h3>{{division}} |  </h3>
      </div>
      <div ng-repeat="player in players" class="row">
        <div class="col-md-12 panel panel-default">
          <span class="pull-left col-md-1">{{ $index +1 }} ) </span>
          <a ng-click="nextStatus(player, tournament, division)" class="col-md-2 label label-default" ng-class="{signedup: 'label-primary', registered: 'label-success', played: 'label-danger'}[player.status]">{{player.status}}</a>
          <a class="col-md-7" href="#/pros/{{player.username}}">{{l10n(player.name)}}</a>
          <a class="col-md-1 btn btn-default close" ng-click="removeParticipant(tournament, division, player)">X</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div ng-if="currentUser.role != 'admin'">
    <h2>You need to be an Admin to use the Checklist.</h2>
  </div>
</div>
