<div class="container" id="contact-page">
	<h2 translate>CONTACT</h2>
	<div class="row">
       	<div class="contact col-md-12">
       		<div class="well">
		        <dl class="dl-horizontal">
		            <dt><h3>Phone</h3></dt>
		            <dd><p> <i class="fa fa-phone"></i> +852 2671 7455</p></dd>
		            <dt><h3>Fax</h3></dt>
		            <dd><p> <i class="fa fa-fax"></i> +852 2671 1489</p></dd>
		            <dt><h3>Address</h3></dt>
		            <dd><p> <i class="fa fa-home"></i> 70 Ting Kok Road, Tai Po, New Territories, Hong Kong</p></dd>
		            <dt><h3>Email</h3></dt>
		            <dd><p> <i class="fa fa-envelope"></i> info@hkpga.com.hk</p></dd>
		        </dl>
	        </div>
        </div>
	</div>
</div>

