<div class="container" id="dashboard-page" ng-controller="FeedbackCtrl">
  <h1 translate>DASHBOARD</h1>
    <div class="row">
      <div class="feedback-form col-md-12">
        <form class="form-horizontal" role="form" ng-submit="post()" ng-class="{ open: isOpen }">
          <h3>Feedback</h3>
          <textarea ng-model="feedback.text" ng-class="{ open: isOpen }" class="feedback" placeholder="Please provide your comments or suggestions. They are anonymous and we will treat them with care.">
          </textarea>
          <input type="text" value="Close" class="pull-right btn btn-primary" ng-click="isOpen = !isOpen"/>
          <input type="submit" value="Send" class="pull-right btn btn-primary" ng-class="{ open: isOpen }"/>
        </form>
      </div>
    </div>

    <a ng-click="isOpen = !isOpen" class="btn btn-danger pull-right btn-feedback">feedback</a>
  
    <div class="row" ng-controller="TournamentsCtrl">
      <h2>UPCOMING TOURNAMENTS</h2>
      <div ng-repeat="(id, tournament) in tournaments | orderByPriority | orderBy: 'start_date':true | limitTo:2" class="col-md-4 well">
        <h3><a ng-href="#tournaments/{{ tournament.slug }}">{{tournament.name[l10n()]}}</a></h3>
        <h4>{{tournament.start_date | date}}</h4>
        <span>{{tournament.no_days}} Day Tournament</span>
        <div>
          <a ng-click="addParticipant(tournament, division, currentUser)" ng-repeat="division in divisions" class="btn btn-default"> {{ division }}</a> 
        </div>
      </div>
    </div>

  <div class="row" ng-controller="NewsCtrl">
    <h2 translate>INTERNAL_ANNOUNCEMENTS</h2>
    <div ng-repeat="(id, article) in articles | orderByPriority | orderBy: 'publish_date':true | filter:{internal:true} | limitTo:3">
        <a ng-href="#/news/{{article.slug}}">{{article.title[l10n()]}}</a>
    </div>
  </div>

  <div class="row">
    <h2 translate>RANKING</h2>
      {{ currentUser.results | json }}
  </div>
</div>