<div class="container" ng-controller="FeedbackCtrl">
  <form class="form-horizontal feedback-form" role="form" ng-submit="post()" ng-class="{ open: isOpen }">
    <h3>Feedback</h3>
    <textarea ng-model="feedback.text" ng-class="{ open: isOpen }" class="feedback" placeholder="Please provide your comments or suggestions. They are anonymous and we will treat them with care.">
    </textarea>
    <input type="text" value="Close" class="pull-right btn btn-primary" ng-click="isOpen = !isOpen"/>
    <input type="submit" value="Send" class="pull-right btn btn-primary" ng-class="{ open: isOpen }"/>
    
  </form>
  <h1 translate>DASHBOARD</h1>

  <a ng-click="isOpen = !isOpen" class="btn btn-danger pull-right btn-feedback">feedback</a>
  
  <div class="row" ng-controller="TournamentsCtrl">
    <div ng-repeat="(id, tournament) in upcoming | orderByPriority | orderBy: 'start_date':false | limitTo:2" class="col-md-4 well">
      <h2><a ng-href="#tournaments/{{ tournament.slug }}">{{tournament.name[l10n()]}}</a></h2>
      <h3>{{tournament.start_date | date}}</h3>
      <span>{{tournament.no_days}}</span>
      <a ng-click="addParticipant(tournament, division, currentUser)" ng-repeat="division in divisions" class="btn btn-primary"> {{ division }}</a> | 
    </div>

  <div class="row" ng-controller="NewsCtrl">
    <h2 translate>INTERNAL_ANNOUNCEMENTS</h2>
    <div ng-repeat="(id, article) in articles | orderByPriority | orderBy: 'publish_date':true | filter:{internal:true} | limitTo:3">
        <a ng-href="#/news/{{article.slug}}">{{article.title[l10n()]}}</a>
    </div>
  </div>

  <div class="row" ng-controller="ScoresCtrl">
    <h2 translate>RANKING</h2>
  </div>
</div>