<form class="form-horizontal" role="form" ng-submit="submit()" class="magazine-forms" ng-controller="MagazineCtrl">
{{ magazine }}
<fieldset>

<!-- Form Name -->
<legend>Magazine</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="magazine-cover-story-en">Cover Story (EN)</label>  
  <div class="col-md-8">
  <input id="magazine-cover-story-en" name="magazine-cover-story-en" type="text" placeholder="e.g. The Hong Kong Professional Golfers" class="form-control input-md" required="" ng-model="magazine.coverstory.en">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="magazine-cover-story-zh-hk">Cover Story (HK)</label>  
  <div class="col-md-8">
  <input id="magazine-cover-story-zh-hk" name="magazine-cover-story-zh-hk" type="text" placeholder="e.g. 香港職業高爾夫球協會宣布委任李家瑜為行政總裁" class="form-control input-md" required="" ng-model="magazine.coverstory.zh_hk">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="magazine-cover-story-zh-cn">Cover Story (CN)</label>  
  <div class="col-md-8">
  <input id="magazine-cover-story-zh-cn" name="magazine-cover-story-zh-cn" type="text" placeholder="e.g. 香港职业高尔夫球协会宣布委任李家瑜为行政总裁" class="form-control input-md" required="" ng-model="magazine.coverstory.zh_cn">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="magazine-cover-story-zh-cn">Issue month </label>  
  <div class="col-md-8">
  <input id="magazine-month" name="magazine-month" type="text" placeholder="e.g. 1" class="form-control input-md" required="" ng-model="magazine.coverstory.zh_cn">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="magazine-cover-story-zh-cn">Issue year </label>  
  <div class="col-md-8">
  <input id="magazine-year" name="magazine-year" type="text" placeholder="e.g. 2014" class="form-control input-md" required="" ng-model="magazine.coverstory.zh_cn">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="magazine-url">URL</label>  
  <div class="col-md-8">
  <input id="magazine-url" name="magazine-url" type="text" placeholder="Google Docs URL" class="form-control input-md" required="" ng-model="magazine.url">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="magazine-url-hk">Cover Image (HK)</label>  
  <div class="col-md-8">
  <input id="magazine-url-hk" name="magazine-url-hk" type="text" placeholder="Google Docs Image ID" class="form-control input-md" required="" ng-model="magazine.cover">
  </div>
</div>

</fieldset>
     <input type="submit" value="Publish" class="btn btn-primary" />
</form>
