<div class="container" id="merit-page">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-trophy"></i>Order of Merit - 2007</h1>
    </div>
    <div class="col-md-4">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table cellspacing="0" class="table table-striped" ng-show="currentLanguage() == 'en'">
        <tbody><tr>
     <th scope="col">POS</th>
     <th scope="col">PLAYER</th>
     <th scope="col" title="14 - 15 May, Clearwater Bay Golf Club">LEG 1</th>
     <th scope="col" title="25-26 June, Discovery Bay Golf Club - Diamond / Ruby">LEG 2</th>
     <th scope="col" title="17-18 Sept, Kau Sai Chau Public Golf Course - North Course">LEG 3</th>
     <th scope="col" title="17-18 Oct, The 5th Yinli - HKPGA Classic 2007, Yinli Foreign Investors Golf Club">LEG 4</th>
     <th scope="col">TOTAL</th>
   </tr>
   <tr>
     <td class="odd">1</td>
     <td class="odd">DEREK FUNG</td>
     <td class="odd">20000</td>
     <td class="odd">5000</td>
     <td class="odd">20000</td>
     <td class="odd">12000</td>
     <td class="odd">57000</td>
   </tr>
   <tr>
     <td class="even">2</td>
     <td class="even">DAVID FREEMAN&nbsp;&nbsp;</td>
     <td class="even">4412.5</td>
     <td class="even">20000</td>
     <td class="even">7000</td>
     <td class="even">20000</td>
     <td class="even">51412.5</td>
   </tr>
   <tr>
     <td class="odd">3</td>
     <td class="odd">ANDREW GOOD&nbsp;</td>
     <td class="odd">10000</td>
     <td class="odd">6000</td>
     <td class="odd">4200</td>
     <td class="odd">2775</td>
     <td class="odd">22975</td>
   </tr>
   <tr>
     <td class="even">4</td>
     <td class="even">JAMES STEWART&nbsp;&nbsp;</td>
     <td class="even">2800</td>
     <td class="even">4216.6</td>
     <td class="even">12000</td>
     <td class="even">2443.3</td>
     <td class="even">21459.9</td>
   </tr>
   <tr>
     <td class="odd">5</td>
     <td class="odd">WONG WOON MAN&nbsp;&nbsp;</td>
     <td class="odd">4412.5</td>
     <td class="odd">10000</td>
     <td class="odd">4600</td>
     <td class="odd">2030</td>
     <td class="odd">21042.5</td>
   </tr>
   <tr>
     <td class="even">6</td>
     <td class="even">DOMINIQUE BOULET&nbsp;</td>
     <td class="even">10000</td>
     <td class="even">4217</td>
     <td class="even">　</td>
     <td class="even">6000</td>
     <td class="even">20217</td>
   </tr>
   <tr>
     <td class="odd">7</td>
     <td class="odd">GRANT GIBSON&nbsp;</td>
     <td class="odd">4412.5</td>
     <td class="odd">3500</td>
     <td class="odd">7000</td>
     <td class="odd">4700</td>
     <td class="odd">19612.5</td>
   </tr>
   <tr>
     <td class="even">8</td>
     <td class="even">TANG SHING CHI</td>
     <td class="even">　</td>
     <td class="even">10000</td>
     <td class="even">5000</td>
     <td class="even">3350</td>
     <td class="even">18350</td>
   </tr>
   <tr>
     <td class="odd">9</td>
     <td class="odd">JOVICK LEE&nbsp;</td>
     <td class="odd">3200</td>
     <td class="odd">4216.6</td>
     <td class="odd">　</td>
     <td class="odd">8000</td>
     <td class="odd">15416.6</td>
   </tr>
   <tr>
     <td class="even">10</td>
     <td class="even">PAUL RILEY&nbsp;</td>
     <td class="even">4412.5</td>
     <td class="even">2100</td>
     <td class="even">3350</td>
     <td class="even">4700</td>
     <td class="even">14562.5</td>
   </tr>
   <tr>
     <td class="odd">11</td>
     <td class="odd">ERIC MA</td>
     <td class="odd">2475</td>
     <td class="odd">2675</td>
     <td class="odd">3850</td>
     <td class="odd">2240</td>
     <td class="odd">11240</td>
   </tr>
   <tr>
     <td class="even">12</td>
     <td class="even">PETER DOWNIE</td>
     <td class="even">6000</td>
     <td class="even">2525</td>
     <td class="even">　</td>
     <td class="even">2625</td>
     <td class="even">11150</td>
   </tr>
   <tr>
     <td class="odd">13</td>
     <td class="odd">DUCKY TANG</td>
     <td class="odd">2800</td>
     <td class="odd">2750</td>
     <td class="odd">2850</td>
     <td class="odd">2443.3</td>
     <td class="odd">10843.3</td>
   </tr>
   <tr>
     <td class="even">14</td>
     <td class="even">SUNG HANG MAN</td>
     <td class="even">3200</td>
     <td class="even">2825</td>
     <td class="even">2550</td>
     <td class="even">2240</td>
     <td class="even">10815</td>
   </tr>
   <tr>
     <td class="odd">15</td>
     <td class="odd">CHENG KA YIU&nbsp;</td>
     <td class="odd">2380</td>
     <td class="odd">2675</td>
     <td class="odd">3350</td>
     <td class="odd">1890</td>
     <td class="odd">10295</td>
   </tr>
   <tr>
     <td class="even">16</td>
     <td class="even">MARK SMITH</td>
     <td class="even">2575</td>
     <td class="even">2900</td>
     <td class="even">2475</td>
     <td class="even">1750</td>
     <td class="even">9700</td>
   </tr>
   <tr>
     <td class="odd">17</td>
     <td class="odd">DANNY KAN</td>
     <td class="odd">2170</td>
     <td class="odd">2275</td>
     <td class="odd">2310</td>
     <td class="odd">2625</td>
     <td class="odd">9380</td>
   </tr>
   <tr>
     <td class="even">18</td>
     <td class="even">LEE MAN LOK</td>
     <td class="even">2675</td>
     <td class="even">1890</td>
     <td class="even">2750</td>
     <td class="even">2030</td>
     <td class="even">9345</td>
   </tr>
   <tr>
     <td class="odd">19</td>
     <td class="odd">ALEXANDER CHENG</td>
     <td class="odd">2800</td>
     <td class="odd">1995</td>
     <td class="odd">2310</td>
     <td class="odd">2030</td>
     <td class="odd">9135</td>
   </tr>
   <tr>
     <td class="even">20</td>
     <td class="even">LAM CHUN CHEUNG&nbsp;</td>
     <td class="even">2675</td>
     <td class="even">2450</td>
     <td class="even">2100</td>
     <td class="even">1820</td>
     <td class="even">9045</td>
   </tr>
   <tr>
     <td class="odd">21</td>
     <td class="odd">RICHARD KAN</td>
     <td class="odd">3200</td>
     <td class="odd">　</td>
     <td class="odd">2675</td>
     <td class="odd">2775</td>
     <td class="odd">8650</td>
   </tr>
   <tr>
     <td class="even">22</td>
     <td class="even">SHUM HING NAM</td>
     <td class="even">1960</td>
     <td class="even">2825</td>
     <td class="even">2600</td>
     <td class="even">1260</td>
     <td class="even">8645</td>
   </tr>
   <tr>
     <td class="odd">23</td>
     <td class="odd">FUNG WAI KIT</td>
     <td class="odd">1540</td>
     <td class="odd">2525</td>
     <td class="odd">1855</td>
     <td class="odd">2625</td>
     <td class="odd">8545</td>
   </tr>
   <tr>
     <td class="even">24</td>
     <td class="even">LI CHUN MAN</td>
     <td class="even">1960</td>
     <td class="even">1820</td>
     <td class="even">1855</td>
     <td class="even">2625</td>
     <td class="even">8260</td>
   </tr>
   <tr>
     <td class="odd">25</td>
     <td class="odd">LIM CHOON SHIN</td>
     <td class="odd">2275</td>
     <td class="odd">2600</td>
     <td class="odd">　</td>
     <td class="odd">3350</td>
     <td class="odd">8225</td>
   </tr>
   <tr>
     <td class="even">26</td>
     <td class="even">TANG MAN KEE</td>
     <td class="even">2475</td>
     <td class="even">3200</td>
     <td class="even">2475</td>
     <td class="even">　</td>
     <td class="even">8150</td>
   </tr>
   <tr>
     <td class="odd">27</td>
     <td class="odd">FUNG WAI KUEN</td>
     <td class="odd">2100</td>
     <td class="odd">　</td>
     <td class="odd">2850</td>
     <td class="odd">2875</td>
     <td class="odd">7825</td>
   </tr>
   <tr>
     <td class="even">28</td>
     <td class="even">SAMMY NG</td>
     <td class="even">1470</td>
     <td class="even">2275</td>
     <td class="even">2675</td>
     <td class="even">1400</td>
     <td class="even">7820</td>
   </tr>
   <tr>
     <td class="odd">29</td>
     <td class="odd">MA KIN MAN</td>
     <td class="odd">2275</td>
     <td class="odd">2275</td>
     <td class="odd">2100</td>
     <td class="odd">1050</td>
     <td class="odd">7700</td>
   </tr>
   <tr>
     <td class="even">30</td>
     <td class="even">CHEUNG KIN PING</td>
     <td class="even">1960</td>
     <td class="even">　</td>
     <td class="even">2310</td>
     <td class="even">2875</td>
     <td class="even">7145</td>
   </tr>
   <tr>
     <td class="odd">31</td>
     <td class="odd">BRAD SCHADEWITZ</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">2850</td>
     <td class="odd">4025</td>
     <td class="odd">6875</td>
   </tr>
   <tr>
     <td class="even">32</td>
     <td class="even">VAUGHAN MASON</td>
     <td class="even">　</td>
     <td class="even">2275</td>
     <td class="even">2100</td>
     <td class="even">1610</td>
     <td class="even">5985</td>
   </tr>
   <tr>
     <td class="odd">33</td>
     <td class="odd">TONG CHUN PO</td>
     <td class="odd">1400</td>
     <td class="odd">　</td>
     <td class="odd">1960</td>
     <td class="odd">2443.3</td>
     <td class="odd">5803.3</td>
   </tr>
   <tr>
     <td class="even">&nbsp; </td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
   </tr>
   <tr>
     <td class="odd">35</td>
     <td class="odd">WONG HOI KIN</td>
     <td class="odd">1785</td>
     <td class="odd">1715</td>
     <td class="odd">　</td>
     <td class="odd">1400</td>
     <td class="odd">4900</td>
   </tr>
   <tr>
     <td class="even">36</td>
     <td class="even">WILSON CHOY&nbsp;</td>
     <td class="even">2575</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">2240</td>
     <td class="even">4815</td>
   </tr>
   <tr>
     <td class="odd">37</td>
     <td class="odd">GEOFFREY SO&nbsp;</td>
     <td class="odd">　</td>
     <td class="odd">1995</td>
     <td class="odd">1540</td>
     <td class="odd">980</td>
     <td class="odd">4515</td>
   </tr>
   <tr>
     <td class="even">38</td>
     <td class="even">YAU SUI MING&nbsp;</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">4025</td>
     <td class="even">4025</td>
   </tr>
   <tr>
     <td class="odd">39</td>
     <td class="odd">MARK MOSSIP</td>
     <td class="odd">1785</td>
     <td class="odd">1715</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">3500</td>
   </tr>
   <tr>
     <td class="even">40</td>
     <td class="even">WONG HOI FUNG</td>
     <td class="even">1680</td>
     <td class="even">1610</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">3290</td>
   </tr>
   <tr>
     <td class="odd">41</td>
     <td class="odd">LAI WAI WA</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">1750</td>
     <td class="odd">1155</td>
     <td class="odd">2905</td>
   </tr>
   <tr>
     <td class="even">42</td>
     <td class="even">ALFREDO MORALES&nbsp;</td>
     <td class="even">　</td>
     <td class="even">1470</td>
     <td class="even">　</td>
     <td class="even">875</td>
     <td class="even">2345</td>
   </tr>
   <tr>
     <td class="odd">43</td>
     <td class="odd">LAI WAI MAN</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">1610</td>
     <td class="odd">560</td>
     <td class="odd">2170</td>
   </tr>
   <tr>
     <td class="even">T44</td>
     <td class="even">CHEUNG KWAI HONG</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">1610</td>
     <td class="even">1610</td>
   </tr>
   <tr>
     <td class="odd">T44</td>
     <td class="odd">MICHAEL LONG</td>
     <td class="odd">1610</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">1610</td>
   </tr>
   <tr>
     <td class="even">T44</td>
     <td class="even">TANG SHU WING</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">1610</td>
     <td class="even">1610</td>
   </tr>
   <tr>
     <td class="odd">47</td>
     <td class="odd">ALFONSO MORALES&nbsp;</td>
     <td class="odd">　</td>
     <td class="odd">1540</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">1540</td>
   </tr>
   <tr>
     <td class="even">48</td>
     <td class="even">SUNG YAU FUK</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">1400</td>
     <td class="even">1400</td>
   </tr>
   <tr>
     <td class="odd">49</td>
     <td class="odd">MAN HUNG LAP</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">875</td>
     <td class="odd">875</td>
   </tr>
   <tr>
     <td class="even">50</td>
     <td class="even">YIP ON WAH</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">770</td>
     <td class="even">770</td>
   </tr>
   <tr>
     <td class="odd">51</td>
     <td class="odd">CHIU TAT KWAI</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">700</td>
     <td class="odd">700</td>
   </tr>
   <tr>
     <td class="even">52</td>
     <td class="even">KAVIN KAM</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">630</td>
     <td class="even">630</td>
   </tr>
   </tbody>
      </table>
      <table cellspacing="0" class="table table-striped" ng-hide="currentLanguage() == 'en'">
        <tbody><tr>
     <th scope="col">排名</th>
     <th scope="col">球手</th>
     <th scope="col" title="2007年5月14-15日, 清水灣高爾夫球鄉村俱樂部">第1站</th>
     <th scope="col" title="2007年6月25-26日, 愉景灣高爾夫球會 - 鑽石/紅寶石球場">第2站</th>
     <th scope="col" title="2007年9月17-18日, 滘西洲公眾高爾夫球場 - 北場">第3站</th>
     <th scope="col" title="2007年10月17-18日,第五屆銀利香港職業高爾夫經典賽, 銀利外商高爾夫球俱樂部">第4站</th>
     <th scope="col">積分</th>
   </tr>
   <tr>
     <td class="odd">1</td>
     <td class="odd">馮裕德</td>
     <td class="odd">20000</td>
     <td class="odd">5000</td>
     <td class="odd">20000</td>
     <td class="odd">12000</td>
     <td class="odd">57000</td>
   </tr>
   <tr>
     <td class="even">2</td>
     <td class="even">DAVID FREEMAN&nbsp;&nbsp;</td>
     <td class="even">4412.5</td>
     <td class="even">20000</td>
     <td class="even">7000</td>
     <td class="even">20000</td>
     <td class="even">51412.5</td>
   </tr>
   <tr>
     <td class="odd">3</td>
     <td class="odd">ANDREW GOOD&nbsp;</td>
     <td class="odd">10000</td>
     <td class="odd">6000</td>
     <td class="odd">4200</td>
     <td class="odd">2775</td>
     <td class="odd">22975</td>
   </tr>
   <tr>
     <td class="even">4</td>
     <td class="even">JAMES STEWART&nbsp;&nbsp;</td>
     <td class="even">2800</td>
     <td class="even">4216.6</td>
     <td class="even">12000</td>
     <td class="even">2443.3</td>
     <td class="even">21459.9</td>
   </tr>
   <tr>
     <td class="odd">5</td>
     <td class="odd">黃煥民&nbsp;&nbsp;</td>
     <td class="odd">4412.5</td>
     <td class="odd">10000</td>
     <td class="odd">4600</td>
     <td class="odd">2030</td>
     <td class="odd">21042.5</td>
   </tr>
   <tr>
     <td class="even">6</td>
     <td class="even">DOMINIQUE BOULET&nbsp;</td>
     <td class="even">10000</td>
     <td class="even">4217</td>
     <td class="even">　</td>
     <td class="even">6000</td>
     <td class="even">20217</td>
   </tr>
   <tr>
     <td class="odd">7</td>
     <td class="odd">GRANT GIBSON&nbsp;</td>
     <td class="odd">4412.5</td>
     <td class="odd">3500</td>
     <td class="odd">7000</td>
     <td class="odd">4700</td>
     <td class="odd">19612.5</td>
   </tr>
   <tr>
     <td class="even">8</td>
     <td class="even">鄧承志</td>
     <td class="even">　</td>
     <td class="even">10000</td>
     <td class="even">5000</td>
     <td class="even">3350</td>
     <td class="even">18350</td>
   </tr>
   <tr>
     <td class="odd">9</td>
     <td class="odd">李永基&nbsp;</td>
     <td class="odd">3200</td>
     <td class="odd">4216.6</td>
     <td class="odd">　</td>
     <td class="odd">8000</td>
     <td class="odd">15416.6</td>
   </tr>
   <tr>
     <td class="even">10</td>
     <td class="even">PAUL RILEY&nbsp;</td>
     <td class="even">4412.5</td>
     <td class="even">2100</td>
     <td class="even">3350</td>
     <td class="even">4700</td>
     <td class="even">14562.5</td>
   </tr>
   <tr>
     <td class="odd">11</td>
     <td class="odd">ERIC MA</td>
     <td class="odd">2475</td>
     <td class="odd">2675</td>
     <td class="odd">3850</td>
     <td class="odd">2240</td>
     <td class="odd">11240</td>
   </tr>
   <tr>
     <td class="even">12</td>
     <td class="even">PETER DOWNIE</td>
     <td class="even">6000</td>
     <td class="even">2525</td>
     <td class="even">　</td>
     <td class="even">2625</td>
     <td class="even">11150</td>
   </tr>
   <tr>
     <td class="odd">13</td>
     <td class="odd">鄧偉俊</td>
     <td class="odd">2800</td>
     <td class="odd">2750</td>
     <td class="odd">2850</td>
     <td class="odd">2443.3</td>
     <td class="odd">10843.3</td>
   </tr>
   <tr>
     <td class="even">14</td>
     <td class="even">宋幸文</td>
     <td class="even">3200</td>
     <td class="even">2825</td>
     <td class="even">2550</td>
     <td class="even">2240</td>
     <td class="even">10815</td>
   </tr>
   <tr>
     <td class="odd">15</td>
     <td class="odd">鄭家耀&nbsp;</td>
     <td class="odd">2380</td>
     <td class="odd">2675</td>
     <td class="odd">3350</td>
     <td class="odd">1890</td>
     <td class="odd">10295</td>
   </tr>
   <tr>
     <td class="even">16</td>
     <td class="even">MARK SMITH</td>
     <td class="even">2575</td>
     <td class="even">2900</td>
     <td class="even">2475</td>
     <td class="even">1750</td>
     <td class="even">9700</td>
   </tr>
   <tr>
     <td class="odd">17</td>
     <td class="odd">簡栢堅</td>
     <td class="odd">2170</td>
     <td class="odd">2275</td>
     <td class="odd">2310</td>
     <td class="odd">2625</td>
     <td class="odd">9380</td>
   </tr>
   <tr>
     <td class="even">18</td>
     <td class="even">李文樂</td>
     <td class="even">2675</td>
     <td class="even">1890</td>
     <td class="even">2750</td>
     <td class="even">2030</td>
     <td class="even">9345</td>
   </tr>
   <tr>
     <td class="odd">19</td>
     <td class="odd">鄭德謙</td>
     <td class="odd">2800</td>
     <td class="odd">1995</td>
     <td class="odd">2310</td>
     <td class="odd">2030</td>
     <td class="odd">9135</td>
   </tr>
   <tr>
     <td class="even">20</td>
     <td class="even">林春祥&nbsp;</td>
     <td class="even">2675</td>
     <td class="even">2450</td>
     <td class="even">2100</td>
     <td class="even">1820</td>
     <td class="even">9045</td>
   </tr>
   <tr>
     <td class="odd">21</td>
     <td class="odd">簡志強</td>
     <td class="odd">3200</td>
     <td class="odd">　</td>
     <td class="odd">2675</td>
     <td class="odd">2775</td>
     <td class="odd">8650</td>
   </tr>
   <tr>
     <td class="even">22</td>
     <td class="even">沈興南</td>
     <td class="even">1960</td>
     <td class="even">2825</td>
     <td class="even">2600</td>
     <td class="even">1260</td>
     <td class="even">8645</td>
   </tr>
   <tr>
     <td class="odd">23</td>
     <td class="odd">馮偉傑</td>
     <td class="odd">1540</td>
     <td class="odd">2525</td>
     <td class="odd">1855</td>
     <td class="odd">2625</td>
     <td class="odd">8545</td>
   </tr>
   <tr>
     <td class="even">24</td>
     <td class="even">李俊民</td>
     <td class="even">1960</td>
     <td class="even">1820</td>
     <td class="even">1855</td>
     <td class="even">2625</td>
     <td class="even">8260</td>
   </tr>
   <tr>
     <td class="odd">25</td>
     <td class="odd">LIM CHOON SHIN</td>
     <td class="odd">2275</td>
     <td class="odd">2600</td>
     <td class="odd">　</td>
     <td class="odd">3350</td>
     <td class="odd">8225</td>
   </tr>
   <tr>
     <td class="even">26</td>
     <td class="even">鄧敏祺</td>
     <td class="even">2475</td>
     <td class="even">3200</td>
     <td class="even">2475</td>
     <td class="even">　</td>
     <td class="even">8150</td>
   </tr>
   <tr>
     <td class="odd">27</td>
     <td class="odd">馮偉權</td>
     <td class="odd">2100</td>
     <td class="odd">　</td>
     <td class="odd">2850</td>
     <td class="odd">2875</td>
     <td class="odd">7825</td>
   </tr>
   <tr>
     <td class="even">28</td>
     <td class="even">吳坤河</td>
     <td class="even">1470</td>
     <td class="even">2275</td>
     <td class="even">2675</td>
     <td class="even">1400</td>
     <td class="even">7820</td>
   </tr>
   <tr>
     <td class="odd">29</td>
     <td class="odd">馬健民</td>
     <td class="odd">2275</td>
     <td class="odd">2275</td>
     <td class="odd">2100</td>
     <td class="odd">1050</td>
     <td class="odd">7700</td>
   </tr>
   <tr>
     <td class="even">30</td>
     <td class="even">張建平</td>
     <td class="even">1960</td>
     <td class="even">　</td>
     <td class="even">2310</td>
     <td class="even">2875</td>
     <td class="even">7145</td>
   </tr>
   <tr>
     <td class="odd">31</td>
     <td class="odd">謝道偉</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">2850</td>
     <td class="odd">4025</td>
     <td class="odd">6875</td>
   </tr>
   <tr>
     <td class="even">32</td>
     <td class="even">VAUGHAN MASON</td>
     <td class="even">　</td>
     <td class="even">2275</td>
     <td class="even">2100</td>
     <td class="even">1610</td>
     <td class="even">5985</td>
   </tr>
   <tr>
     <td class="odd">33</td>
     <td class="odd">唐進寶</td>
     <td class="odd">1400</td>
     <td class="odd">　</td>
     <td class="odd">1960</td>
     <td class="odd">2443.3</td>
     <td class="odd">5803.3</td>
   </tr>
   <tr>
     <td class="even">&nbsp; </td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
     <td class="even">&nbsp;</td>
   </tr>
   <tr>
     <td class="odd">35</td>
     <td class="odd">黃海健</td>
     <td class="odd">1785</td>
     <td class="odd">1715</td>
     <td class="odd">　</td>
     <td class="odd">1400</td>
     <td class="odd">4900</td>
   </tr>
   <tr>
     <td class="even">36</td>
     <td class="even">蔡維臣&nbsp;</td>
     <td class="even">2575</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">2240</td>
     <td class="even">4815</td>
   </tr>
   <tr>
     <td class="odd">37</td>
     <td class="odd">蘇勁濤&nbsp;</td>
     <td class="odd">　</td>
     <td class="odd">1995</td>
     <td class="odd">1540</td>
     <td class="odd">980</td>
     <td class="odd">4515</td>
   </tr>
   <tr>
     <td class="even">38</td>
     <td class="even">丘水明&nbsp;</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">4025</td>
     <td class="even">4025</td>
   </tr>
   <tr>
     <td class="odd">39</td>
     <td class="odd">MARK MOSSIP</td>
     <td class="odd">1785</td>
     <td class="odd">1715</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">3500</td>
   </tr>
   <tr>
     <td class="even">40</td>
     <td class="even">王海鋒</td>
     <td class="even">1680</td>
     <td class="even">1610</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">3290</td>
   </tr>
   <tr>
     <td class="odd">41</td>
     <td class="odd">黎偉華</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">1750</td>
     <td class="odd">1155</td>
     <td class="odd">2905</td>
   </tr>
   <tr>
     <td class="even">42</td>
     <td class="even">ALFREDO MORALES&nbsp;</td>
     <td class="even">　</td>
     <td class="even">1470</td>
     <td class="even">　</td>
     <td class="even">875</td>
     <td class="even">2345</td>
   </tr>
   <tr>
     <td class="odd">43</td>
     <td class="odd">黎偉民</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">1610</td>
     <td class="odd">560</td>
     <td class="odd">2170</td>
   </tr>
   <tr>
     <td class="even">T44</td>
     <td class="even">張桂康</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">1610</td>
     <td class="even">1610</td>
   </tr>
   <tr>
     <td class="odd">T44</td>
     <td class="odd">MICHAEL LONG</td>
     <td class="odd">1610</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">1610</td>
   </tr>
   <tr>
     <td class="even">T44</td>
     <td class="even">鄧樹榮</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">1610</td>
     <td class="even">1610</td>
   </tr>
   <tr>
     <td class="odd">47</td>
     <td class="odd">ALFONSO MORALES&nbsp;</td>
     <td class="odd">　</td>
     <td class="odd">1540</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">1540</td>
   </tr>
   <tr>
     <td class="even">48</td>
     <td class="even">宋有福</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">1400</td>
     <td class="even">1400</td>
   </tr>
   <tr>
     <td class="odd">49</td>
     <td class="odd">萬雄立</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">875</td>
     <td class="odd">875</td>
   </tr>
   <tr>
     <td class="even">50</td>
     <td class="even">葉安華</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">770</td>
     <td class="even">770</td>
   </tr>
   <tr>
     <td class="odd">51</td>
     <td class="odd">招達貴</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">　</td>
     <td class="odd">700</td>
     <td class="odd">700</td>
   </tr>
   <tr>
     <td class="even">52</td>
     <td class="even">甘家榮</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">　</td>
     <td class="even">630</td>
     <td class="even">630</td>
   </tr>
   </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
    </div>
  </div>
</div>
