<div class="container" id="merit-page">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-trophy"></i>Order of Merit - 2010</h1>
    </div>
    <div class="col-md-4">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table cellspacing="0" class="table table-striped" ng-show="currentLanguage() == 'en'">
        <tbody><tr>
              <th scope="col">POS</th>
              <th scope="col">PLAYER</th>
              <th scope="col" title="19 April, 2010, KSC Public Golf Course - North Course">LEG 1</th>
              <th scope="col" title="24-25 May, 2010, The Hong Kong Golf Club">LEG 2</th>
              <th scope="col" title="30-31, Aug, 2010, Discovery Bay Golf Club">LEG 3</th>
              <th scope="col" title="28-30 September, 2010, KSC Public Golf Course - North Course">LEG 4</th>
              <th scope="col" title="11-12 Oct, 2010, Yinli Foreign Investors Golf Club">LEG 5</th>
              <th scope="col">TOTAL</th>
            </tr>
            <tr>
              <td class="odd">1</td>
              <td class="odd">Wong Woon Man</td>
              <td class="odd">4237.5</td>
              <td class="odd">1885</td>
              <td class="odd">15850</td>
              <td class="odd">23775</td>
              <td class="odd">7293.3</td>
              <td class="odd">53040.8</td>
            </tr>
            <tr>
              <td class="even">2</td>
              <td class="even">Grant Gibson</td>
              <td class="even">767.5</td>
              <td class="even">15850</td>
              <td class="even">3390</td>
              <td class="even">16275</td>
              <td class="even">3745</td>
              <td class="even">40027.5</td>
            </tr>
            <tr>
              <td class="odd">3</td>
              <td class="odd">Andrew Good</td>
              <td class="odd">1784</td>
              <td class="odd">1380</td>
              <td class="odd">4515</td>
              <td class="odd">6150</td>
              <td class="odd">7293.3</td>
              <td class="odd">21122.3</td>
            </tr>
            <tr>
              <td class="even">4</td>
              <td class="even">Jang Chel Hoo&nbsp;</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">1173.3</td>
              <td class="even">1552.5</td>
              <td class="even">15850</td>
              <td class="even">18575.8</td>
            </tr>
            <tr>
              <td class="odd">5</td>
              <td class="odd">Ducky Tang</td>
              <td class="odd">7925</td>
              <td class="odd">870</td>
              <td class="odd">8475</td>
              <td class="odd">-</td>
              <td class="odd">1065</td>
              <td class="odd">18335</td>
            </tr>
            <tr>
              <td class="even">6</td>
              <td class="even">Dominique Boulet</td>
              <td class="even">870</td>
              <td class="even">10850</td>
              <td class="even">2540</td>
              <td class="even">3127.5</td>
              <td class="even">-</td>
              <td class="even">17387.5</td>
            </tr>
            <tr>
              <td class="odd">7</td>
              <td class="odd">Jovick Lee</td>
              <td class="odd">-</td>
              <td class="odd">3745</td>
              <td class="odd">1173.3</td>
              <td class="odd">8273</td>
              <td class="odd">1570</td>
              <td class="odd">14761.3</td>
            </tr>
            <tr>
              <td class="even">8</td>
              <td class="even">Tang Man Kee</td>
              <td class="even">1784</td>
              <td class="even">1380</td>
              <td class="even">4515</td>
              <td class="even">4725</td>
              <td class="even">1885</td>
              <td class="even">14289</td>
            </tr>
            <tr>
              <td class="odd">9</td>
              <td class="odd">Liu Kai Mung</td>
              <td class="odd">767.5</td>
              <td class="odd">2910</td>
              <td class="odd">1410</td>
              <td class="odd">1665</td>
              <td class="odd">7293.3</td>
              <td class="odd">14045.8</td>
            </tr>
            <tr>
              <td class="even">10</td>
              <td class="even">Fung Wai Kuen</td>
              <td class="even">1042.5</td>
              <td class="even">1213.3</td>
              <td class="even">8475</td>
              <td class="even">2115</td>
              <td class="even">750</td>
              <td class="even">13595.8</td>
            </tr>
            <tr>
              <td class="odd">11</td>
              <td class="odd">Tang Shing Chi</td>
              <td class="odd">870</td>
              <td class="odd">4930</td>
              <td class="odd">1583.3</td>
              <td class="odd">2438</td>
              <td class="odd">3745</td>
              <td class="odd">13566.3</td>
            </tr>
            <tr>
              <td class="even">12</td>
              <td class="even">James Stewart&nbsp;</td>
              <td class="even">457.5</td>
              <td class="even">1140</td>
              <td class="even">1095</td>
              <td class="even">8273</td>
              <td class="even">1885</td>
              <td class="even">12850.5</td>
            </tr>
            <tr>
              <td class="odd">13</td>
              <td class="odd">Jimmy Ko**</td>
              <td class="odd">661</td>
              <td class="odd">6100</td>
              <td class="odd">750</td>
              <td class="odd">2115</td>
              <td class="odd">1410</td>
              <td class="odd">11036</td>
            </tr>
            <tr>
              <td class="even">14</td>
              <td class="even">Cheng Ka Yiu</td>
              <td class="even">661</td>
              <td class="even">1065</td>
              <td class="even">2540</td>
              <td class="even">3765</td>
              <td class="even">960</td>
              <td class="even">8991</td>
            </tr>
            <tr>
              <td class="odd">15</td>
              <td class="odd">Eric Ma</td>
              <td class="odd">1784</td>
              <td class="odd">1570</td>
              <td class="odd">2540</td>
              <td class="odd">1890</td>
              <td class="odd">750</td>
              <td class="odd">8534</td>
            </tr>
            <tr>
              <td class="even">16</td>
              <td class="even">Sung Hang Man</td>
              <td class="even">406.6</td>
              <td class="even">3745</td>
              <td class="even">750</td>
              <td class="even">1815</td>
              <td class="even">1410</td>
              <td class="even">8126.6</td>
            </tr>
            <tr>
              <td class="odd">17</td>
              <td class="odd">Wong Ching Kwan</td>
              <td class="odd">4237.5</td>
              <td class="odd">810</td>
              <td class="odd">700</td>
              <td class="odd">990</td>
              <td class="odd">813.3</td>
              <td class="odd">7550.8</td>
            </tr>
            <tr>
              <td class="even">18</td>
              <td class="even">Michael Cheung</td>
              <td class="even">1784</td>
              <td class="even">1885</td>
              <td class="even">827.5</td>
              <td class="even">1755</td>
              <td class="even">1213.3</td>
              <td class="even">7464.8</td>
            </tr>
            <tr>
              <td class="odd">19</td>
              <td class="odd">Fung Wai Kit</td>
              <td class="odd">406.6</td>
              <td class="odd">650</td>
              <td class="odd">700</td>
              <td class="odd">3127.5</td>
              <td class="odd">2540</td>
              <td class="odd">7424.1</td>
            </tr>
            <tr>
              <td class="even">20</td>
              <td class="even">Timothy Tang</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">4725</td>
              <td class="even">2540</td>
              <td class="even">7265</td>
            </tr>
            <tr>
              <td class="odd">21</td>
              <td class="odd">Akashi Shintaro</td>
              <td class="odd">457.5</td>
              <td class="odd">760</td>
              <td class="odd">1410</td>
              <td class="odd">1980</td>
              <td class="odd">2540</td>
              <td class="odd">7147.5</td>
            </tr>
            <tr>
              <td class="even">22</td>
              <td class="even">Wilson Choy</td>
              <td class="even">577.5</td>
              <td class="even">2355</td>
              <td class="even">1173.3</td>
              <td class="even">1552.5</td>
              <td class="even">1140</td>
              <td class="even">6798.3</td>
            </tr>
            <tr>
              <td class="odd">23</td>
              <td class="odd">Lee Man Lok</td>
              <td class="odd">1042.5</td>
              <td class="odd">1380</td>
              <td class="odd">827.5</td>
              <td class="odd">2700</td>
              <td class="odd">813.3</td>
              <td class="odd">6763.3</td>
            </tr>
            <tr>
              <td class="even">24</td>
              <td class="even">Paul Riley</td>
              <td class="even">457.5</td>
              <td class="even">1065</td>
              <td class="even">570</td>
              <td class="even">2438</td>
              <td class="even">1213.3</td>
              <td class="even">5743.8</td>
            </tr>
            <tr>
              <td class="odd">25</td>
              <td class="odd">Derek Fung</td>
              <td class="odd">1784</td>
              <td class="odd">2355</td>
              <td class="odd">1583.3</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">5722.3</td>
            </tr>
            <tr>
              <td class="even">26</td>
              <td class="even">Cheung Kwai Hong</td>
              <td class="even">502.5</td>
              <td class="even">650</td>
              <td class="even">1095</td>
              <td class="even">2250</td>
              <td class="even">1213.3</td>
              <td class="even">5710.8</td>
            </tr>
            <tr>
              <td class="odd">27</td>
              <td class="odd">Jason Kwok</td>
              <td class="odd">406.6</td>
              <td class="odd">960</td>
              <td class="odd">1800</td>
              <td class="odd">1065</td>
              <td class="odd">1410</td>
              <td class="odd">5641.6</td>
            </tr>
            <tr>
              <td class="even">28</td>
              <td class="even">Lee Kwok Yan</td>
              <td class="even">375</td>
              <td class="even">1213.3</td>
              <td class="even">1320</td>
              <td class="even">1260</td>
              <td class="even">1065</td>
              <td class="even">5233.3</td>
            </tr>
            <tr>
              <td class="odd">29</td>
              <td class="odd">Lam Chun Cheung</td>
              <td class="odd">375</td>
              <td class="odd">570</td>
              <td class="odd">1970</td>
              <td class="odd">1552.5</td>
              <td class="odd">710</td>
              <td class="odd">5177.5</td>
            </tr>
            <tr>
              <td class="even">30</td>
              <td class="even">Alexander Cheng</td>
              <td class="even">555</td>
              <td class="even">1065</td>
              <td class="even">1035</td>
              <td class="even">1552.5</td>
              <td class="even">960</td>
              <td class="even">5167.5</td>
            </tr>
            <tr>
              <td class="odd">31</td>
              <td class="odd">Ernie Lee&nbsp;</td>
              <td class="odd">661</td>
              <td class="odd">730</td>
              <td class="odd">750</td>
              <td class="odd">1395</td>
              <td class="odd">1410</td>
              <td class="odd">4946</td>
            </tr>
            <tr>
              <td class="even">32</td>
              <td class="even">Wong Hoi Kin</td>
              <td class="even">310</td>
              <td class="even">1680</td>
              <td class="even">915</td>
              <td class="even">885</td>
              <td class="even">900</td>
              <td class="even">4690</td>
            </tr>
            <tr>
              <td class="odd">33</td>
              <td class="odd">Mark Mossip</td>
              <td class="odd">457.5</td>
              <td class="odd">960</td>
              <td class="odd">915</td>
              <td class="odd">1185</td>
              <td class="odd">813.3</td>
              <td class="odd">4330.8</td>
            </tr>
            <tr>
              <td class="even">34</td>
              <td class="even">Sammy Ng</td>
              <td class="even">-</td>
              <td class="even">650</td>
              <td class="even">1035</td>
              <td class="even">1710</td>
              <td class="even">640</td>
              <td class="even">4035</td>
            </tr>
            <tr>
              <td class="odd">35</td>
              <td class="odd">Danny Kan</td>
              <td class="odd">577.5</td>
              <td class="odd">550</td>
              <td class="odd">827.5</td>
              <td class="odd">1155</td>
              <td class="odd">870</td>
              <td class="odd">3980</td>
            </tr>
            <tr>
              <td class="even">36</td>
              <td class="even">Man Hung Lap</td>
              <td class="even">310</td>
              <td class="even">570</td>
              <td class="even">990</td>
              <td class="even">945</td>
              <td class="even">1065</td>
              <td class="even">3880</td>
            </tr>
            <tr>
              <td class="odd">37</td>
              <td class="odd">Shum Hing Nam</td>
              <td class="odd">325</td>
              <td class="odd">-</td>
              <td class="odd">1260</td>
              <td class="odd">1395</td>
              <td class="odd">750</td>
              <td class="odd">3730</td>
            </tr>
            <tr>
              <td class="even">38</td>
              <td class="even">Ma Kin Man</td>
              <td class="even">350</td>
              <td class="even">760</td>
              <td class="even">590</td>
              <td class="even">1260</td>
              <td class="even">580</td>
              <td class="even">3540</td>
            </tr>
            <tr>
              <td class="odd">39</td>
              <td class="odd">Kan King Yau&nbsp;</td>
              <td class="odd">-</td>
              <td class="odd">790</td>
              <td class="odd">-</td>
              <td class="odd">990</td>
              <td class="odd">1680</td>
              <td class="odd">3460</td>
            </tr>
            <tr>
              <td class="even">40</td>
              <td class="even">Tony Lee</td>
              <td class="even">375</td>
              <td class="even">550</td>
              <td class="even">550</td>
              <td class="even">1260</td>
              <td class="even">580</td>
              <td class="even">3315</td>
            </tr>
            <tr>
              <td class="odd">41</td>
              <td class="odd">Alex Tang</td>
              <td class="odd">-</td>
              <td class="odd">650</td>
              <td class="odd">1583.3</td>
              <td class="odd">-</td>
              <td class="odd">1065</td>
              <td class="odd">3298.3</td>
            </tr>
            <tr>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
            </tr>
            <tr>
              <td class="odd">43</td>
              <td class="odd">Taylor Chiang&nbsp;</td>
              <td class="odd">335</td>
              <td class="odd">550</td>
              <td class="odd">610</td>
              <td class="odd">825</td>
              <td class="odd">550</td>
              <td class="odd">2870</td>
            </tr>
            <tr>
              <td class="even">44</td>
              <td class="even">Daniel Liu</td>
              <td class="even">-</td>
              <td class="even">960</td>
              <td class="even">-</td>
              <td class="even">1110</td>
              <td class="even">680</td>
              <td class="even">2750</td>
            </tr>
            <tr>
              <td class="odd">45</td>
              <td class="odd">Li Chun Man</td>
              <td class="odd">532.5</td>
              <td class="odd">870</td>
              <td class="odd">-</td>
              <td class="odd">1110</td>
              <td class="odd">-</td>
              <td class="odd">2512.5</td>
            </tr>
            <tr>
              <td class="even">46</td>
              <td class="even">Tong Chun Po</td>
              <td class="even">-</td>
              <td class="even">1065</td>
              <td class="even">-</td>
              <td class="even">1395</td>
              <td class="even">-</td>
              <td class="even">2460</td>
            </tr>
            <tr>
              <td class="odd">47</td>
              <td class="odd">Stephen Hong</td>
              <td class="odd">502.5</td>
              <td class="odd">-</td>
              <td class="odd">960</td>
              <td class="odd">855</td>
              <td class="odd">-</td>
              <td class="odd">2317.5</td>
            </tr>
            <tr>
              <td class="even">48</td>
              <td class="even">Vaughan Mason</td>
              <td class="even">661</td>
              <td class="even">710</td>
              <td class="even">827.5</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2198.5</td>
            </tr>
            <tr>
              <td class="odd">49</td>
              <td class="odd">Lai Wai Man</td>
              <td class="odd">-</td>
              <td class="odd">550</td>
              <td class="odd">660</td>
              <td class="odd">825</td>
              <td class="odd">-</td>
              <td class="odd">2035</td>
            </tr>
            <tr>
              <td class="even">50</td>
              <td class="even">Geoffrey So</td>
              <td class="even">350</td>
              <td class="even">550</td>
              <td class="even">-</td>
              <td class="even">1035</td>
              <td class="even">-</td>
              <td class="even">1935</td>
            </tr>
            <tr>
              <td class="odd">51</td>
              <td class="odd">Kam Hui</td>
              <td class="odd">661</td>
              <td class="odd">1213.3</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1874.3</td>
            </tr>
            <tr>
              <td class="even">52</td>
              <td class="even">Brad Schadewitz</td>
              <td class="even">-</td>
              <td class="even">1500</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">1500</td>
            </tr>
            <tr>
              <td class="odd">53</td>
              <td class="odd">Siu Kam Piu</td>
              <td class="odd">-</td>
              <td class="odd">870</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">610</td>
              <td class="odd">1480</td>
            </tr>
            <tr>
              <td class="even">T54</td>
              <td class="even">James Robbins&nbsp;</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">550</td>
              <td class="even">825</td>
              <td class="even">-</td>
              <td class="even">1375</td>
            </tr>
            <tr>
              <td class="odd">T54</td>
              <td class="odd">Liu Wai Yin</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">825</td>
              <td class="odd">550</td>
              <td class="odd">1375</td>
            </tr>
            <tr>
              <td class="even">56</td>
              <td class="even">Michael Long</td>
              <td class="even">-</td>
              <td class="even">650</td>
              <td class="even">660</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">1310</td>
            </tr>
            <tr>
              <td class="odd">57</td>
              <td class="odd">Stanley Leung&nbsp;</td>
              <td class="odd">-</td>
              <td class="odd">570</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">680</td>
              <td class="odd">1250</td>
            </tr>
            <tr>
              <td class="even">58</td>
              <td class="even">Tang Shu Wing</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">960</td>
              <td class="even">960</td>
            </tr>
          </tbody>
      </table>
      <table cellspacing="0" class="table table-striped" ng-hide="currentLanguage() == 'en'">
        <tbody><tr>
              <th scope="col">排名</th>
              <th scope="col">球手</th>
              <th scope="col" title="2010年4月19日, 滘西洲公眾高爾夫球場 - 北場">第1站</th>
              <th scope="col" title="2010年5月24-25日, 香港高爾夫球會">第2站</th>
              <th scope="col" title="2010年8月30-31日, 愉景灣高爾夫球會">第3站</th>
              <th scope="col" title="2010年9月28-30日, 滘西洲公眾高爾夫球場 - 北場">第4站</th>
              <th scope="col" title="2010年10月11-12日, 銀利高爾夫球會">第5站</th>
              <th scope="col">積分</th>
            </tr>
            <tr>
              <td class="odd">1</td>
              <td class="odd">Wong Woon Man</td>
              <td class="odd">4237.5</td>
              <td class="odd">1885</td>
              <td class="odd">15850</td>
              <td class="odd">23775</td>
              <td class="odd">7293.3</td>
              <td class="odd">53040.8</td>
            </tr>
            <tr>
              <td class="even">2</td>
              <td class="even">Grant Gibson</td>
              <td class="even">767.5</td>
              <td class="even">15850</td>
              <td class="even">3390</td>
              <td class="even">16275</td>
              <td class="even">3745</td>
              <td class="even">40027.5</td>
            </tr>
            <tr>
              <td class="odd">3</td>
              <td class="odd">Andrew Good</td>
              <td class="odd">1784</td>
              <td class="odd">1380</td>
              <td class="odd">4515</td>
              <td class="odd">6150</td>
              <td class="odd">7293.3</td>
              <td class="odd">21122.3</td>
            </tr>
            <tr>
              <td class="even">4</td>
              <td class="even">Jang Chel Hoo&nbsp;</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">1173.3</td>
              <td class="even">1552.5</td>
              <td class="even">15850</td>
              <td class="even">18575.8</td>
            </tr>
            <tr>
              <td class="odd">5</td>
              <td class="odd">Ducky Tang</td>
              <td class="odd">7925</td>
              <td class="odd">870</td>
              <td class="odd">8475</td>
              <td class="odd">-</td>
              <td class="odd">1065</td>
              <td class="odd">18335</td>
            </tr>
            <tr>
              <td class="even">6</td>
              <td class="even">Dominique Boulet</td>
              <td class="even">870</td>
              <td class="even">10850</td>
              <td class="even">2540</td>
              <td class="even">3127.5</td>
              <td class="even">-</td>
              <td class="even">17387.5</td>
            </tr>
            <tr>
              <td class="odd">7</td>
              <td class="odd">Jovick Lee</td>
              <td class="odd">-</td>
              <td class="odd">3745</td>
              <td class="odd">1173.3</td>
              <td class="odd">8273</td>
              <td class="odd">1570</td>
              <td class="odd">14761.3</td>
            </tr>
            <tr>
              <td class="even">8</td>
              <td class="even">Tang Man Kee</td>
              <td class="even">1784</td>
              <td class="even">1380</td>
              <td class="even">4515</td>
              <td class="even">4725</td>
              <td class="even">1885</td>
              <td class="even">14289</td>
            </tr>
            <tr>
              <td class="odd">9</td>
              <td class="odd">Liu Kai Mung</td>
              <td class="odd">767.5</td>
              <td class="odd">2910</td>
              <td class="odd">1410</td>
              <td class="odd">1665</td>
              <td class="odd">7293.3</td>
              <td class="odd">14045.8</td>
            </tr>
            <tr>
              <td class="even">10</td>
              <td class="even">Fung Wai Kuen</td>
              <td class="even">1042.5</td>
              <td class="even">1213.3</td>
              <td class="even">8475</td>
              <td class="even">2115</td>
              <td class="even">750</td>
              <td class="even">13595.8</td>
            </tr>
            <tr>
              <td class="odd">11</td>
              <td class="odd">Tang Shing Chi</td>
              <td class="odd">870</td>
              <td class="odd">4930</td>
              <td class="odd">1583.3</td>
              <td class="odd">2438</td>
              <td class="odd">3745</td>
              <td class="odd">13566.3</td>
            </tr>
            <tr>
              <td class="even">12</td>
              <td class="even">James Stewart&nbsp;</td>
              <td class="even">457.5</td>
              <td class="even">1140</td>
              <td class="even">1095</td>
              <td class="even">8273</td>
              <td class="even">1885</td>
              <td class="even">12850.5</td>
            </tr>
            <tr>
              <td class="odd">13</td>
              <td class="odd">Jimmy Ko**</td>
              <td class="odd">661</td>
              <td class="odd">6100</td>
              <td class="odd">750</td>
              <td class="odd">2115</td>
              <td class="odd">1410</td>
              <td class="odd">11036</td>
            </tr>
            <tr>
              <td class="even">14</td>
              <td class="even">Cheng Ka Yiu</td>
              <td class="even">661</td>
              <td class="even">1065</td>
              <td class="even">2540</td>
              <td class="even">3765</td>
              <td class="even">960</td>
              <td class="even">8991</td>
            </tr>
            <tr>
              <td class="odd">15</td>
              <td class="odd">Eric Ma</td>
              <td class="odd">1784</td>
              <td class="odd">1570</td>
              <td class="odd">2540</td>
              <td class="odd">1890</td>
              <td class="odd">750</td>
              <td class="odd">8534</td>
            </tr>
            <tr>
              <td class="even">16</td>
              <td class="even">Sung Hang Man</td>
              <td class="even">406.6</td>
              <td class="even">3745</td>
              <td class="even">750</td>
              <td class="even">1815</td>
              <td class="even">1410</td>
              <td class="even">8126.6</td>
            </tr>
            <tr>
              <td class="odd">17</td>
              <td class="odd">Wong Ching Kwan</td>
              <td class="odd">4237.5</td>
              <td class="odd">810</td>
              <td class="odd">700</td>
              <td class="odd">990</td>
              <td class="odd">813.3</td>
              <td class="odd">7550.8</td>
            </tr>
            <tr>
              <td class="even">18</td>
              <td class="even">Michael Cheung</td>
              <td class="even">1784</td>
              <td class="even">1885</td>
              <td class="even">827.5</td>
              <td class="even">1755</td>
              <td class="even">1213.3</td>
              <td class="even">7464.8</td>
            </tr>
            <tr>
              <td class="odd">19</td>
              <td class="odd">Fung Wai Kit</td>
              <td class="odd">406.6</td>
              <td class="odd">650</td>
              <td class="odd">700</td>
              <td class="odd">3127.5</td>
              <td class="odd">2540</td>
              <td class="odd">7424.1</td>
            </tr>
            <tr>
              <td class="even">20</td>
              <td class="even">Timothy Tang</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">4725</td>
              <td class="even">2540</td>
              <td class="even">7265</td>
            </tr>
            <tr>
              <td class="odd">21</td>
              <td class="odd">Akashi Shintaro</td>
              <td class="odd">457.5</td>
              <td class="odd">760</td>
              <td class="odd">1410</td>
              <td class="odd">1980</td>
              <td class="odd">2540</td>
              <td class="odd">7147.5</td>
            </tr>
            <tr>
              <td class="even">22</td>
              <td class="even">Wilson Choy</td>
              <td class="even">577.5</td>
              <td class="even">2355</td>
              <td class="even">1173.3</td>
              <td class="even">1552.5</td>
              <td class="even">1140</td>
              <td class="even">6798.3</td>
            </tr>
            <tr>
              <td class="odd">23</td>
              <td class="odd">Lee Man Lok</td>
              <td class="odd">1042.5</td>
              <td class="odd">1380</td>
              <td class="odd">827.5</td>
              <td class="odd">2700</td>
              <td class="odd">813.3</td>
              <td class="odd">6763.3</td>
            </tr>
            <tr>
              <td class="even">24</td>
              <td class="even">Paul Riley</td>
              <td class="even">457.5</td>
              <td class="even">1065</td>
              <td class="even">570</td>
              <td class="even">2438</td>
              <td class="even">1213.3</td>
              <td class="even">5743.8</td>
            </tr>
            <tr>
              <td class="odd">25</td>
              <td class="odd">Derek Fung</td>
              <td class="odd">1784</td>
              <td class="odd">2355</td>
              <td class="odd">1583.3</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">5722.3</td>
            </tr>
            <tr>
              <td class="even">26</td>
              <td class="even">Cheung Kwai Hong</td>
              <td class="even">502.5</td>
              <td class="even">650</td>
              <td class="even">1095</td>
              <td class="even">2250</td>
              <td class="even">1213.3</td>
              <td class="even">5710.8</td>
            </tr>
            <tr>
              <td class="odd">27</td>
              <td class="odd">Jason Kwok</td>
              <td class="odd">406.6</td>
              <td class="odd">960</td>
              <td class="odd">1800</td>
              <td class="odd">1065</td>
              <td class="odd">1410</td>
              <td class="odd">5641.6</td>
            </tr>
            <tr>
              <td class="even">28</td>
              <td class="even">Lee Kwok Yan</td>
              <td class="even">375</td>
              <td class="even">1213.3</td>
              <td class="even">1320</td>
              <td class="even">1260</td>
              <td class="even">1065</td>
              <td class="even">5233.3</td>
            </tr>
            <tr>
              <td class="odd">29</td>
              <td class="odd">Lam Chun Cheung</td>
              <td class="odd">375</td>
              <td class="odd">570</td>
              <td class="odd">1970</td>
              <td class="odd">1552.5</td>
              <td class="odd">710</td>
              <td class="odd">5177.5</td>
            </tr>
            <tr>
              <td class="even">30</td>
              <td class="even">Alexander Cheng</td>
              <td class="even">555</td>
              <td class="even">1065</td>
              <td class="even">1035</td>
              <td class="even">1552.5</td>
              <td class="even">960</td>
              <td class="even">5167.5</td>
            </tr>
            <tr>
              <td class="odd">31</td>
              <td class="odd">Ernie Lee&nbsp;</td>
              <td class="odd">661</td>
              <td class="odd">730</td>
              <td class="odd">750</td>
              <td class="odd">1395</td>
              <td class="odd">1410</td>
              <td class="odd">4946</td>
            </tr>
            <tr>
              <td class="even">32</td>
              <td class="even">Wong Hoi Kin</td>
              <td class="even">310</td>
              <td class="even">1680</td>
              <td class="even">915</td>
              <td class="even">885</td>
              <td class="even">900</td>
              <td class="even">4690</td>
            </tr>
            <tr>
              <td class="odd">33</td>
              <td class="odd">Mark Mossip</td>
              <td class="odd">457.5</td>
              <td class="odd">960</td>
              <td class="odd">915</td>
              <td class="odd">1185</td>
              <td class="odd">813.3</td>
              <td class="odd">4330.8</td>
            </tr>
            <tr>
              <td class="even">34</td>
              <td class="even">Sammy Ng</td>
              <td class="even">-</td>
              <td class="even">650</td>
              <td class="even">1035</td>
              <td class="even">1710</td>
              <td class="even">640</td>
              <td class="even">4035</td>
            </tr>
            <tr>
              <td class="odd">35</td>
              <td class="odd">Danny Kan</td>
              <td class="odd">577.5</td>
              <td class="odd">550</td>
              <td class="odd">827.5</td>
              <td class="odd">1155</td>
              <td class="odd">870</td>
              <td class="odd">3980</td>
            </tr>
            <tr>
              <td class="even">36</td>
              <td class="even">Man Hung Lap</td>
              <td class="even">310</td>
              <td class="even">570</td>
              <td class="even">990</td>
              <td class="even">945</td>
              <td class="even">1065</td>
              <td class="even">3880</td>
            </tr>
            <tr>
              <td class="odd">37</td>
              <td class="odd">Shum Hing Nam</td>
              <td class="odd">325</td>
              <td class="odd">-</td>
              <td class="odd">1260</td>
              <td class="odd">1395</td>
              <td class="odd">750</td>
              <td class="odd">3730</td>
            </tr>
            <tr>
              <td class="even">38</td>
              <td class="even">Ma Kin Man</td>
              <td class="even">350</td>
              <td class="even">760</td>
              <td class="even">590</td>
              <td class="even">1260</td>
              <td class="even">580</td>
              <td class="even">3540</td>
            </tr>
            <tr>
              <td class="odd">39</td>
              <td class="odd">Kan King Yau&nbsp;</td>
              <td class="odd">-</td>
              <td class="odd">790</td>
              <td class="odd">-</td>
              <td class="odd">990</td>
              <td class="odd">1680</td>
              <td class="odd">3460</td>
            </tr>
            <tr>
              <td class="even">40</td>
              <td class="even">Tony Lee</td>
              <td class="even">375</td>
              <td class="even">550</td>
              <td class="even">550</td>
              <td class="even">1260</td>
              <td class="even">580</td>
              <td class="even">3315</td>
            </tr>
            <tr>
              <td class="odd">41</td>
              <td class="odd">Alex Tang</td>
              <td class="odd">-</td>
              <td class="odd">650</td>
              <td class="odd">1583.3</td>
              <td class="odd">-</td>
              <td class="odd">1065</td>
              <td class="odd">3298.3</td>
            </tr>
            <tr>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
            </tr>
            <tr>
              <td class="odd">43</td>
              <td class="odd">Taylor Chiang&nbsp;</td>
              <td class="odd">335</td>
              <td class="odd">550</td>
              <td class="odd">610</td>
              <td class="odd">825</td>
              <td class="odd">550</td>
              <td class="odd">2870</td>
            </tr>
            <tr>
              <td class="even">44</td>
              <td class="even">Daniel Liu</td>
              <td class="even">-</td>
              <td class="even">960</td>
              <td class="even">-</td>
              <td class="even">1110</td>
              <td class="even">680</td>
              <td class="even">2750</td>
            </tr>
            <tr>
              <td class="odd">45</td>
              <td class="odd">Li Chun Man</td>
              <td class="odd">532.5</td>
              <td class="odd">870</td>
              <td class="odd">-</td>
              <td class="odd">1110</td>
              <td class="odd">-</td>
              <td class="odd">2512.5</td>
            </tr>
            <tr>
              <td class="even">46</td>
              <td class="even">Tong Chun Po</td>
              <td class="even">-</td>
              <td class="even">1065</td>
              <td class="even">-</td>
              <td class="even">1395</td>
              <td class="even">-</td>
              <td class="even">2460</td>
            </tr>
            <tr>
              <td class="odd">47</td>
              <td class="odd">Stephen Hong</td>
              <td class="odd">502.5</td>
              <td class="odd">-</td>
              <td class="odd">960</td>
              <td class="odd">855</td>
              <td class="odd">-</td>
              <td class="odd">2317.5</td>
            </tr>
            <tr>
              <td class="even">48</td>
              <td class="even">Vaughan Mason</td>
              <td class="even">661</td>
              <td class="even">710</td>
              <td class="even">827.5</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2198.5</td>
            </tr>
            <tr>
              <td class="odd">49</td>
              <td class="odd">Lai Wai Man</td>
              <td class="odd">-</td>
              <td class="odd">550</td>
              <td class="odd">660</td>
              <td class="odd">825</td>
              <td class="odd">-</td>
              <td class="odd">2035</td>
            </tr>
            <tr>
              <td class="even">50</td>
              <td class="even">Geoffrey So</td>
              <td class="even">350</td>
              <td class="even">550</td>
              <td class="even">-</td>
              <td class="even">1035</td>
              <td class="even">-</td>
              <td class="even">1935</td>
            </tr>
            <tr>
              <td class="odd">51</td>
              <td class="odd">Kam Hui</td>
              <td class="odd">661</td>
              <td class="odd">1213.3</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1874.3</td>
            </tr>
            <tr>
              <td class="even">52</td>
              <td class="even">Brad Schadewitz</td>
              <td class="even">-</td>
              <td class="even">1500</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">1500</td>
            </tr>
            <tr>
              <td class="odd">53</td>
              <td class="odd">Siu Kam Piu</td>
              <td class="odd">-</td>
              <td class="odd">870</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">610</td>
              <td class="odd">1480</td>
            </tr>
            <tr>
              <td class="even">T54</td>
              <td class="even">James Robbins&nbsp;</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">550</td>
              <td class="even">825</td>
              <td class="even">-</td>
              <td class="even">1375</td>
            </tr>
            <tr>
              <td class="odd">T54</td>
              <td class="odd">Liu Wai Yin</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">825</td>
              <td class="odd">550</td>
              <td class="odd">1375</td>
            </tr>
            <tr>
              <td class="even">56</td>
              <td class="even">Michael Long</td>
              <td class="even">-</td>
              <td class="even">650</td>
              <td class="even">660</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">1310</td>
            </tr>
            <tr>
              <td class="odd">57</td>
              <td class="odd">Stanley Leung&nbsp;</td>
              <td class="odd">-</td>
              <td class="odd">570</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">680</td>
              <td class="odd">1250</td>
            </tr>
            <tr>
              <td class="even">58</td>
              <td class="even">Tang Shu Wing</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">960</td>
              <td class="even">960</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
    </div>
  </div>
</div>
