<div class="container" id="merit-page">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-trophy"></i>Order of Merit - 2008</h1>
    </div>
    <div class="col-md-4">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table cellspacing="0" class="table table-striped" ng-show="currentLanguage() == 'en'">
        <tbody><tr>
              <th scope="col">POS</th>
              <th scope="col">PLAYER</th>
              <th scope="col" title="28-29 April, 2008, Clearwater Bay Golf Club">LEG 1</th>
              <th scope="col" title="27-28 May, 2008, The Jockey Club KSC Public Golf Course">LEG 2</th>
              <th scope="col" title="8-9 September, 2008, Discovery Bay Golf Club - Jade / Ruby Course">LEG 3</th>
              <th scope="col" title="20-21 October, 2008, Yinli Foreign Investors Golf Club">LEG 4</th>
              <th scope="col">TOTAL</th>
            </tr>
            <tr>
              <td class="odd">1</td>
              <td class="odd">Wong Woon Man</td>
              <td class="odd">4600</td>
              <td class="odd">12000</td>
              <td class="odd">6000</td>
              <td class="odd">20000</td>
              <td class="odd">42600</td>
            </tr>
            <tr>
              <td class="even">2</td>
              <td class="even">David Freeman</td>
              <td class="even">10000</td>
              <td class="even">20000</td>
              <td class="even">8000</td>
              <td class="even">4400</td>
              <td class="even">42400</td>
            </tr>
            <tr>
              <td class="odd">3</td>
              <td class="odd">Tang Shing Chi</td>
              <td class="odd">20000</td>
              <td class="odd">1680</td>
              <td class="odd">12000</td>
              <td class="odd">2700</td>
              <td class="odd">36380</td>
            </tr>
            <tr>
              <td class="even">4</td>
              <td class="even">Grant Gibson</td>
              <td class="even">5000</td>
              <td class="even">5000</td>
              <td class="even">20000</td>
              <td class="even">6333.3</td>
              <td class="even">36333.3</td>
            </tr>
            <tr>
              <td class="odd">5</td>
              <td class="odd">Derek Fung</td>
              <td class="odd">6000</td>
              <td class="odd">8000</td>
              <td class="odd">3500</td>
              <td class="odd">12000</td>
              <td class="odd">29500</td>
            </tr>
            <tr>
              <td class="even">6</td>
              <td class="even">Tang Man Kee</td>
              <td class="even">3350</td>
              <td class="even">4400</td>
              <td class="even">2850</td>
              <td class="even">6333.3</td>
              <td class="even">16933.3</td>
            </tr>
            <tr>
              <td class="odd">7</td>
              <td class="odd">Dominique Boulet</td>
              <td class="odd">10000</td>
              <td class="odd">4400</td>
              <td class="odd">2345</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">16745</td>
            </tr>
            <tr>
              <td class="even">8</td>
              <td class="even">Lee Man Lok</td>
              <td class="even">3850</td>
              <td class="even">6000</td>
              <td class="even">3200</td>
              <td class="even">2650</td>
              <td class="even">15700</td>
            </tr>
            <tr>
              <td class="odd">9</td>
              <td class="odd">Ducky Tang</td>
              <td class="odd">2700</td>
              <td class="odd">2750</td>
              <td class="odd">5000</td>
              <td class="odd">2475</td>
              <td class="odd">12925</td>
            </tr>
            <tr>
              <td class="even">10</td>
              <td class="even">Paul Riley</td>
              <td class="even">&nbsp;</td>
              <td class="even">2700</td>
              <td class="even">2675</td>
              <td class="even">6333.3</td>
              <td class="even">11708.3</td>
            </tr>
            <tr>
              <td class="odd">11</td>
              <td class="odd">Liu Kai Mung</td>
              <td class="odd">2650</td>
              <td class="odd">2650</td>
              <td class="odd">1890</td>
              <td class="odd">4400</td>
              <td class="odd">11590</td>
            </tr>
            <tr>
              <td class="even">12</td>
              <td class="even">Wilson Choy</td>
              <td class="even">2500</td>
              <td class="even">2500</td>
              <td class="even">2475</td>
              <td class="even">3850</td>
              <td class="even">11325</td>
            </tr>
            <tr>
              <td class="odd">13</td>
              <td class="odd">James Stewart</td>
              <td class="odd">2750</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">4400</td>
              <td class="odd">3350</td>
              <td class="odd">10500</td>
            </tr>
            <tr>
              <td class="even">14</td>
              <td class="even">Vaughan Mason</td>
              <td class="even">3350</td>
              <td class="even">2527</td>
              <td class="even">1820</td>
              <td class="even">2800</td>
              <td class="even">10497</td>
            </tr>
            <tr>
              <td class="odd">15</td>
              <td class="odd">Andrew Good</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">3112.5</td>
              <td class="odd">3850</td>
              <td class="odd">3350</td>
              <td class="odd">10312.5</td>
            </tr>
            <tr>
              <td class="even">16</td>
              <td class="even">Sung Hang Man</td>
              <td class="even">2310</td>
              <td class="even">3112.5</td>
              <td class="even">2675</td>
              <td class="even">1575</td>
              <td class="even">9672.5</td>
            </tr>
            <tr>
              <td class="odd">17</td>
              <td class="odd">Cheng KaYiu</td>
              <td class="odd">2800</td>
              <td class="odd">2527</td>
              <td class="odd">2100</td>
              <td class="odd">2205</td>
              <td class="odd">9632</td>
            </tr>
            <tr>
              <td class="even">18</td>
              <td class="even">Li Chun Man</td>
              <td class="even">2100</td>
              <td class="even">2800</td>
              <td class="even">2675</td>
              <td class="even">1400</td>
              <td class="even">8975</td>
            </tr>
            <tr>
              <td class="odd">19</td>
              <td class="odd">Fung Wai Kuen&nbsp;</td>
              <td class="odd">4200</td>
              <td class="odd">2415</td>
              <td class="odd">2100</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">8715</td>
            </tr>
            <tr>
              <td class="even">20</td>
              <td class="even">Eric Ma</td>
              <td class="even">&nbsp;</td>
              <td class="even">3850</td>
              <td class="even">2100</td>
              <td class="even">2575</td>
              <td class="even">8525</td>
            </tr>
            <tr>
              <td class="odd">21</td>
              <td class="odd">Mark Mossip</td>
              <td class="odd">2100</td>
              <td class="odd">1995</td>
              <td class="odd">2475</td>
              <td class="odd">1925</td>
              <td class="odd">8495</td>
            </tr>
            <tr>
              <td class="even">22</td>
              <td class="even">Cheung Kin Ping</td>
              <td class="even">2875</td>
              <td class="even">1995</td>
              <td class="even">2100</td>
              <td class="even">1295</td>
              <td class="even">8265</td>
            </tr>
            <tr>
              <td class="odd">23</td>
              <td class="odd">Danny Kan</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">3112.5</td>
              <td class="odd">2900</td>
              <td class="odd">2205</td>
              <td class="odd">8217.5</td>
            </tr>
            <tr>
              <td class="even">24</td>
              <td class="even">Shum Hing Nam</td>
              <td class="even">1750</td>
              <td class="even">2415</td>
              <td class="even">2675</td>
              <td class="even">1120</td>
              <td class="even">7960</td>
            </tr>
            <tr>
              <td class="odd">25</td>
              <td class="odd">Alexander Cheng</td>
              <td class="odd">2310</td>
              <td class="odd">2275</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2575</td>
              <td class="odd">7160</td>
            </tr>
            <tr>
              <td class="even">26</td>
              <td class="even">Wong Hoi Kin</td>
              <td class="even">2310</td>
              <td class="even">1855</td>
              <td class="even">1540</td>
              <td class="even">1190</td>
              <td class="even">6895</td>
            </tr>
            <tr>
              <td class="odd">27</td>
              <td class="odd">Geoffrey So</td>
              <td class="odd">1540</td>
              <td class="odd">1750</td>
              <td class="odd">1715</td>
              <td class="odd">1750</td>
              <td class="odd">6755</td>
            </tr>
            <tr>
              <td class="even">28</td>
              <td class="even">Richard Kan</td>
              <td class="even">2600</td>
              <td class="even">2170</td>
              <td class="even">&nbsp;</td>
              <td class="even">1925</td>
              <td class="even">6695</td>
            </tr>
            <tr>
              <td class="odd">29</td>
              <td class="odd">Jason Kwok</td>
              <td class="odd">1960</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2100</td>
              <td class="odd">2380</td>
              <td class="odd">6440</td>
            </tr>
            <tr>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
            </tr>
            <tr>
              <td class="odd">31</td>
              <td class="odd">Tony Lee</td>
              <td class="odd">1365</td>
              <td class="odd">2275</td>
              <td class="odd">1155</td>
              <td class="odd">1050</td>
              <td class="odd">5845</td>
            </tr>
            <tr>
              <td class="even">T32</td>
              <td class="even">Fung Wai Kit</td>
              <td class="even">1540</td>
              <td class="even">&nbsp;</td>
              <td class="even">2345</td>
              <td class="even">1925</td>
              <td class="even">5810</td>
            </tr>
            <tr>
              <td class="odd">T32</td>
              <td class="odd">Ma Kin Man</td>
              <td class="odd">2100</td>
              <td class="odd">2100</td>
              <td class="odd">1610</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">5810</td>
            </tr>
            <tr>
              <td class="even">34</td>
              <td class="even">Kevin Hind</td>
              <td class="even">2875</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">2800</td>
              <td class="even">5675</td>
            </tr>
            <tr>
              <td class="odd">35</td>
              <td class="odd">Jovick Lee</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2675</td>
              <td class="odd">2900</td>
              <td class="odd">5575</td>
            </tr>
            <tr>
              <td class="even">36</td>
              <td class="even">Lam Chun Cheung</td>
              <td class="even">2500</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">2475</td>
              <td class="even">4975</td>
            </tr>
            <tr>
              <td class="odd">37</td>
              <td class="odd">Lim Choon Shin</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2675</td>
              <td class="odd">2205</td>
              <td class="odd">4880</td>
            </tr>
            <tr>
              <td class="even">T38</td>
              <td class="even">Lai Wai Man</td>
              <td class="even">1365</td>
              <td class="even">1540</td>
              <td class="even">1050</td>
              <td class="even">700</td>
              <td class="even">4655</td>
            </tr>
            <tr>
              <td class="odd">T38</td>
              <td class="odd">Stephen Hong</td>
              <td class="odd">1680</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">1400</td>
              <td class="odd">1575</td>
              <td class="odd">4655</td>
            </tr>
            <tr>
              <td class="even">40</td>
              <td class="even">Tong Chun Po</td>
              <td class="even">1855</td>
              <td class="even">&nbsp;</td>
              <td class="even">1155</td>
              <td class="even">1575</td>
              <td class="even">4585</td>
            </tr>
            <tr>
              <td class="odd">41</td>
              <td class="odd">Trevor Ball</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">4400</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">4400</td>
            </tr>
            <tr>
              <td class="even">42</td>
              <td class="even">Sammy Ng</td>
              <td class="even">&nbsp;</td>
              <td class="even">1855</td>
              <td class="even">1715</td>
              <td class="even">&nbsp;</td>
              <td class="even">3570</td>
            </tr>
            <tr>
              <td class="odd">43</td>
              <td class="odd">Wong Hoi Fung</td>
              <td class="odd">1855</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">1295</td>
              <td class="odd">3150</td>
            </tr>
            <tr>
              <td class="even">44</td>
              <td class="even">Brad Schadewitz</td>
              <td class="even">&nbsp;</td>
              <td class="even">3112.5</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">3112.5</td>
            </tr>
            <tr>
              <td class="odd">45</td>
              <td class="odd">Michael Long</td>
              <td class="odd">1540</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">1470</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">3010</td>
            </tr>
            <tr>
              <td class="even">46</td>
              <td class="even">Sung Yau Fuk</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">2800</td>
              <td class="even">2800</td>
            </tr>
            <tr>
              <td class="odd">47</td>
              <td class="odd">Sung Sing</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2205</td>
              <td class="odd">2205</td>
            </tr>
            <tr>
              <td class="even">48</td>
              <td class="even">Cheung Kwai Hong</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">1925</td>
              <td class="even">1925</td>
            </tr>
            <tr>
              <td class="odd">49</td>
              <td class="odd">Lai Wai Che</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">1575</td>
              <td class="odd">1575</td>
            </tr>
            <tr>
              <td class="even">50</td>
              <td class="even">Alfonso Morales</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">1260</td>
              <td class="even">&nbsp;</td>
              <td class="even">1260</td>
            </tr>
            <tr>
              <td class="odd">51</td>
              <td class="odd">Kavin Kam</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">945</td>
              <td class="odd">945</td>
            </tr>
            <tr>
              <td class="even">52</td>
              <td class="even">Man Hung Lap</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">840</td>
              <td class="even">840</td>
            </tr>
            <tr>
              <td class="odd">53</td>
              <td class="odd">Mok Yuk Lun</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">770</td>
              <td class="odd">770</td>
            </tr>
            </tbody>
      </table>
      <table cellspacing="0" class="table table-striped" ng-hide="currentLanguage() == 'en'">
        <tbody><tr>
              <th scope="col">排名</th>
              <th scope="col">球手</th>
              <th scope="col" title="2008年4月28-29日, 清水灣高爾夫球鄉村俱樂部">第1站</th>
              <th scope="col" title="2008年5月27-28日, 滘西洲公眾高爾夫球場 - 北場">第2站</th>
              <th scope="col" title="2008年9月8-9日, 愉景灣高爾夫球會 - 翡翠/紅寶石球場">第3站</th>
              <th scope="col" title="2008年10月20-21日, 銀利外商高爾夫球俱樂部">第4站</th>
              <th scope="col">積分</th>
            </tr>
            <tr>
              <td class="odd">1</td>
              <td class="odd">黃煥民</td>
              <td class="odd">4600</td>
              <td class="odd">12000</td>
              <td class="odd">6000</td>
              <td class="odd">20000</td>
              <td class="odd">42600</td>
            </tr>
            <tr>
              <td class="even">2</td>
              <td class="even">David Freeman</td>
              <td class="even">10000</td>
              <td class="even">20000</td>
              <td class="even">8000</td>
              <td class="even">4400</td>
              <td class="even">42400</td>
            </tr>
            <tr>
              <td class="odd">3</td>
              <td class="odd">鄧承志</td>
              <td class="odd">20000</td>
              <td class="odd">1680</td>
              <td class="odd">12000</td>
              <td class="odd">2700</td>
              <td class="odd">36380</td>
            </tr>
            <tr>
              <td class="even">4</td>
              <td class="even">Grant Gibson</td>
              <td class="even">5000</td>
              <td class="even">5000</td>
              <td class="even">20000</td>
              <td class="even">6333.3</td>
              <td class="even">36333.3</td>
            </tr>
            <tr>
              <td class="odd">5</td>
              <td class="odd">馮裕德</td>
              <td class="odd">6000</td>
              <td class="odd">8000</td>
              <td class="odd">3500</td>
              <td class="odd">12000</td>
              <td class="odd">29500</td>
            </tr>
            <tr>
              <td class="even">6</td>
              <td class="even">鄧敏祺</td>
              <td class="even">3350</td>
              <td class="even">4400</td>
              <td class="even">2850</td>
              <td class="even">6333.3</td>
              <td class="even">16933.3</td>
            </tr>
            <tr>
              <td class="odd">7</td>
              <td class="odd">Dominique Boulet</td>
              <td class="odd">10000</td>
              <td class="odd">4400</td>
              <td class="odd">2345</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">16745</td>
            </tr>
            <tr>
              <td class="even">8</td>
              <td class="even">李文樂</td>
              <td class="even">3850</td>
              <td class="even">6000</td>
              <td class="even">3200</td>
              <td class="even">2650</td>
              <td class="even">15700</td>
            </tr>
            <tr>
              <td class="odd">9</td>
              <td class="odd">鄧偉俊</td>
              <td class="odd">2700</td>
              <td class="odd">2750</td>
              <td class="odd">5000</td>
              <td class="odd">2475</td>
              <td class="odd">12925</td>
            </tr>
            <tr>
              <td class="even">10</td>
              <td class="even">Paul Riley</td>
              <td class="even">&nbsp;</td>
              <td class="even">2700</td>
              <td class="even">2675</td>
              <td class="even">6333.3</td>
              <td class="even">11708.3</td>
            </tr>
            <tr>
              <td class="odd">11</td>
              <td class="odd">廖鍇夢</td>
              <td class="odd">2650</td>
              <td class="odd">2650</td>
              <td class="odd">1890</td>
              <td class="odd">4400</td>
              <td class="odd">11590</td>
            </tr>
            <tr>
              <td class="even">12</td>
              <td class="even">蔡維臣</td>
              <td class="even">2500</td>
              <td class="even">2500</td>
              <td class="even">2475</td>
              <td class="even">3850</td>
              <td class="even">11325</td>
            </tr>
            <tr>
              <td class="odd">13</td>
              <td class="odd">James Stewart</td>
              <td class="odd">2750</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">4400</td>
              <td class="odd">3350</td>
              <td class="odd">10500</td>
            </tr>
            <tr>
              <td class="even">14</td>
              <td class="even">Vaughan Mason</td>
              <td class="even">3350</td>
              <td class="even">2527</td>
              <td class="even">1820</td>
              <td class="even">2800</td>
              <td class="even">10497</td>
            </tr>
            <tr>
              <td class="odd">15</td>
              <td class="odd">Andrew Good</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">3112.5</td>
              <td class="odd">3850</td>
              <td class="odd">3350</td>
              <td class="odd">10312.5</td>
            </tr>
            <tr>
              <td class="even">16</td>
              <td class="even">宋幸文</td>
              <td class="even">2310</td>
              <td class="even">3112.5</td>
              <td class="even">2675</td>
              <td class="even">1575</td>
              <td class="even">9672.5</td>
            </tr>
            <tr>
              <td class="odd">17</td>
              <td class="odd">鄭家耀</td>
              <td class="odd">2800</td>
              <td class="odd">2527</td>
              <td class="odd">2100</td>
              <td class="odd">2205</td>
              <td class="odd">9632</td>
            </tr>
            <tr>
              <td class="even">18</td>
              <td class="even">李俊民</td>
              <td class="even">2100</td>
              <td class="even">2800</td>
              <td class="even">2675</td>
              <td class="even">1400</td>
              <td class="even">8975</td>
            </tr>
            <tr>
              <td class="odd">19</td>
              <td class="odd">馮偉權&nbsp;</td>
              <td class="odd">4200</td>
              <td class="odd">2415</td>
              <td class="odd">2100</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">8715</td>
            </tr>
            <tr>
              <td class="even">20</td>
              <td class="even">Eric Ma</td>
              <td class="even">&nbsp;</td>
              <td class="even">3850</td>
              <td class="even">2100</td>
              <td class="even">2575</td>
              <td class="even">8525</td>
            </tr>
            <tr>
              <td class="odd">21</td>
              <td class="odd">Mark Mossip</td>
              <td class="odd">2100</td>
              <td class="odd">1995</td>
              <td class="odd">2475</td>
              <td class="odd">1925</td>
              <td class="odd">8495</td>
            </tr>
            <tr>
              <td class="even">22</td>
              <td class="even">張建平</td>
              <td class="even">2875</td>
              <td class="even">1995</td>
              <td class="even">2100</td>
              <td class="even">1295</td>
              <td class="even">8265</td>
            </tr>
            <tr>
              <td class="odd">23</td>
              <td class="odd">簡栢堅</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">3112.5</td>
              <td class="odd">2900</td>
              <td class="odd">2205</td>
              <td class="odd">8217.5</td>
            </tr>
            <tr>
              <td class="even">24</td>
              <td class="even">沈興南</td>
              <td class="even">1750</td>
              <td class="even">2415</td>
              <td class="even">2675</td>
              <td class="even">1120</td>
              <td class="even">7960</td>
            </tr>
            <tr>
              <td class="odd">25</td>
              <td class="odd">鄭德謙</td>
              <td class="odd">2310</td>
              <td class="odd">2275</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2575</td>
              <td class="odd">7160</td>
            </tr>
            <tr>
              <td class="even">26</td>
              <td class="even">黃海健</td>
              <td class="even">2310</td>
              <td class="even">1855</td>
              <td class="even">1540</td>
              <td class="even">1190</td>
              <td class="even">6895</td>
            </tr>
            <tr>
              <td class="odd">27</td>
              <td class="odd">蘇勁濤</td>
              <td class="odd">1540</td>
              <td class="odd">1750</td>
              <td class="odd">1715</td>
              <td class="odd">1750</td>
              <td class="odd">6755</td>
            </tr>
            <tr>
              <td class="even">28</td>
              <td class="even">簡志強</td>
              <td class="even">2600</td>
              <td class="even">2170</td>
              <td class="even">&nbsp;</td>
              <td class="even">1925</td>
              <td class="even">6695</td>
            </tr>
            <tr>
              <td class="odd">29</td>
              <td class="odd">郭永昌</td>
              <td class="odd">1960</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2100</td>
              <td class="odd">2380</td>
              <td class="odd">6440</td>
            </tr>
            <tr>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
            </tr>
            <tr>
              <td class="odd">31</td>
              <td class="odd">李應東</td>
              <td class="odd">1365</td>
              <td class="odd">2275</td>
              <td class="odd">1155</td>
              <td class="odd">1050</td>
              <td class="odd">5845</td>
            </tr>
            <tr>
              <td class="even">T32</td>
              <td class="even">馮偉傑</td>
              <td class="even">1540</td>
              <td class="even">&nbsp;</td>
              <td class="even">2345</td>
              <td class="even">1925</td>
              <td class="even">5810</td>
            </tr>
            <tr>
              <td class="odd">T32</td>
              <td class="odd">馬健民</td>
              <td class="odd">2100</td>
              <td class="odd">2100</td>
              <td class="odd">1610</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">5810</td>
            </tr>
            <tr>
              <td class="even">34</td>
              <td class="even">Kevin Hind</td>
              <td class="even">2875</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">2800</td>
              <td class="even">5675</td>
            </tr>
            <tr>
              <td class="odd">35</td>
              <td class="odd">李永基</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2675</td>
              <td class="odd">2900</td>
              <td class="odd">5575</td>
            </tr>
            <tr>
              <td class="even">36</td>
              <td class="even">林春祥</td>
              <td class="even">2500</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">2475</td>
              <td class="even">4975</td>
            </tr>
            <tr>
              <td class="odd">37</td>
              <td class="odd">Lim Choon Shin</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2675</td>
              <td class="odd">2205</td>
              <td class="odd">4880</td>
            </tr>
            <tr>
              <td class="even">T38</td>
              <td class="even">黎偉民</td>
              <td class="even">1365</td>
              <td class="even">1540</td>
              <td class="even">1050</td>
              <td class="even">700</td>
              <td class="even">4655</td>
            </tr>
            <tr>
              <td class="odd">T38</td>
              <td class="odd">方鯨霖</td>
              <td class="odd">1680</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">1400</td>
              <td class="odd">1575</td>
              <td class="odd">4655</td>
            </tr>
            <tr>
              <td class="even">40</td>
              <td class="even">唐進寶</td>
              <td class="even">1855</td>
              <td class="even">&nbsp;</td>
              <td class="even">1155</td>
              <td class="even">1575</td>
              <td class="even">4585</td>
            </tr>
            <tr>
              <td class="odd">41</td>
              <td class="odd">Trevor Ball</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">4400</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">4400</td>
            </tr>
            <tr>
              <td class="even">42</td>
              <td class="even">吳坤河</td>
              <td class="even">&nbsp;</td>
              <td class="even">1855</td>
              <td class="even">1715</td>
              <td class="even">&nbsp;</td>
              <td class="even">3570</td>
            </tr>
            <tr>
              <td class="odd">43</td>
              <td class="odd">王海鋒</td>
              <td class="odd">1855</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">1295</td>
              <td class="odd">3150</td>
            </tr>
            <tr>
              <td class="even">44</td>
              <td class="even">Brad Schadewitz</td>
              <td class="even">&nbsp;</td>
              <td class="even">3112.5</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">3112.5</td>
            </tr>
            <tr>
              <td class="odd">45</td>
              <td class="odd">Michael Long</td>
              <td class="odd">1540</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">1470</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">3010</td>
            </tr>
            <tr>
              <td class="even">46</td>
              <td class="even">宋有福</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">2800</td>
              <td class="even">2800</td>
            </tr>
            <tr>
              <td class="odd">47</td>
              <td class="odd">宋謦全</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">2205</td>
              <td class="odd">2205</td>
            </tr>
            <tr>
              <td class="even">48</td>
              <td class="even">張桂康</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">1925</td>
              <td class="even">1925</td>
            </tr>
            <tr>
              <td class="odd">49</td>
              <td class="odd">黎偉智</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">1575</td>
              <td class="odd">1575</td>
            </tr>
            <tr>
              <td class="even">50</td>
              <td class="even">Alfonso Morales</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">1260</td>
              <td class="even">&nbsp;</td>
              <td class="even">1260</td>
            </tr>
            <tr>
              <td class="odd">51</td>
              <td class="odd">甘家榮</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">945</td>
              <td class="odd">945</td>
            </tr>
            <tr>
              <td class="even">52</td>
              <td class="even">萬雄立</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">&nbsp;</td>
              <td class="even">840</td>
              <td class="even">840</td>
            </tr>
            <tr>
              <td class="odd">53</td>
              <td class="odd">莫旭麟</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">770</td>
              <td class="odd">770</td>
            </tr>
            </tbody>

      </table>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
    </div>
  </div>
</div>
