<div class="container" id="merit-page">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-trophy"></i>Order of Merit - 2010</h1>
    </div>
    <div class="col-md-4">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table cellspacing="0" class="table table-striped" ng-show="currentLanguage() == 'en'">
        <tbody><tr>
              <th scope="col">POS</th>
              <th scope="col">PLAYER</th>
              <th scope="col" title="6-7 April, 2009, KSC Public Golf Course - North Course">LEG 1</th>
              <th scope="col" title="4 May, 2009, Hong Kong Golf Club">LEG 2</th>
              <th scope="col" title="1-2 June, 2009, Clearwater Bay Golf Club">LEG 3</th>
              <th scope="col" title="1 September, 2009, KSC Public Golf Course - North Course">LEG 4</th>
              <th scope="col" title="28 September, 2009, Discovery Bay Golf Club">LEG 5</th>
              <th scope="col" title="19-20 October, 2009, Yinli Foreign Investors Golf Club">Yinli Classic</th>
              <th scope="col">TOTAL</th>
            </tr>
            <tr>
              <td class="odd">1</td>
              <td class="odd">DAVID FREEMAN</td>
              <td class="odd">20000</td>
              <td class="odd">3500</td>
              <td class="odd">10000</td>
              <td class="odd">2600</td>
              <td class="odd">1237.5</td>
              <td class="odd">2800</td>
              <td class="odd">40137.5</td>
            </tr>
            <tr>
              <td class="even">2</td>
              <td class="even">LEE MAN LOK</td>
              <td class="even">12000</td>
              <td class="even">1312.5</td>
              <td class="even">20000</td>
              <td class="even">1600</td>
              <td class="even">1312.5</td>
              <td class="even">2875</td>
              <td class="even">39100</td>
            </tr>
            <tr>
              <td class="odd">3</td>
              <td class="odd">JOVICK LEE</td>
              <td class="odd">5200</td>
              <td class="odd">3500</td>
              <td class="odd">10000</td>
              <td class="odd">1219</td>
              <td class="odd">2200</td>
              <td class="odd">16000</td>
              <td class="odd">38119</td>
            </tr>
            <tr>
              <td class="even">4</td>
              <td class="even">DEREK FUNG</td>
              <td class="even">8000</td>
              <td class="even">10000</td>
              <td class="even">2700</td>
              <td class="even">10000</td>
              <td class="even">2200</td>
              <td class="even">-</td>
              <td class="even">32900</td>
            </tr>
            <tr>
              <td class="odd">5</td>
              <td class="odd">WONG WOON MAN</td>
              <td class="odd">3850</td>
              <td class="odd">6000</td>
              <td class="odd">2850</td>
              <td class="odd">1400</td>
              <td class="odd">10000</td>
              <td class="odd">6333.33</td>
              <td class="odd">30433.33</td>
            </tr>
            <tr>
              <td class="even">6</td>
              <td class="even">JAMES STEWART</td>
              <td class="even">5200</td>
              <td class="even">2500</td>
              <td class="even">2700</td>
              <td class="even">2012.5</td>
              <td class="even">1681.25</td>
              <td class="even">16000</td>
              <td class="even">30093.75</td>
            </tr>
            <tr>
              <td class="odd">7</td>
              <td class="odd">TANG MAN KEE</td>
              <td class="odd">1925</td>
              <td class="odd">1387.5</td>
              <td class="odd">4800</td>
              <td class="odd">2600</td>
              <td class="odd">2750</td>
              <td class="odd">6333.33</td>
              <td class="odd">19795.83</td>
            </tr>
            <tr>
              <td class="even">8</td>
              <td class="even">WILSON CHOY</td>
              <td class="even">2170</td>
              <td class="even">1312.5</td>
              <td class="even">1365</td>
              <td class="even">5000</td>
              <td class="even">5000</td>
              <td class="even">4200</td>
              <td class="even">19047.5</td>
            </tr>
            <tr>
              <td class="odd">9</td>
              <td class="odd">TANG SHING CHI</td>
              <td class="odd">3850</td>
              <td class="odd">1312.5</td>
              <td class="odd">3850</td>
              <td class="odd">1032.5</td>
              <td class="odd">1400</td>
              <td class="odd">6333.33</td>
              <td class="odd">17778.33</td>
            </tr>
            <tr>
              <td class="even">10</td>
              <td class="even">FUNG WAI KIT</td>
              <td class="even">2470</td>
              <td class="even">945</td>
              <td class="even">1750</td>
              <td class="even">1325</td>
              <td class="even">5000</td>
              <td class="even">3516.66</td>
              <td class="even">15006.66</td>
            </tr>
            <tr>
              <td class="odd">11</td>
              <td class="odd">CHENG KA YIU</td>
              <td class="odd">1435</td>
              <td class="odd">1205</td>
              <td class="odd">6000</td>
              <td class="odd">1325</td>
              <td class="odd">1400</td>
              <td class="odd">2410</td>
              <td class="odd">13775</td>
            </tr>
            <tr>
              <td class="even">12</td>
              <td class="even">ANDREW GOOD</td>
              <td class="even">2825</td>
              <td class="even">-</td>
              <td class="even">3850</td>
              <td class="even">717.5</td>
              <td class="even">1681.25</td>
              <td class="even">4600</td>
              <td class="even">13673.75</td>
            </tr>
            <tr>
              <td class="odd">13</td>
              <td class="odd">SUNG HANG MAN</td>
              <td class="odd">5200</td>
              <td class="odd">1387.5</td>
              <td class="odd">2850</td>
              <td class="odd">1032.5</td>
              <td class="odd">787.5</td>
              <td class="odd">2205</td>
              <td class="odd">13462.5</td>
            </tr>
            <tr>
              <td class="even">14</td>
              <td class="even">FUNG WAI KUEN</td>
              <td class="even">2170</td>
              <td class="even">1102.5</td>
              <td class="even">2850</td>
              <td class="even">2600</td>
              <td class="even">1681.25</td>
              <td class="even">2875</td>
              <td class="even">13278.75</td>
            </tr>
            <tr>
              <td class="odd">15</td>
              <td class="odd">DUCKY TANG</td>
              <td class="odd">3050</td>
              <td class="odd">2018.75</td>
              <td class="odd">2525</td>
              <td class="odd">1400</td>
              <td class="odd">787.5</td>
              <td class="odd">2625</td>
              <td class="odd">12406.25</td>
            </tr>
            <tr>
              <td class="even">16</td>
              <td class="even">LAM CHUN CHEUNG</td>
              <td class="even">1295</td>
              <td class="even">665</td>
              <td class="even">1960</td>
              <td class="even">5000</td>
              <td class="even">1400</td>
              <td class="even">1995</td>
              <td class="even">12315</td>
            </tr>
            <tr>
              <td class="odd">17</td>
              <td class="odd">CHEUNG KIN PING</td>
              <td class="odd">3050</td>
              <td class="odd">945</td>
              <td class="odd">3850</td>
              <td class="odd">1600</td>
              <td class="odd">-</td>
              <td class="odd">2410</td>
              <td class="odd">11855</td>
            </tr>
            <tr>
              <td class="even">18</td>
              <td class="even">VAUGHAN MASON</td>
              <td class="even">2675</td>
              <td class="even">945</td>
              <td class="even">3200</td>
              <td class="even">1600</td>
              <td class="even">-</td>
              <td class="even">2625</td>
              <td class="even">11045</td>
            </tr>
            <tr>
              <td class="odd">19</td>
              <td class="odd">ERNIE LEE</td>
              <td class="odd">2675</td>
              <td class="odd">1032.5</td>
              <td class="odd">2205</td>
              <td class="odd">1219</td>
              <td class="odd">787.5</td>
              <td class="odd">2625</td>
              <td class="odd">10544</td>
            </tr>
            <tr>
              <td class="even">20</td>
              <td class="even">ERIC MA</td>
              <td class="even">2170</td>
              <td class="even">665</td>
              <td class="even">2700</td>
              <td class="even">840</td>
              <td class="even">1312.5</td>
              <td class="even">2750</td>
              <td class="even">10437.5</td>
            </tr>
            <tr>
              <td class="odd">21</td>
              <td class="odd">PAUL RILEY</td>
              <td class="odd">3850</td>
              <td class="odd">1312.5</td>
              <td class="odd">1960</td>
              <td class="odd">420</td>
              <td class="odd">2750</td>
              <td class="odd">-</td>
              <td class="odd">10292.5</td>
            </tr>
            <tr>
              <td class="even">22</td>
              <td class="even">LIU KAI MUNG</td>
              <td class="even">2170</td>
              <td class="even">-</td>
              <td class="even">2415</td>
              <td class="even">1032.5</td>
              <td class="even">1137.5</td>
              <td class="even">3516.66</td>
              <td class="even">10271.66</td>
            </tr>
            <tr>
              <td class="odd">23</td>
              <td class="odd">DANNY KAN</td>
              <td class="odd">2675</td>
              <td class="odd">507.5</td>
              <td class="odd">1575</td>
              <td class="odd">630</td>
              <td class="odd">1312.5</td>
              <td class="odd">2625</td>
              <td class="odd">9325</td>
            </tr>
            <tr>
              <td class="even">24</td>
              <td class="even">KEVIN HIND</td>
              <td class="even">1925</td>
              <td class="even">1205</td>
              <td class="even">4800</td>
              <td class="even">1325</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">9255</td>
            </tr>
            <tr>
              <td class="odd">25</td>
              <td class="odd">WONG HOI KIN</td>
              <td class="odd">1715</td>
              <td class="odd">1437.5</td>
              <td class="odd">2600</td>
              <td class="odd">840</td>
              <td class="odd">997.5</td>
              <td class="odd">1575</td>
              <td class="odd">9165</td>
            </tr>
            <tr>
              <td class="even">26</td>
              <td class="even">LI CHUN MAN</td>
              <td class="even">2675</td>
              <td class="even">1437.5</td>
              <td class="even">1085</td>
              <td class="even">840</td>
              <td class="even">1312.5</td>
              <td class="even">1750</td>
              <td class="even">9100</td>
            </tr>
            <tr>
              <td class="odd">27</td>
              <td class="odd">WONG CHING KWAN</td>
              <td class="odd">2470</td>
              <td class="odd">1205</td>
              <td class="odd">1575</td>
              <td class="odd">455</td>
              <td class="odd">1137.5</td>
              <td class="odd">2100</td>
              <td class="odd">8942.5</td>
            </tr>
            <tr>
              <td class="even">28</td>
              <td class="even">SHUM HING NAM</td>
              <td class="even">2470</td>
              <td class="even">665</td>
              <td class="even">1820</td>
              <td class="even">-</td>
              <td class="even">892.5</td>
              <td class="even">2410</td>
              <td class="even">8257.5</td>
            </tr>
            <tr>
              <td class="odd">29</td>
              <td class="odd">MA KIN MAN</td>
              <td class="odd">1575</td>
              <td class="odd">1032.5</td>
              <td class="odd">2205</td>
              <td class="odd">1219</td>
              <td class="odd">787.5</td>
              <td class="odd">1330</td>
              <td class="odd">8149</td>
            </tr>
            <tr>
              <td class="even">30</td>
              <td class="even">MAN HUNG LAP</td>
              <td class="even">1155</td>
              <td class="even">455</td>
              <td class="even">1575</td>
              <td class="even">1032.5</td>
              <td class="even">1681.25</td>
              <td class="even">1995</td>
              <td class="even">7893.75</td>
            </tr>
            <tr>
              <td class="odd">31</td>
              <td class="odd">TONY LEE</td>
              <td class="odd">1155</td>
              <td class="odd">665</td>
              <td class="odd">1575</td>
              <td class="odd">1032.5</td>
              <td class="odd">1237.5</td>
              <td class="odd">1750</td>
              <td class="odd">7415</td>
            </tr>
            <tr>
              <td class="even">32</td>
              <td class="even">JASON KWOK</td>
              <td class="even">-</td>
              <td class="even">665</td>
              <td class="even">2205</td>
              <td class="even">1219</td>
              <td class="even">997.5</td>
              <td class="even">2205</td>
              <td class="even">7291.5</td>
            </tr>
            <tr>
              <td class="odd">33</td>
              <td class="odd">MARK MOSSIP</td>
              <td class="odd">1820</td>
              <td class="odd">665</td>
              <td class="odd">1085</td>
              <td class="odd">490</td>
              <td class="odd">997.5</td>
              <td class="odd">1890</td>
              <td class="odd">6947.5</td>
            </tr>
            <tr>
              <td class="even">34</td>
              <td class="even">LIM CHOON SHIN</td>
              <td class="even">2825</td>
              <td class="even">805</td>
              <td class="even">-</td>
              <td class="even">1400</td>
              <td class="even">1137.5</td>
              <td class="even">-</td>
              <td class="even">6167.5</td>
            </tr>
            <tr>
              <td class="odd">35</td>
              <td class="odd">SAMMY NG</td>
              <td class="odd">2470</td>
              <td class="odd">507.5</td>
              <td class="odd">-</td>
              <td class="odd">717.5</td>
              <td class="odd">-</td>
              <td class="odd">2410</td>
              <td class="odd">6105</td>
            </tr>
            <tr>
              <td class="even">36</td>
              <td class="even">KAM HUI</td>
              <td class="even">1015</td>
              <td class="even">420</td>
              <td class="even">1190</td>
              <td class="even">630</td>
              <td class="even">1137.5</td>
              <td class="even">1470</td>
              <td class="even">5862.5</td>
            </tr>
            <tr>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
            </tr>
            <tr>
              <td class="even">38</td>
              <td class="even">BRAD SCHADEWITZ</td>
              <td class="even">-</td>
              <td class="even">2018.75</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">3516.66</td>
              <td class="even">5535.41</td>
            </tr>
            <tr>
              <td class="odd">39</td>
              <td class="odd">CHEUNG KWAI HONG</td>
              <td class="odd">-</td>
              <td class="odd">857.5</td>
              <td class="odd">2205</td>
              <td class="odd">1219</td>
              <td class="odd">525</td>
              <td class="odd">-</td>
              <td class="odd">4806.5</td>
            </tr>
            <tr>
              <td class="even">40</td>
              <td class="even">STEPHEN HONG</td>
              <td class="even">1015</td>
              <td class="even">1205</td>
              <td class="even">1260</td>
              <td class="even">630</td>
              <td class="even">612.5</td>
              <td class="even">-</td>
              <td class="even">4722.5</td>
            </tr>
            <tr>
              <td class="odd">41</td>
              <td class="odd">ALEXANDER CHENG</td>
              <td class="odd">-</td>
              <td class="odd">1102.5</td>
              <td class="odd">1960</td>
              <td class="odd">840</td>
              <td class="odd">700</td>
              <td class="odd">-</td>
              <td class="odd">4602.5</td>
            </tr>
            <tr>
              <td class="even">42</td>
              <td class="even">TREVOR BALL</td>
              <td class="even">2170</td>
              <td class="even">2018.75</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">4188.75</td>
            </tr>
            <tr>
              <td class="odd">43</td>
              <td class="odd">RICHARD KAN</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">2415</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1750</td>
              <td class="odd">4165</td>
            </tr>
            <tr>
              <td class="even">44</td>
              <td class="even">MICHAEL LONG</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2525</td>
              <td class="even">-</td>
              <td class="even">892.5</td>
              <td class="even">-</td>
              <td class="even">3417.5</td>
            </tr>
            <tr>
              <td class="odd">45</td>
              <td class="odd">WONG HOI FUNG</td>
              <td class="odd">1575</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1575</td>
              <td class="odd">3150</td>
            </tr>
            <tr>
              <td class="even">46</td>
              <td class="even">DOMINIQUE BOULET</td>
              <td class="even">-</td>
              <td class="even">2018.75</td>
              <td class="even">-</td>
              <td class="even">1032.5</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">3051.25</td>
            </tr>
            <tr>
              <td class="odd">T47</td>
              <td class="odd">LAI WAI MAN</td>
              <td class="odd">910</td>
              <td class="odd">385</td>
              <td class="odd">980</td>
              <td class="odd">-</td>
              <td class="odd">490</td>
              <td class="odd">-</td>
              <td class="odd">2765</td>
            </tr>
            <tr>
              <td class="even">T47</td>
              <td class="even">TONG CHUN PO</td>
              <td class="even">-</td>
              <td class="even">857.5</td>
              <td class="even">1365</td>
              <td class="even">542.5</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2765</td>
            </tr>
            <tr>
              <td class="odd">49</td>
              <td class="odd">LEE KWOK YAN</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">542.5</td>
              <td class="odd">665</td>
              <td class="odd">1260</td>
              <td class="odd">2467.5</td>
            </tr>
            <tr>
              <td class="even">50</td>
              <td class="even">GRANT GIBSON</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2012.5</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2012.5</td>
            </tr>
            <tr>
              <td class="odd">51</td>
              <td class="odd">KAM SUN</td>
              <td class="odd">1715</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1715</td>
            </tr>
            <tr>
              <td class="even">52</td>
              <td class="even">SUNG SING</td>
              <td class="even">-</td>
              <td class="even">1600</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">1600</td>
            </tr>
            <tr>
              <td class="odd">53</td>
              <td class="odd">ALFREDO MORALES</td>
              <td class="odd">1435</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1435</td>
            </tr>
            <tr>
              <td class="even">54</td>
              <td class="even">STANLEY LEUNG</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">997.5</td>
              <td class="even">-</td>
              <td class="even">997.5</td>
            </tr>
            <tr>
              <td class="odd">55</td>
              <td class="odd">ALEX TANG</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">612.5</td>
              <td class="odd">-</td>
              <td class="odd">612.5</td>
            </tr>
            </tbody>
      </table>
      <table cellspacing="0" class="table table-striped" ng-hide="currentLanguage() == 'en'">
        <tbody><tr>
              <th scope="col">排名</th>
              <th scope="col">球手</th>
              <th scope="col" title="2009年4月6-7日, 滘西洲公眾高爾夫球場 - 北場">第1站</th>
              <th scope="col" title="2009年5月4日, 香港高爾夫球會">第2站</th>
              <th scope="col" title="2009年6月1-2日, 清水灣高爾夫球會">第3站</th>
              <th scope="col" title="2009年9月1日, 滘西洲公眾高爾夫球場 - 北場">第4站</th>
              <th scope="col" title="2009年9月28日, 愉景灣高爾夫球會">第5站</th>
              <th scope="col" title="2009年10月19-20日, 銀利外商高爾夫球俱樂部">銀利經典賽</th>
              <th scope="col">積分</th>
            </tr>
            <tr>
              <td class="odd">1</td>
              <td class="odd">DAVID FREEMAN</td>
              <td class="odd">20000</td>
              <td class="odd">3500</td>
              <td class="odd">10000</td>
              <td class="odd">2600</td>
              <td class="odd">1237.5</td>
              <td class="odd">2800</td>
              <td class="odd">40137.5</td>
            </tr>
            <tr>
              <td class="even">2</td>
              <td class="even">李文樂</td>
              <td class="even">12000</td>
              <td class="even">1312.5</td>
              <td class="even">20000</td>
              <td class="even">1600</td>
              <td class="even">1312.5</td>
              <td class="even">2875</td>
              <td class="even">39100</td>
            </tr>
            <tr>
              <td class="odd">3</td>
              <td class="odd">李永基</td>
              <td class="odd">5200</td>
              <td class="odd">3500</td>
              <td class="odd">10000</td>
              <td class="odd">1219</td>
              <td class="odd">2200</td>
              <td class="odd">16000</td>
              <td class="odd">38119</td>
            </tr>
            <tr>
              <td class="even">4</td>
              <td class="even">馮裕德</td>
              <td class="even">8000</td>
              <td class="even">10000</td>
              <td class="even">2700</td>
              <td class="even">10000</td>
              <td class="even">2200</td>
              <td class="even">-</td>
              <td class="even">32900</td>
            </tr>
            <tr>
              <td class="odd">5</td>
              <td class="odd">黃煥民</td>
              <td class="odd">3850</td>
              <td class="odd">6000</td>
              <td class="odd">2850</td>
              <td class="odd">1400</td>
              <td class="odd">10000</td>
              <td class="odd">6333.33</td>
              <td class="odd">30433.33</td>
            </tr>
            <tr>
              <td class="even">6</td>
              <td class="even">JAMES STEWART</td>
              <td class="even">5200</td>
              <td class="even">2500</td>
              <td class="even">2700</td>
              <td class="even">2012.5</td>
              <td class="even">1681.25</td>
              <td class="even">16000</td>
              <td class="even">30093.75</td>
            </tr>
            <tr>
              <td class="odd">7</td>
              <td class="odd">鄧敏祺</td>
              <td class="odd">1925</td>
              <td class="odd">1387.5</td>
              <td class="odd">4800</td>
              <td class="odd">2600</td>
              <td class="odd">2750</td>
              <td class="odd">6333.33</td>
              <td class="odd">19795.83</td>
            </tr>
            <tr>
              <td class="even">8</td>
              <td class="even">蔡維臣</td>
              <td class="even">2170</td>
              <td class="even">1312.5</td>
              <td class="even">1365</td>
              <td class="even">5000</td>
              <td class="even">5000</td>
              <td class="even">4200</td>
              <td class="even">19047.5</td>
            </tr>
            <tr>
              <td class="odd">9</td>
              <td class="odd">鄧承志</td>
              <td class="odd">3850</td>
              <td class="odd">1312.5</td>
              <td class="odd">3850</td>
              <td class="odd">1032.5</td>
              <td class="odd">1400</td>
              <td class="odd">6333.33</td>
              <td class="odd">17778.33</td>
            </tr>
            <tr>
              <td class="even">10</td>
              <td class="even">馮偉傑</td>
              <td class="even">2470</td>
              <td class="even">945</td>
              <td class="even">1750</td>
              <td class="even">1325</td>
              <td class="even">5000</td>
              <td class="even">3516.66</td>
              <td class="even">15006.66</td>
            </tr>
            <tr>
              <td class="odd">11</td>
              <td class="odd">鄭家耀</td>
              <td class="odd">1435</td>
              <td class="odd">1205</td>
              <td class="odd">6000</td>
              <td class="odd">1325</td>
              <td class="odd">1400</td>
              <td class="odd">2410</td>
              <td class="odd">13775</td>
            </tr>
            <tr>
              <td class="even">12</td>
              <td class="even">ANDREW GOOD</td>
              <td class="even">2825</td>
              <td class="even">-</td>
              <td class="even">3850</td>
              <td class="even">717.5</td>
              <td class="even">1681.25</td>
              <td class="even">4600</td>
              <td class="even">13673.75</td>
            </tr>
            <tr>
              <td class="odd">13</td>
              <td class="odd">宋幸文</td>
              <td class="odd">5200</td>
              <td class="odd">1387.5</td>
              <td class="odd">2850</td>
              <td class="odd">1032.5</td>
              <td class="odd">787.5</td>
              <td class="odd">2205</td>
              <td class="odd">13462.5</td>
            </tr>
            <tr>
              <td class="even">14</td>
              <td class="even">馮偉權</td>
              <td class="even">2170</td>
              <td class="even">1102.5</td>
              <td class="even">2850</td>
              <td class="even">2600</td>
              <td class="even">1681.25</td>
              <td class="even">2875</td>
              <td class="even">13278.75</td>
            </tr>
            <tr>
              <td class="odd">15</td>
              <td class="odd">鄧偉俊</td>
              <td class="odd">3050</td>
              <td class="odd">2018.75</td>
              <td class="odd">2525</td>
              <td class="odd">1400</td>
              <td class="odd">787.5</td>
              <td class="odd">2625</td>
              <td class="odd">12406.25</td>
            </tr>
            <tr>
              <td class="even">16</td>
              <td class="even">林春祥</td>
              <td class="even">1295</td>
              <td class="even">665</td>
              <td class="even">1960</td>
              <td class="even">5000</td>
              <td class="even">1400</td>
              <td class="even">1995</td>
              <td class="even">12315</td>
            </tr>
            <tr>
              <td class="odd">17</td>
              <td class="odd">張建平G</td>
              <td class="odd">3050</td>
              <td class="odd">945</td>
              <td class="odd">3850</td>
              <td class="odd">1600</td>
              <td class="odd">-</td>
              <td class="odd">2410</td>
              <td class="odd">11855</td>
            </tr>
            <tr>
              <td class="even">18</td>
              <td class="even">VAUGHAN MASON</td>
              <td class="even">2675</td>
              <td class="even">945</td>
              <td class="even">3200</td>
              <td class="even">1600</td>
              <td class="even">-</td>
              <td class="even">2625</td>
              <td class="even">11045</td>
            </tr>
            <tr>
              <td class="odd">19</td>
              <td class="odd">李宇軒</td>
              <td class="odd">2675</td>
              <td class="odd">1032.5</td>
              <td class="odd">2205</td>
              <td class="odd">1219</td>
              <td class="odd">787.5</td>
              <td class="odd">2625</td>
              <td class="odd">10544</td>
            </tr>
            <tr>
              <td class="even">20</td>
              <td class="even">馬金發</td>
              <td class="even">2170</td>
              <td class="even">665</td>
              <td class="even">2700</td>
              <td class="even">840</td>
              <td class="even">1312.5</td>
              <td class="even">2750</td>
              <td class="even">10437.5</td>
            </tr>
            <tr>
              <td class="odd">21</td>
              <td class="odd">PAUL RILEY</td>
              <td class="odd">3850</td>
              <td class="odd">1312.5</td>
              <td class="odd">1960</td>
              <td class="odd">420</td>
              <td class="odd">2750</td>
              <td class="odd">-</td>
              <td class="odd">10292.5</td>
            </tr>
            <tr>
              <td class="even">22</td>
              <td class="even">廖鍇夢</td>
              <td class="even">2170</td>
              <td class="even">-</td>
              <td class="even">2415</td>
              <td class="even">1032.5</td>
              <td class="even">1137.5</td>
              <td class="even">3516.66</td>
              <td class="even">10271.66</td>
            </tr>
            <tr>
              <td class="odd">23</td>
              <td class="odd">簡栢堅</td>
              <td class="odd">2675</td>
              <td class="odd">507.5</td>
              <td class="odd">1575</td>
              <td class="odd">630</td>
              <td class="odd">1312.5</td>
              <td class="odd">2625</td>
              <td class="odd">9325</td>
            </tr>
            <tr>
              <td class="even">24</td>
              <td class="even">KEVIN HIND</td>
              <td class="even">1925</td>
              <td class="even">1205</td>
              <td class="even">4800</td>
              <td class="even">1325</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">9255</td>
            </tr>
            <tr>
              <td class="odd">25</td>
              <td class="odd">黃海健</td>
              <td class="odd">1715</td>
              <td class="odd">1437.5</td>
              <td class="odd">2600</td>
              <td class="odd">840</td>
              <td class="odd">997.5</td>
              <td class="odd">1575</td>
              <td class="odd">9165</td>
            </tr>
            <tr>
              <td class="even">26</td>
              <td class="even">李俊民</td>
              <td class="even">2675</td>
              <td class="even">1437.5</td>
              <td class="even">1085</td>
              <td class="even">840</td>
              <td class="even">1312.5</td>
              <td class="even">1750</td>
              <td class="even">9100</td>
            </tr>
            <tr>
              <td class="odd">27</td>
              <td class="odd">黃鉦鈞</td>
              <td class="odd">2470</td>
              <td class="odd">1205</td>
              <td class="odd">1575</td>
              <td class="odd">455</td>
              <td class="odd">1137.5</td>
              <td class="odd">2100</td>
              <td class="odd">8942.5</td>
            </tr>
            <tr>
              <td class="even">28</td>
              <td class="even">沈興南</td>
              <td class="even">2470</td>
              <td class="even">665</td>
              <td class="even">1820</td>
              <td class="even">-</td>
              <td class="even">892.5</td>
              <td class="even">2410</td>
              <td class="even">8257.5</td>
            </tr>
            <tr>
              <td class="odd">29</td>
              <td class="odd">馬健民</td>
              <td class="odd">1575</td>
              <td class="odd">1032.5</td>
              <td class="odd">2205</td>
              <td class="odd">1219</td>
              <td class="odd">787.5</td>
              <td class="odd">1330</td>
              <td class="odd">8149</td>
            </tr>
            <tr>
              <td class="even">30</td>
              <td class="even">萬雄立</td>
              <td class="even">1155</td>
              <td class="even">455</td>
              <td class="even">1575</td>
              <td class="even">1032.5</td>
              <td class="even">1681.25</td>
              <td class="even">1995</td>
              <td class="even">7893.75</td>
            </tr>
            <tr>
              <td class="odd">31</td>
              <td class="odd">李應東</td>
              <td class="odd">1155</td>
              <td class="odd">665</td>
              <td class="odd">1575</td>
              <td class="odd">1032.5</td>
              <td class="odd">1237.5</td>
              <td class="odd">1750</td>
              <td class="odd">7415</td>
            </tr>
            <tr>
              <td class="even">32</td>
              <td class="even">郭永昌</td>
              <td class="even">-</td>
              <td class="even">665</td>
              <td class="even">2205</td>
              <td class="even">1219</td>
              <td class="even">997.5</td>
              <td class="even">2205</td>
              <td class="even">7291.5</td>
            </tr>
            <tr>
              <td class="odd">33</td>
              <td class="odd">MARK MOSSIP</td>
              <td class="odd">1820</td>
              <td class="odd">665</td>
              <td class="odd">1085</td>
              <td class="odd">490</td>
              <td class="odd">997.5</td>
              <td class="odd">1890</td>
              <td class="odd">6947.5</td>
            </tr>
            <tr>
              <td class="even">34</td>
              <td class="even">林俊信</td>
              <td class="even">2825</td>
              <td class="even">805</td>
              <td class="even">-</td>
              <td class="even">1400</td>
              <td class="even">1137.5</td>
              <td class="even">-</td>
              <td class="even">6167.5</td>
            </tr>
            <tr>
              <td class="odd">35</td>
              <td class="odd">吳坤河</td>
              <td class="odd">2470</td>
              <td class="odd">507.5</td>
              <td class="odd">-</td>
              <td class="odd">717.5</td>
              <td class="odd">-</td>
              <td class="odd">2410</td>
              <td class="odd">6105</td>
            </tr>
            <tr>
              <td class="even">36</td>
              <td class="even">許灝文</td>
              <td class="even">1015</td>
              <td class="even">420</td>
              <td class="even">1190</td>
              <td class="even">630</td>
              <td class="even">1137.5</td>
              <td class="even">1470</td>
              <td class="even">5862.5</td>
            </tr>
            <tr>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
            </tr>
            <tr>
              <td class="even">38</td>
              <td class="even">BRAD SCHADEWITZ</td>
              <td class="even">-</td>
              <td class="even">2018.75</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">3516.66</td>
              <td class="even">5535.41</td>
            </tr>
            <tr>
              <td class="odd">39</td>
              <td class="odd">張桂康</td>
              <td class="odd">-</td>
              <td class="odd">857.5</td>
              <td class="odd">2205</td>
              <td class="odd">1219</td>
              <td class="odd">525</td>
              <td class="odd">-</td>
              <td class="odd">4806.5</td>
            </tr>
            <tr>
              <td class="even">40</td>
              <td class="even">方鯨霖</td>
              <td class="even">1015</td>
              <td class="even">1205</td>
              <td class="even">1260</td>
              <td class="even">630</td>
              <td class="even">612.5</td>
              <td class="even">-</td>
              <td class="even">4722.5</td>
            </tr>
            <tr>
              <td class="odd">41</td>
              <td class="odd">鄭德謙</td>
              <td class="odd">-</td>
              <td class="odd">1102.5</td>
              <td class="odd">1960</td>
              <td class="odd">840</td>
              <td class="odd">700</td>
              <td class="odd">-</td>
              <td class="odd">4602.5</td>
            </tr>
            <tr>
              <td class="even">42</td>
              <td class="even">TREVOR BALL</td>
              <td class="even">2170</td>
              <td class="even">2018.75</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">4188.75</td>
            </tr>
            <tr>
              <td class="odd">43</td>
              <td class="odd">簡志強</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">2415</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1750</td>
              <td class="odd">4165</td>
            </tr>
            <tr>
              <td class="even">44</td>
              <td class="even">MICHAEL LONG</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2525</td>
              <td class="even">-</td>
              <td class="even">892.5</td>
              <td class="even">-</td>
              <td class="even">3417.5</td>
            </tr>
            <tr>
              <td class="odd">45</td>
              <td class="odd">王海鋒</td>
              <td class="odd">1575</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1575</td>
              <td class="odd">3150</td>
            </tr>
            <tr>
              <td class="even">46</td>
              <td class="even">DOMINIQUE BOULET</td>
              <td class="even">-</td>
              <td class="even">2018.75</td>
              <td class="even">-</td>
              <td class="even">1032.5</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">3051.25</td>
            </tr>
            <tr>
              <td class="odd">T47</td>
              <td class="odd">黎偉民</td>
              <td class="odd">910</td>
              <td class="odd">385</td>
              <td class="odd">980</td>
              <td class="odd">-</td>
              <td class="odd">490</td>
              <td class="odd">-</td>
              <td class="odd">2765</td>
            </tr>
            <tr>
              <td class="even">T47</td>
              <td class="even">唐進寶</td>
              <td class="even">-</td>
              <td class="even">857.5</td>
              <td class="even">1365</td>
              <td class="even">542.5</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2765</td>
            </tr>
            <tr>
              <td class="odd">49</td>
              <td class="odd">李國恩</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">542.5</td>
              <td class="odd">665</td>
              <td class="odd">1260</td>
              <td class="odd">2467.5</td>
            </tr>
            <tr>
              <td class="even">50</td>
              <td class="even">GRANT GIBSON</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2012.5</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">2012.5</td>
            </tr>
            <tr>
              <td class="odd">51</td>
              <td class="odd">金燊</td>
              <td class="odd">1715</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1715</td>
            </tr>
            <tr>
              <td class="even">52</td>
              <td class="even">宋謦全</td>
              <td class="even">-</td>
              <td class="even">1600</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">1600</td>
            </tr>
            <tr>
              <td class="odd">53</td>
              <td class="odd">ALFREDO MORALES</td>
              <td class="odd">1435</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">1435</td>
            </tr>
            <tr>
              <td class="even">54</td>
              <td class="even">梁紹才</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">-</td>
              <td class="even">997.5</td>
              <td class="even">-</td>
              <td class="even">997.5</td>
            </tr>
            <tr>
              <td class="odd">55</td>
              <td class="odd">鄧澄濱</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">-</td>
              <td class="odd">612.5</td>
              <td class="odd">-</td>
              <td class="odd">612.5</td>
            </tr>
            </tbody>

      </table>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
    </div>
  </div>
</div>
