
<div id="merit-widget">
	<h2>Order of Merit</h2>
	<div class="widget">
		<div class="widget-title col-mg-12">
			<h3>Men's Division</h3>
		</div>
		<div class="widget-body">
			<div class="table-responsive">
	    		<table class="table table-striped">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Player</th>
							<th>Points</th>
						</tr>
					</thead>
					<tbody class="">
						<tr>
							<td>1</td>
							<td>James Wong</td>
							<td>39095</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Tim Tang</td>
							<td>27975</td>
						</tr>
						<tr>
							<td>3</td>
							<td>James Stewart</td>
							<td>25049</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Chris Tang</td>
							<td>24382</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Dominique Boulet</td>
							<td>21348</td>
						</tr>
					</tbody>
				</table>
			</div>
		<div>
	<div class="widget">	
		<div class="widget-title col-mg-12">
			<h3>Womens Division</h3>
		</div>
		<div class="widget-body">
			<div class="table-responsive">
	    		<table class="table table-striped">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody class="col-md-12">
					<tr>
						<td>1</td>
						<td>James Wong</td>
						<td>39095</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Tim Tang</td>
						<td>27975</td>
					</tr>
					<tr>
						<td>3</td>
						<td>James Stewart</td>
						<td>25049</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Chris Tang</td>
						<td>24382</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Dominique Boulet</td>
						<td>21348</td>
					</tr>
				</tbody>
			</table>
		</div>
	<div>

	<div class="widget">
		<div class="widget-title col-mg-12">
			<h3>Men's Senior Division</h3>
		</div>
		<div class="widget-body">
			<table class="col-md-12">
				<thead class="col-md-12">
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody class="col-md-12">
					<tr>
						<td>1</td>
						<td>James Wong</td>
						<td>39095</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Tim Tang</td>
						<td>27975</td>
					</tr>
					<tr>
						<td>3</td>
						<td>James Stewart</td>
						<td>25049</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Chris Tang</td>
						<td>24382</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Dominique Boulet</td>
						<td>21348</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
