<div class="container" id="merit-page">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-trophy"></i>Order of Merit - 2013</h1>
    </div>
    <div class="col-md-4">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table cellspacing="0" class="table table-striped" ng-show="currentLanguage() == 'en'">
        <tbody><tr>
          <th width="142">POS</th>
          <th width="245">PLAYER</th>
          <th width="258">CHAMPIONSHIP</th>
          <th width="142">LEG 1</th>
          <th width="142">LEG 2</th>
          <th width="142">LEG 3</th>
          <th width="142">LEG 4</th>
          <th width="142">YINLI&amp;NINE EAGLES</th>
          <th width="149">TOTAL</th>
          </tr>
        <tr>
          <td width="142">1</td>
          <td width="245">JAMES STEWART&nbsp;</td>
          <td width="258">23775</td>
          <td width="142">1613.8</td>
          <td width="142">15850</td>
          <td width="142">15850</td>
          <td width="142">8475</td>
          <td width="142">16400</td>
          <td width="149">81963.8</td>
          </tr>
        <tr>
          <td width="142">2</td>
          <td width="245">tANG Tsz hang </td>
          <td width="258">5200</td>
          <td width="142">5425</td>
          <td width="142">10850</td>
          <td width="142">5043.3</td>
          <td width="142">15850</td>
          <td width="142">16400</td>
          <td width="149">58768.3</td>
          </tr>
        <tr>
          <td width="142">3</td>
          <td width="245">woNG woon man </td>
          <td width="258">5200</td>
          <td width="142">7925</td>
          <td width="142">6100</td>
          <td width="142">3390</td>
          <td width="142">8475</td>
          <td width="142">6773</td>
          <td width="149">37863</td>
          </tr>
        <tr>
          <td width="142">4</td>
          <td width="245"> TANG man kee </td>
          <td width="258">16275</td>
          <td width="142">985</td>
          <td width="142">1110</td>
          <td width="142">10850</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">29220</td>
          </tr>
        <tr>
          <td width="142">5</td>
          <td width="245"> KO ming chak </td>
          <td width="258">9150</td>
          <td width="142">1100</td>
          <td width="142">3745</td>
          <td width="142">5043.3</td>
          <td width="142">4100</td>
          <td width="142">4725</td>
          <td width="149">27863.3</td>
          </tr>
        <tr>
          <td width="142">6</td>
          <td width="245"> LEE wing kei </td>
          <td width="258">7395</td>
          <td width="142">　</td>
          <td width="142">2085</td>
          <td width="142">5043.3</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">14523.3</td>
          </tr>
        <tr>
          <td width="142">7</td>
          <td width="245"> CHENG ka yiu </td>
          <td width="258">3300</td>
          <td width="142">1613.75</td>
          <td width="142">2085</td>
          <td width="142">1050</td>
          <td width="142">4930</td>
          <td width="142">　</td>
          <td width="149">12978.75</td>
          </tr>
        <tr>
          <td width="142">8</td>
          <td width="245">WILSON CHOY</td>
          <td width="258">2255</td>
          <td width="142">870</td>
          <td width="142">2910</td>
          <td width="142">2910</td>
          <td width="142">3150</td>
          <td width="142">　</td>
          <td width="149">12095</td>
          </tr>
        <tr>
          <td width="142">9</td>
          <td width="245"> TANG shing chi </td>
          <td width="258">2255</td>
          <td width="142">1613.8</td>
          <td width="142">4930</td>
          <td width="142">1885</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">10683.8</td>
          </tr>
        <tr>
          <td width="142">10</td>
          <td width="245"> CHEUNG kin ping </td>
          <td width="258">2827.5</td>
          <td width="142">617.5</td>
          <td width="142">2510</td>
          <td width="142">1500</td>
          <td width="142">3150</td>
          <td width="142">　</td>
          <td width="149">10605</td>
          </tr>
        <tr>
          <td width="142">11</td>
          <td width="245">LIU lok tin </td>
          <td width="258">790</td>
          <td width="142">785</td>
          <td width="142">1625</td>
          <td width="142">2200</td>
          <td width="142">1800</td>
          <td>1680</td>
          <td width="149">8880</td>
          </tr>
        <tr>
          <td width="142">12</td>
          <td width="245"> JANG chel hoo </td>
          <td width="258">1065</td>
          <td width="142">　</td>
          <td width="142">825</td>
          <td width="142">1292.5</td>
          <td width="142">2226.7</td>
          <td width="142">3340</td>
          <td width="149">8749.2</td>
          </tr>
        <tr>
          <td width="142">13</td>
          <td width="245"> Li chun man </td>
          <td width="258">1760</td>
          <td width="142">675</td>
          <td width="142">1110</td>
          <td width="142">1292.5</td>
          <td width="142">2226.7</td>
          <td>1570</td>
          <td width="149">8634.2</td>
          </tr>
        <tr>
          <td width="142">14</td>
          <td width="245">eric lee</td>
          <td width="258">1760</td>
          <td width="142">570</td>
          <td width="142">1440</td>
          <td width="142">990</td>
          <td width="142">1263.3</td>
          <td>1800</td>
          <td width="149">7823.3</td>
          </tr>
        <tr>
          <td width="142">15</td>
          <td width="245">sung hang man </td>
          <td width="258">2520</td>
          <td width="142">617.5</td>
          <td width="142">1110</td>
          <td width="142">1155</td>
          <td width="142">1625</td>
          <td width="142">　</td>
          <td width="149">7027.5</td>
          </tr>
        <tr>
          <td width="142">16</td>
          <td width="245"> Fung sheung wai </td>
          <td width="258">1760</td>
          <td width="142">2465</td>
          <td width="142">700</td>
          <td width="142">770</td>
          <td width="142">1065</td>
          <td width="142">　</td>
          <td width="149">6760</td>
          </tr>
        <tr>
          <td width="142">17</td>
          <td width="245"> Wong ching kwan </td>
          <td width="258">960</td>
          <td width="142">1613.75</td>
          <td width="142">610</td>
          <td width="142">1292.5</td>
          <td width="142">2226.7</td>
          <td width="142">　</td>
          <td width="149">6702.95</td>
          </tr>
        <tr>
          <td width="142">18</td>
          <td width="245"> man hung lap </td>
          <td width="258">2255</td>
          <td width="142">532.5</td>
          <td width="142">1263.3</td>
          <td width="142">1110</td>
          <td width="142">1155</td>
          <td width="142">　</td>
          <td width="149">6315.8</td>
          </tr>
        <tr>
          <td width="142">19</td>
          <td width="245"> ma kam fat </td>
          <td width="258">1890</td>
          <td width="142">870</td>
          <td width="142">1263.3</td>
          <td width="142">1680</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">5703.3</td>
          </tr>
        <tr>
          <td width="142">20</td>
          <td width="245">alexander cheng</td>
          <td width="258">1065</td>
          <td width="142">450</td>
          <td width="142">1440</td>
          <td width="142">1080</td>
          <td width="142">1263.3</td>
          <td width="142">　</td>
          <td width="149">5298.3</td>
          </tr>
        <tr>
          <td width="142">21</td>
          <td width="245">wong hoi kin </td>
          <td width="258">570</td>
          <td width="142">1080</td>
          <td width="142">1110</td>
          <td width="142">2510</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">5270</td>
          </tr>
        <tr>
          <td width="142">22</td>
          <td width="245">DOMINIQUE BOULET</td>
          <td width="258">5200</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">5200</td>
          </tr>
        <tr>
          <td width="142">23</td>
          <td width="245">ANDREW GOOD</td>
          <td width="258">2070</td>
          <td width="142">3050</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">5120</td>
          </tr>
        <tr>
          <td width="142">24</td>
          <td width="245"> fung wai kuen </td>
          <td width="258">885</td>
          <td width="142">　</td>
          <td width="142">790</td>
          <td width="142">1440</td>
          <td width="142">1440</td>
          <td width="142">　</td>
          <td width="149">4555</td>
          </tr>
        <tr>
          <td width="142">25</td>
          <td width="245"> Lee kwok yan </td>
          <td width="258">840</td>
          <td width="142">487.5</td>
          <td width="142">750</td>
          <td width="142">1155</td>
          <td width="142">1110</td>
          <td width="142">　</td>
          <td width="149">4342.5</td>
          </tr>
        <tr>
          <td width="142">26</td>
          <td width="245"> Tang wai chun </td>
          <td width="258">1980</td>
          <td width="142">720</td>
          <td width="142">1625</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">4325</td>
          </tr>
        <tr>
          <td width="142">27</td>
          <td width="245">GRANT GIBSON</td>
          <td width="258">2827.5</td>
          <td width="142">　</td>
          <td width="142">1440</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">4267.5</td>
          </tr>
        <tr>
          <td width="142">28</td>
          <td width="245"> Yeung yuen tai </td>
          <td width="258">690</td>
          <td width="142">750</td>
          <td width="142">750</td>
          <td width="142">770</td>
          <td width="142">1005</td>
          <td width="142">　</td>
          <td width="149">3965</td>
          </tr>
        <tr>
          <td width="142">29</td>
          <td width="245">sung sing</td>
          <td width="258">1665</td>
          <td width="142">　</td>
          <td width="142">990</td>
          <td width="142">1292.5</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">3947.5</td>
          </tr>
        <tr>
          <td width="142">30</td>
          <td width="245"> Kan pak kin </td>
          <td width="258">790</td>
          <td width="142">570</td>
          <td width="142">900</td>
          <td width="142">730</td>
          <td width="142">900</td>
          <td width="142">　</td>
          <td width="149">3890</td>
          </tr>
        <tr>
          <td width="142">31</td>
          <td width="245">BRAD SCHADEWITZ</td>
          <td width="258">3765</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">3765</td>
          </tr>
        <tr>
          <td width="142">32</td>
          <td width="245">KEVIN HIND</td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">3745</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">3745</td>
          </tr>
        <tr>
          <td width="142">33</td>
          <td width="245">MARK MOSSIP</td>
          <td width="258">730</td>
          <td width="142">532.5</td>
          <td width="142">825</td>
          <td width="142">　</td>
          <td width="142">1625</td>
          <td width="142">　</td>
          <td width="149">3712.5</td>
          </tr>
        <tr>
          <td width="142">34</td>
          <td width="245">siu kam p iu</td>
          <td width="258">960</td>
          <td width="142">　</td>
          <td width="142">650</td>
          <td width="142">930</td>
          <td width="142">1155</td>
          <td width="142">　</td>
          <td width="149">3695</td>
          </tr>
        <tr>
          <td width="142">35</td>
          <td width="245">shum hing nam </td>
          <td width="258">630</td>
          <td width="142">450</td>
          <td width="142">565</td>
          <td width="142">990</td>
          <td width="142">960</td>
          <td width="142">　</td>
          <td width="149">3595</td>
          </tr>
        <tr>
          <td width="142">36</td>
          <td width="245"> fung wai kit </td>
          <td width="258">　</td>
          <td width="142">675</td>
          <td width="142">1263.3</td>
          <td width="142">1570</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">3508.3</td>
          </tr>
        <tr>
          <td width="142">37</td>
          <td width="245">leung shui choi </td>
          <td width="258">730</td>
          <td width="142">　</td>
          <td width="142">565</td>
          <td width="142">900</td>
          <td width="142">1263.3</td>
          <td width="142">　</td>
          <td width="149">3458.3</td>
          </tr>
        <tr>
          <td width="142" height="21">38</td>
          <td width="245"> lee kam chuen </td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">1110</td>
          <td width="142">1885</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">2995</td>
          </tr>
        <tr>
          <td width="142">39</td>
          <td width="245"> lee ying tung </td>
          <td width="258">590</td>
          <td width="142">　</td>
          <td width="142">550</td>
          <td width="142">690</td>
          <td width="142">930</td>
          <td width="142">　</td>
          <td width="149">2760</td>
          </tr>
        <tr>
          <td width="142">40</td>
          <td width="245">JAMES ROBBINS&nbsp;</td>
          <td width="258">550</td>
          <td width="142">　</td>
          <td width="142">650</td>
          <td width="142">670</td>
          <td width="142">840</td>
          <td width="142">　</td>
          <td width="149">2710</td>
          </tr>
        <tr>
          <td width="142">41</td>
          <td width="245"> lai wai kin </td>
          <td width="258">670</td>
          <td width="142">　</td>
          <td width="142">750</td>
          <td width="142">　</td>
          <td width="142">1065</td>
          <td width="142">　</td>
          <td width="149">2485</td>
          </tr>
        <tr>
          <td width="142">42</td>
          <td width="245"> lee wing ming </td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">565</td>
          <td width="142">870</td>
          <td width="142">1005</td>
          <td width="142">　</td>
          <td width="149">2440</td>
          </tr>
        <tr>
          <td width="142">43</td>
          <td width="245"> lee man lok </td>
          <td width="258">960</td>
          <td width="142">487.5</td>
          <td width="142">900</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">2347.5</td>
          </tr>
        <tr>
          <td width="142">44</td>
          <td width="245">alFREDo MORALES</td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">825</td>
          <td width="142">1440</td>
          <td width="142">　</td>
          <td width="149">2265</td>
          </tr>
        <tr>
          <td width="142">45</td>
          <td width="245"> so sek man </td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">550</td>
          <td width="142">825</td>
          <td width="142">870</td>
          <td width="142">　</td>
          <td width="149">2245</td>
          </tr>
        <tr>
          <td width="142">46</td>
          <td width="245"> tang ching pun </td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">770</td>
          <td width="142">1440</td>
          <td width="142">　</td>
          <td width="149">2210</td>
          </tr>
        <tr>
          <td width="142">47</td>
          <td width="245">PAUL RILEY</td>
          <td width="258">730</td>
          <td width="142">420</td>
          <td width="142">990</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">2140</td>
          </tr>
        <tr>
          <td width="142">48</td>
          <td width="245"> chiang kwok leung </td>
          <td width="258">630</td>
          <td width="142">450</td>
          <td width="142">990</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">2070</td>
          </tr>
        <tr>
          <td width="142">49</td>
          <td width="245"> hui ho man </td>
          <td width="258">　</td>
          <td width="142">1800</td>
          <td width="142">&nbsp;</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">1800</td>
          </tr>
        <tr>
          <td>50</td>
          <td>shawn morley </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>1680</td>
          <td>&nbsp;</td>
          <td>1680</td>
          </tr>
        <tr>
          <td width="142">51</td>
          <td width="245">jason kwok</td>
          <td width="258">　</td>
          <td width="142">570</td>
          <td width="142">　</td>
          <td width="142">990</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">1560</td>
          </tr>
        <tr>
          <td width="142">52</td>
          <td width="245"> liu ping kwong </td>
          <td width="258">790</td>
          <td width="142">　</td>
          <td width="142">650</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">1440</td>
          </tr>
        <tr>
          <td width="142">53</td>
          <td width="245"> Chan wai hung </td>
          <td width="258">550</td>
          <td width="142">　</td>
          <td width="142">565</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">1115</td>
          </tr>
        <tr>
          <td width="142">54</td>
          <td width="245">AKASHI SHINTARO</td>
          <td width="258">1020</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">1020</td>
          </tr>
        <tr>
          <td width="142">55</td>
          <td width="245">KINGSLEY LONG</td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">900</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">900</td>
          </tr>
        <tr>
          <td width="142">56</td>
          <td width="245"> kan king yau </td>
          <td width="258">885</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">885</td>
          </tr>
        <tr>
          <td width="142">57</td>
          <td width="245"> liu wai yin </td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">710</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">710</td>
          </tr>
        <tr>
          <td width="142">58</td>
          <td width="245"> tong chun po </td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">700</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">700</td>
          </tr>
        <tr>
          <td width="142" height="27">59</td>
          <td width="245">CHRIS MARRS</td>
          <td width="258">630</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">630</td>
          </tr>
        <tr>
          <td width="142" height="19">60</td>
          <td width="245">RICHARD HOOD</td>
          <td width="258">550</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">550</td>
          </tr>
        <tr>
          <td width="142" height="22">61</td>
          <td width="245"> chung siu lun </td>
          <td width="258">　</td>
          <td width="142">　</td>
          <td width="142">550</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">550</td>
          </tr>
        <tr>
          <td width="142" height="19">62</td>
          <td width="245"> ng kwan ho </td>
          <td width="258">　</td>
          <td width="142">510</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="142">　</td>
          <td width="149">510</td>
          </tr>
        </tbody>

      </table>
      <table cellspacing="0" class="table table-striped" ng-hide="currentLanguage() == 'en'">
        <tbody><tr>
          <td width="72"><strong>排名</strong><</td>
          <td width="72"><strong>球手</strong><</td>
          <td width="72"><strong>錦標賽</strong><</td>
          <td width="72"><strong>第一站</strong><</td>
          <td width="72"><strong>第二站</strong><</td>
          <td width="72"><strong>第三站</strong><</td>
          <td width="72"><strong>第四站</strong><</td>
          <td width="72"><strong>邀請賽</strong><</td>
          <td width="72"><strong>總分數</strong><</td>
          </tr>
        <tr>
          <td width="72">1</td>
          <td width="72">JAMES STEWART&nbsp;</td>
          <td width="72">23775</td>
          <td width="72">1613.8</td>
          <td width="72">15850</td>
          <td width="72">15850</td>
          <td width="72">8475</td>
          <td width="72">16400</td>
          <td width="72">81963.8</td>
          </tr>
        <tr>
          <td width="72">2</td>
          <td width="72">鄧子鏗</td>
          <td width="72">5200</td>
          <td width="72">5425</td>
          <td width="72">10850</td>
          <td width="72">5043.3</td>
          <td width="72">15850</td>
          <td width="72">16400</td>
          <td width="72">58768.3</td>
          </tr>
        <tr>
          <td width="72">3</td>
          <td width="72">黃煥民</td>
          <td width="72">5200</td>
          <td width="72">7925</td>
          <td width="72">6100</td>
          <td width="72">3390</td>
          <td width="72">8475</td>
          <td width="72">6773</td>
          <td width="72">37863</td>
          </tr>
        <tr>
          <td width="72">4</td>
          <td width="72">鄧敏祺</td>
          <td width="72">16275</td>
          <td width="72">985</td>
          <td width="72">1110</td>
          <td width="72">10850</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">29220</td>
          </tr>
        <tr>
          <td width="72">5</td>
          <td width="72">高銘澤</td>
          <td width="72">9150</td>
          <td width="72">1100</td>
          <td width="72">3745</td>
          <td width="72">5043.3</td>
          <td width="72">4100</td>
          <td width="72">4725</td>
          <td width="72">27863.3</td>
          </tr>
        <tr>
          <td width="72">6</td>
          <td width="72">李永基</td>
          <td width="72">7395</td>
          <td width="72">　</td>
          <td width="72">2085</td>
          <td width="72">5043.3</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">14523.3</td>
          </tr>
        <tr>
          <td width="72">7</td>
          <td width="72">鄭家耀</td>
          <td width="72">3300</td>
          <td width="72">1613.75</td>
          <td width="72">2085</td>
          <td width="72">1050</td>
          <td width="72">4930</td>
          <td width="72">　</td>
          <td width="72">12978.75</td>
          </tr>
        <tr>
          <td width="72">8</td>
          <td width="72">蔡維臣</td>
          <td width="72">2255</td>
          <td width="72">870</td>
          <td width="72">2910</td>
          <td width="72">2910</td>
          <td width="72">3150</td>
          <td width="72">　</td>
          <td width="72">12095</td>
          </tr>
        <tr>
          <td width="72">9</td>
          <td width="72">鄧承志</td>
          <td width="72">2255</td>
          <td width="72">1613.8</td>
          <td width="72">4930</td>
          <td width="72">1885</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">10683.8</td>
          </tr>
        <tr>
          <td width="72">10</td>
          <td width="72">張建平</td>
          <td width="72">2827.5</td>
          <td width="72">617.5</td>
          <td width="72">2510</td>
          <td width="72">1500</td>
          <td width="72">3150</td>
          <td width="72">　</td>
          <td width="72">10605</td>
          </tr>
        <tr>
          <td width="72">11</td>
          <td width="72">廖樂天</td>
          <td width="72">790</td>
          <td width="72">785</td>
          <td width="72">1625</td>
          <td width="72">2200</td>
          <td width="72">1800</td>
          <td>1680</td>
          <td width="72">8880</td>
          </tr>
        <tr>
          <td width="72">12</td>
          <td width="72">張哲鎬</td>
          <td width="72">1065</td>
          <td width="72">　</td>
          <td width="72">825</td>
          <td width="72">1292.5</td>
          <td width="72">2226.7</td>
          <td width="72">3340</td>
          <td width="72">8749.2</td>
          </tr>
        <tr>
          <td width="72">13</td>
          <td width="72">李俊民</td>
          <td width="72">1760</td>
          <td width="72">675</td>
          <td width="72">1110</td>
          <td width="72">1292.5</td>
          <td width="72">2226.7</td>
          <td>1570</td>
          <td width="72">8634.2</td>
          </tr>
        <tr>
          <td width="72">14</td>
          <td width="72">李銘皆</td>
          <td width="72">1760</td>
          <td width="72">570</td>
          <td width="72">1440</td>
          <td width="72">990</td>
          <td width="72">1263.3</td>
          <td>1800</td>
          <td width="72">7823.3</td>
          </tr>
        <tr>
          <td width="72">15</td>
          <td width="72">宋幸文</td>
          <td width="72">2520</td>
          <td width="72">617.5</td>
          <td width="72">1110</td>
          <td width="72">1155</td>
          <td width="72">1625</td>
          <td width="72">　</td>
          <td width="72">7027.5</td>
          </tr>
        <tr>
          <td width="72">16</td>
          <td width="72">馮尚煒</td>
          <td width="72">1760</td>
          <td width="72">2465</td>
          <td width="72">700</td>
          <td width="72">770</td>
          <td width="72">1065</td>
          <td width="72">　</td>
          <td width="72">6760</td>
          </tr>
        <tr>
          <td width="72">17</td>
          <td width="72">黃鉦鈞</td>
          <td width="72">960</td>
          <td width="72">1613.75</td>
          <td width="72">610</td>
          <td width="72">1292.5</td>
          <td width="72">2226.7</td>
          <td width="72">　</td>
          <td width="72">6702.95</td>
          </tr>
        <tr>
          <td width="72">18</td>
          <td width="72">萬雄立</td>
          <td width="72">2255</td>
          <td width="72">532.5</td>
          <td width="72">1263.3</td>
          <td width="72">1110</td>
          <td width="72">1155</td>
          <td width="72">　</td>
          <td width="72">6315.8</td>
          </tr>
        <tr>
          <td width="72">19</td>
          <td width="72">馬金發</td>
          <td width="72">1890</td>
          <td width="72">870</td>
          <td width="72">1263.3</td>
          <td width="72">1680</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">5703.3</td>
          </tr>
        <tr>
          <td width="72">20</td>
          <td width="72">鄭德謙</td>
          <td width="72">1065</td>
          <td width="72">450</td>
          <td width="72">1440</td>
          <td width="72">1080</td>
          <td width="72">1263.3</td>
          <td width="72">　</td>
          <td width="72">5298.3</td>
          </tr>
        <tr>
          <td width="72">21</td>
          <td width="72">黃海健</td>
          <td width="72">570</td>
          <td width="72">1080</td>
          <td width="72">1110</td>
          <td width="72">2510</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">5270</td>
          </tr>
        <tr>
          <td width="72">22</td>
          <td width="72">DOMINIQUE BOULET</td>
          <td width="72">5200</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">5200</td>
          </tr>
        <tr>
          <td width="72">23</td>
          <td width="72">ANDREW GOOD</td>
          <td width="72">2070</td>
          <td width="72">3050</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">5120</td>
          </tr>
        <tr>
          <td width="72">24</td>
          <td width="72">馮偉權</td>
          <td width="72">885</td>
          <td width="72">　</td>
          <td width="72">790</td>
          <td width="72">1440</td>
          <td width="72">1440</td>
          <td width="72">　</td>
          <td width="72">4555</td>
          </tr>
        <tr>
          <td width="72">25</td>
          <td width="72">李國恩</td>
          <td width="72">840</td>
          <td width="72">487.5</td>
          <td width="72">750</td>
          <td width="72">1155</td>
          <td width="72">1110</td>
          <td width="72">　</td>
          <td width="72">4342.5</td>
          </tr>
        <tr>
          <td width="72">26</td>
          <td width="72">鄧偉俊</td>
          <td width="72">1980</td>
          <td width="72">720</td>
          <td width="72">1625</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">4325</td>
          </tr>
        <tr>
          <td width="72">27</td>
          <td width="72">GRANT GIBSON</td>
          <td width="72">2827.5</td>
          <td width="72">　</td>
          <td width="72">1440</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">4267.5</td>
          </tr>
        <tr>
          <td width="72">28</td>
          <td width="72">楊沿泰</td>
          <td width="72">690</td>
          <td width="72">750</td>
          <td width="72">750</td>
          <td width="72">770</td>
          <td width="72">1005</td>
          <td width="72">　</td>
          <td width="72">3965</td>
          </tr>
        <tr>
          <td width="72">29</td>
          <td width="72">宋有祿</td>
          <td width="72">1665</td>
          <td width="72">　</td>
          <td width="72">990</td>
          <td width="72">1292.5</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">3947.5</td>
          </tr>
        <tr>
          <td width="72">30</td>
          <td width="72">簡栢堅</td>
          <td width="72">790</td>
          <td width="72">570</td>
          <td width="72">900</td>
          <td width="72">730</td>
          <td width="72">900</td>
          <td width="72">　</td>
          <td width="72">3890</td>
          </tr>
        <tr>
          <td width="72">31</td>
          <td width="72">BRAD SCHADEWITZ</td>
          <td width="72">3765</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">3765</td>
          </tr>
        <tr>
          <td width="72">32</td>
          <td width="72">KEVIN HIND</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">3745</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">3745</td>
          </tr>
        <tr>
          <td width="72">33</td>
          <td width="72">MARK MOSSIP</td>
          <td width="72">730</td>
          <td width="72">532.5</td>
          <td width="72">825</td>
          <td width="72">　</td>
          <td width="72">1625</td>
          <td width="72">　</td>
          <td width="72">3712.5</td>
          </tr>
        <tr>
          <td width="72">34</td>
          <td width="72">蕭金標</td>
          <td width="72">960</td>
          <td width="72">　</td>
          <td width="72">650</td>
          <td width="72">930</td>
          <td width="72">1155</td>
          <td width="72">　</td>
          <td width="72">3695</td>
          </tr>
        <tr>
          <td width="72">35</td>
          <td width="72">沈興南</td>
          <td width="72">630</td>
          <td width="72">450</td>
          <td width="72">565</td>
          <td width="72">990</td>
          <td width="72">960</td>
          <td width="72">　</td>
          <td width="72">3595</td>
          </tr>
        <tr>
          <td width="72">36</td>
          <td width="72">馮偉傑</td>
          <td width="72">　</td>
          <td width="72">675</td>
          <td width="72">1263.3</td>
          <td width="72">1570</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">3508.3</td>
          </tr>
        <tr>
          <td width="72">37</td>
          <td width="72">梁紹才</td>
          <td width="72">730</td>
          <td width="72">　</td>
          <td width="72">565</td>
          <td width="72">900</td>
          <td width="72">1263.3</td>
          <td width="72">　</td>
          <td width="72">3458.3</td>
          </tr>
        <tr>
          <td width="72">38</td>
          <td width="72">李錦泉</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">1110</td>
          <td width="72">1885</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">2995</td>
          </tr>
        <tr>
          <td width="72">39</td>
          <td width="72">李應東</td>
          <td width="72">590</td>
          <td width="72">　</td>
          <td width="72">550</td>
          <td width="72">690</td>
          <td width="72">930</td>
          <td width="72">　</td>
          <td width="72">2760</td>
          </tr>
        <tr>
          <td width="72">40</td>
          <td width="72">JAMES ROBBINS&nbsp;</td>
          <td width="72">550</td>
          <td width="72">　</td>
          <td width="72">650</td>
          <td width="72">670</td>
          <td width="72">840</td>
          <td width="72">　</td>
          <td width="72">2710</td>
          </tr>
        <tr>
          <td width="72">41</td>
          <td width="72">黎煒健</td>
          <td width="72">670</td>
          <td width="72">　</td>
          <td width="72">750</td>
          <td width="72">　</td>
          <td width="72">1065</td>
          <td width="72">　</td>
          <td width="72">2485</td>
          </tr>
        <tr>
          <td width="72">42</td>
          <td width="72">李永明</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">565</td>
          <td width="72">870</td>
          <td width="72">1005</td>
          <td width="72">　</td>
          <td width="72">2440</td>
          </tr>
        <tr>
          <td width="72">43</td>
          <td width="72">李文樂</td>
          <td width="72">960</td>
          <td width="72">487.5</td>
          <td width="72">900</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">2347.5</td>
          </tr>
        <tr>
          <td width="72">44</td>
          <td width="72">alFREDo MORALES</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">825</td>
          <td width="72">1440</td>
          <td width="72">　</td>
          <td width="72">2265</td>
          </tr>
        <tr>
          <td width="72">45</td>
          <td width="72">蘇石民</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">550</td>
          <td width="72">825</td>
          <td width="72">870</td>
          <td width="72">　</td>
          <td width="72">2245</td>
          </tr>
        <tr>
          <td width="72">46</td>
          <td width="72">鄧澄濱</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">770</td>
          <td width="72">1440</td>
          <td width="72">　</td>
          <td width="72">2210</td>
          </tr>
        <tr>
          <td width="72">47</td>
          <td width="72">PAUL RILEY</td>
          <td width="72">730</td>
          <td width="72">420</td>
          <td width="72">990</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">2140</td>
          </tr>
        <tr>
          <td width="72">48</td>
          <td width="72">蔣國良</td>
          <td width="72">630</td>
          <td width="72">450</td>
          <td width="72">990</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">2070</td>
          </tr>
        <tr>
          <td width="72">49</td>
          <td width="72">許灝文</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">1800</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">1800</td>
          </tr>
        <tr>
          <td>50</td>
          <td width="72">shawn morley </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>1680</td>
          <td>&nbsp;</td>
          <td>1680</td>
          </tr>
        <tr>
          <td width="72">51</td>
          <td width="72">郭永昌</td>
          <td width="72">　</td>
          <td width="72">570</td>
          <td width="72">　</td>
          <td width="72">990</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">1560</td>
          </tr>
        <tr>
          <td width="72">52</td>
          <td width="72">廖炳光</td>
          <td width="72">790</td>
          <td width="72">　</td>
          <td width="72">650</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">1440</td>
          </tr>
        <tr>
          <td width="72">53</td>
          <td width="72">陳煒鴻</td>
          <td width="72">550</td>
          <td width="72">　</td>
          <td width="72">565</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">1115</td>
          </tr>
        <tr>
          <td width="72">54</td>
          <td width="72">AKASHI SHINTARO</td>
          <td width="72">1020</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">1020</td>
          </tr>
        <tr>
          <td width="72">55</td>
          <td width="72">KINGSLEY LONG</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">900</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">900</td>
          </tr>
        <tr>
          <td width="72">56</td>
          <td width="72">簡敬有</td>
          <td width="72">885</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">885</td>
          </tr>
        <tr>
          <td width="72">57</td>
          <td width="72">廖煒賢</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">710</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">710</td>
          </tr>
        <tr>
          <td width="72">58</td>
          <td width="72">唐進寶</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">700</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">700</td>
          </tr>
        <tr>
          <td width="72">59</td>
          <td width="72">CHRIS MARRS</td>
          <td width="72">630</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">630</td>
          </tr>
        <tr>
          <td width="72">t60</td>
          <td width="72">RICHARD HOOD</td>
          <td width="72">550</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">550</td>
          </tr>
        <tr>
          <td width="72" height="22">t60</td>
          <td width="72">鍾兆倫</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">550</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">550</td>
          </tr>
        <tr>
          <td width="72" height="19">62</td>
          <td width="72">吳坤河</td>
          <td width="72">　</td>
          <td width="72">510</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">　</td>
          <td width="72">510</td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
    </div>
  </div>
</div>
