<div class="container" id="merit-page">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-trophy"></i>Order of Merit - 2004 </h1>
    </div>
    <div class="col-md-4">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
    <h2>Open Division </h2>
    <table cellspacing="0" class="table table-striped" ng-show="currentLanguage() == 'en'">
          <tbody><tr>
            <th scope="col">POS</th>
            <th scope="col">PLAYER</th>
            <th scope="col" title="17-18 May, DiscoveryBay Golf Club">LEG 1</th>
            <th scope="col" title="6-9 Sept, 2004 AVIVA HKPGA Championship">LEG 2</th>
            <th scope="col" title="18-19 Oct, Yinli Golf Club">LEG 3</th>
            <th scope="col" title="15-16 Nov, K.S.C. Golf Course">LEG 4</th>
            <th scope="col">TOTAL</th>
          </tr>
          <tr>
            <td class="odd">1</td>
            <td class="odd">&nbsp;Derek Fung</td>
            <td class="odd">20000</td>
            <td class="odd">10000</td>
            <td class="odd">3500</td>
            <td class="odd">20000</td>
            <td class="odd">53500</td>
          </tr>
          <tr>
            <td class="even">2</td>
            <td class="even">&nbsp;Dominique Boulet</td>
            <td class="even">3850</td>
            <td class="even">20000</td>
            <td class="even">20000</td>
            <td class="even">3850</td>
            <td class="even">47700</td>
          </tr>
          <tr>
            <td class="odd">3</td>
            <td class="odd">&nbsp;James Stewart</td>
            <td class="odd">2600</td>
            <td class="odd">10000</td>
            <td class="odd">12000</td>
            <td class="odd">3850</td>
            <td class="odd">28450</td>
          </tr>
          <tr>
            <td class="even">4</td>
            <td class="even">&nbsp;Yau Sui Ming</td>
            <td class="even">10000</td>
            <td class="even">4216</td>
            <td class="even">8000</td>
            <td class="even">2850</td>
            <td class="even">25066</td>
          </tr>
          <tr>
            <td class="odd">5</td>
            <td class="odd">&nbsp;Kavin Kam</td>
            <td class="odd">5000</td>
            <td class="odd">2575</td>
            <td class="odd">3850</td>
            <td class="odd">12000</td>
            <td class="odd">23425</td>
          </tr>
          <tr>
            <td class="even">6</td>
            <td class="even">&nbsp;Tang Shing Chi</td>
            <td class="even">2500</td>
            <td class="even">5500</td>
            <td class="even">4200</td>
            <td class="even">5500</td>
            <td class="even">17700</td>
          </tr>
          <tr>
            <td class="odd">7</td>
            <td class="odd">&nbsp;Wong Woon Man</td>
            <td class="odd">2500</td>
            <td class="odd">5500</td>
            <td class="odd">6000</td>
            <td class="odd">2675</td>
            <td class="odd">16675</td>
          </tr>
          <tr>
            <td class="even">8</td>
            <td class="even">&nbsp;Tang Man Kee</td>
            <td class="even">6000</td>
            <td class="even">2775</td>
            <td class="even">4600</td>
            <td class="even">2750</td>
            <td class="even">16125</td>
          </tr>
          <tr>
            <td class="odd">9</td>
            <td class="odd">&nbsp;Danny Kan</td>
            <td class="odd">1925</td>
            <td class="odd">1925</td>
            <td class="odd">2450</td>
            <td class="odd">8000</td>
            <td class="odd">14300</td>
          </tr>
          <tr>
            <td class="even">10</td>
            <td class="even">&nbsp;Wilson Choy</td>
            <td class="even">4600</td>
            <td class="even">2675</td>
            <td class="even">2310</td>
            <td class="even">4600</td>
            <td class="even">14185</td>
          </tr>
          <tr>
            <td class="odd">11</td>
            <td class="odd">&nbsp;Richard Kan</td>
            <td class="odd">3050</td>
            <td class="odd">2675</td>
            <td class="odd">5000</td>
            <td class="odd">2850</td>
            <td class="odd">13575</td>
          </tr>
          <tr>
            <td class="even">12</td>
            <td class="even">&nbsp;Peter Downie</td>
            <td class="even">10000</td>
            <td class="even">455</td>
            <td class="even">2775</td>
            <td class="even">&nbsp;</td>
            <td class="even">13230</td>
          </tr>
          <tr>
            <td class="odd">13</td>
            <td class="odd">&nbsp;Andrew Good</td>
            <td class="odd">3850</td>
            <td class="odd">2850</td>
            <td class="odd">2170</td>
            <td class="odd">3850</td>
            <td class="odd">12720</td>
          </tr>
          <tr>
            <td class="even">14</td>
            <td class="even">&nbsp;Lee Wing Kei</td>
            <td class="even">3050</td>
            <td class="even">4216</td>
            <td class="even">2310</td>
            <td class="even">1960</td>
            <td class="even">11536</td>
          </tr>
          <tr>
            <td class="odd">15</td>
            <td class="odd">&nbsp;Ma Kam Fat</td>
            <td class="odd">2310</td>
            <td class="odd">2275</td>
            <td class="odd">2575</td>
            <td class="odd">2600</td>
            <td class="odd">9760</td>
          </tr>
          <tr>
            <td class="even">16</td>
            <td class="even">&nbsp;Kan King Yau</td>
            <td class="even">2750</td>
            <td class="even">2575</td>
            <td class="even">1820</td>
            <td class="even">1890</td>
            <td class="even">9035</td>
          </tr>
          <tr>
            <td class="odd">17</td>
            <td class="odd">&nbsp;Tong Chun Po</td>
            <td class="odd">1680</td>
            <td class="odd">2443</td>
            <td class="odd">2775</td>
            <td class="odd">2100</td>
            <td class="odd">8998</td>
          </tr>
          <tr>
            <td class="even">18</td>
            <td class="even">&nbsp;Lee Man Lok</td>
            <td class="even">2065</td>
            <td class="even">1365</td>
            <td class="even">2775</td>
            <td class="even">2675</td>
            <td class="even">8880</td>
          </tr>
          <tr>
            <td class="odd">19</td>
            <td class="odd">&nbsp;Liu Ping Kwong</td>
            <td class="odd">2065</td>
            <td class="odd">1925</td>
            <td class="odd">2900</td>
            <td class="odd">1820</td>
            <td class="odd">8710</td>
          </tr>
          <tr>
            <td class="even">20</td>
            <td class="even">&nbsp;Cheung Kin Ping</td>
            <td class="even">2500</td>
            <td class="even">1575</td>
            <td class="even">1680</td>
            <td class="even">2850</td>
            <td class="even">8605</td>
          </tr>
          <tr>
            <td class="odd">21</td>
            <td class="odd">&nbsp;Sung Yau Fuk</td>
            <td class="odd">2380</td>
            <td class="odd">1050</td>
            <td class="odd">2575</td>
            <td class="odd">2240</td>
            <td class="odd">8245</td>
          </tr>
          <tr>
            <td class="even">22</td>
            <td class="even">&nbsp;Siu Kam Piu</td>
            <td class="even">1925</td>
            <td class="even">2170</td>
            <td class="even">1960</td>
            <td class="even">2100</td>
            <td class="even">8155</td>
          </tr>
          <tr>
            <td class="odd">23</td>
            <td class="odd">&nbsp;Vaughan Mason</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">802</td>
            <td class="odd">1820</td>
            <td class="odd">5500</td>
            <td class="odd">8125</td>
          </tr>
          <tr>
            <td class="even">24</td>
            <td class="even">&nbsp;Lau Kwong Hon</td>
            <td class="even">2825</td>
            <td class="even">1925</td>
            <td class="even">2575</td>
            <td class="even">&nbsp;</td>
            <td class="even">7325</td>
          </tr>
          <tr>
            <td class="odd">25</td>
            <td class="odd">&nbsp;Lee Kam Chuen</td>
            <td class="odd">3850</td>
            <td class="odd">1775</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">6625</td>
          </tr>
          <tr>
            <td class="even">26</td>
            <td class="even">&nbsp;Liu Wai Yin</td>
            <td class="even">1540</td>
            <td class="even">50</td>
            <td class="even">2575</td>
            <td class="even">1750</td>
            <td class="even">5915</td>
          </tr>
          <tr>
            <td class="odd">27</td>
            <td class="odd">&nbsp;Mark Reeves</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">3200</td>
            <td class="odd">2450</td>
            <td class="odd">5650</td>
          </tr>
          <tr>
            <td class="even">28</td>
            <td class="even">&nbsp;Brad Schadewitz</td>
            <td class="even">2825</td>
            <td class="even">315</td>
            <td class="even">2310</td>
            <td class="even">&nbsp;</td>
            <td class="even">5450</td>
          </tr>
          <tr>
            <td class="odd">29</td>
            <td class="odd">&nbsp;Sung Yau Luk</td>
            <td class="odd">2650</td>
            <td class="odd">2443</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">5093</td>
          </tr>
          <tr>
            <td class="even">30</td>
            <td class="even">&nbsp;Kenny Wong</td>
            <td class="even">2205</td>
            <td class="even">140</td>
            <td class="even">&nbsp;</td>
            <td class="even">2550</td>
            <td class="even">4895</td>
          </tr>
          <tr>
            <td class="odd">31</td>
            <td class="odd">&nbsp;Mok Yuk Lun</td>
            <td class="odd">2700</td>
            <td class="odd">50</td>
            <td class="odd">1820</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">4570</td>
          </tr>
          <tr>
            <td class="even">32</td>
            <td class="even">&nbsp;Tommy Kan</td>
            <td class="even">&nbsp;</td>
            <td class="even">315</td>
            <td class="even">2100</td>
            <td class="even">2100</td>
            <td class="even">4515</td>
          </tr>
          <tr>
            <td class="odd">33</td>
            <td class="odd">&nbsp;Lai Wai Che</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1190</td>
            <td class="odd">2775</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">3965</td>
          </tr>
          <tr>
            <td class="even">34</td>
            <td class="even">&nbsp;Alex Tang</td>
            <td class="even">2205</td>
            <td class="even">1365</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">3570</td>
          </tr>
          <tr>
            <td class="odd">35</td>
            <td class="odd">&nbsp;Michael Long</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1190</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">2345</td>
            <td class="odd">3535</td>
          </tr>
          <tr>
            <td class="even">36</td>
            <td class="even">&nbsp;Trevor Ball</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">3200</td>
            <td class="even">3200</td>
          </tr>
          <tr>
            <td class="odd">37</td>
            <td class="odd">&nbsp;Lai Wai Man</td>
            <td class="odd">1610</td>
            <td class="odd">50</td>
            <td class="odd">1470</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">3130</td>
          </tr>
          <tr>
            <td class="even">38</td>
            <td class="even">&nbsp;Cheung Kwai Hong</td>
            <td class="even">&nbsp;</td>
            <td class="even">140</td>
            <td class="even">&nbsp;</td>
            <td class="even">2500</td>
            <td class="even">2640</td>
          </tr>
          <tr>
            <td class="odd">39</td>
            <td class="odd">&nbsp;Tang Shu Wing</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">560</td>
            <td class="odd">2030</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">2590</td>
          </tr>
          <tr>
            <td class="even">40</td>
            <td class="even">&nbsp;Jason Kwok</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">2345</td>
            <td class="even">2345</td>
          </tr>
          <tr>
            <td class="odd">41</td>
            <td class="odd">&nbsp;Lee Parker</td>
            <td class="odd">1820</td>
            <td class="odd">50</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1870</td>
          </tr>
          <tr>
            <td class="even">42</td>
            <td class="even">&nbsp;Man Hung Lap</td>
            <td class="even">1750</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">1750</td>
          </tr>
          <tr>
            <td class="odd">43</td>
            <td class="odd">&nbsp;Geoffrey So</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
            <td class="odd">1610</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1660</td>
          </tr>
          <tr>
            <td class="even">44</td>
            <td class="even">&nbsp;Leung Sing Choi</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
            <td class="even">1540</td>
            <td class="even">&nbsp;</td>
            <td class="even">1590</td>
          </tr>
          <tr>
            <td class="odd">45</td>
            <td class="odd">&nbsp;Lai Wai Sing</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1400</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1400</td>
          </tr>
          <tr>
            <td class="even">46</td>
            <td class="even">&nbsp;Leung Hon Man</td>
            <td class="even">&nbsp;</td>
            <td class="even">700</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">700</td>
          </tr>
          <tr>
            <td class="odd">47</td>
            <td class="odd">&nbsp;Cheng Man Ngar</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
          </tr>
          <tr>
            <td class="even">48</td>
            <td class="even">&nbsp;Lai Wai Wa</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
          </tr>
          <tr>
            <td class="odd">49</td>
            <td class="odd">&nbsp;Leung Wai Kan</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
          </tr>
          <tr>
            <td class="even">50</td>
            <td class="even">&nbsp;Kan For Tai</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
          </tr>
          </tbody>
        </table>
    <table cellspacing="0" class="table table-striped" ng-hide="currentLanguage() == 'en'">
          <tbody><tr>
            <th scope="col">排名</th>
            <th scope="col">球手</th>
            <th scope="col" title="2004年5月17-18日, DiscoveryBay Golf Club">第1站</th>
            <th scope="col" title="2004年9月6-9日, 2004 AVIVA HKPGA Championship">第2站</th>
            <th scope="col" title="2004年10月18-19日, Yinli Golf Club">第3站</th>
            <th scope="col" title="2004年11月15-16日, K.S.C. Golf Course">第4站</th>
            <th scope="col">積分</th>
          </tr>
          <tr>
            <td class="odd">1</td>
            <td class="odd">&nbsp;馮裕德</td>
            <td class="odd">20000</td>
            <td class="odd">10000</td>
            <td class="odd">3500</td>
            <td class="odd">20000</td>
            <td class="odd">53500</td>
          </tr>
          <tr>
            <td class="even">2</td>
            <td class="even">&nbsp;Dominique Boulet</td>
            <td class="even">3850</td>
            <td class="even">20000</td>
            <td class="even">20000</td>
            <td class="even">3850</td>
            <td class="even">47700</td>
          </tr>
          <tr>
            <td class="odd">3</td>
            <td class="odd">&nbsp;James Stewart</td>
            <td class="odd">2600</td>
            <td class="odd">10000</td>
            <td class="odd">12000</td>
            <td class="odd">3850</td>
            <td class="odd">28450</td>
          </tr>
          <tr>
            <td class="even">4</td>
            <td class="even">&nbsp;丘水明</td>
            <td class="even">10000</td>
            <td class="even">4216</td>
            <td class="even">8000</td>
            <td class="even">2850</td>
            <td class="even">25066</td>
          </tr>
          <tr>
            <td class="odd">5</td>
            <td class="odd">&nbsp;甘家榮</td>
            <td class="odd">5000</td>
            <td class="odd">2575</td>
            <td class="odd">3850</td>
            <td class="odd">12000</td>
            <td class="odd">23425</td>
          </tr>
          <tr>
            <td class="even">6</td>
            <td class="even">&nbsp;鄧承志</td>
            <td class="even">2500</td>
            <td class="even">5500</td>
            <td class="even">4200</td>
            <td class="even">5500</td>
            <td class="even">17700</td>
          </tr>
          <tr>
            <td class="odd">7</td>
            <td class="odd">&nbsp;黃煥民</td>
            <td class="odd">2500</td>
            <td class="odd">5500</td>
            <td class="odd">6000</td>
            <td class="odd">2675</td>
            <td class="odd">16675</td>
          </tr>
          <tr>
            <td class="even">8</td>
            <td class="even">&nbsp;鄧敏祺</td>
            <td class="even">6000</td>
            <td class="even">2775</td>
            <td class="even">4600</td>
            <td class="even">2750</td>
            <td class="even">16125</td>
          </tr>
          <tr>
            <td class="odd">9</td>
            <td class="odd">&nbsp;簡栢堅</td>
            <td class="odd">1925</td>
            <td class="odd">1925</td>
            <td class="odd">2450</td>
            <td class="odd">8000</td>
            <td class="odd">14300</td>
          </tr>
          <tr>
            <td class="even">10</td>
            <td class="even">&nbsp;蔡維臣</td>
            <td class="even">4600</td>
            <td class="even">2675</td>
            <td class="even">2310</td>
            <td class="even">4600</td>
            <td class="even">14185</td>
          </tr>
          <tr>
            <td class="odd">11</td>
            <td class="odd">&nbsp;簡志強</td>
            <td class="odd">3050</td>
            <td class="odd">2675</td>
            <td class="odd">5000</td>
            <td class="odd">2850</td>
            <td class="odd">13575</td>
          </tr>
          <tr>
            <td class="even">12</td>
            <td class="even">&nbsp;Peter Downie</td>
            <td class="even">10000</td>
            <td class="even">455</td>
            <td class="even">2775</td>
            <td class="even">&nbsp;</td>
            <td class="even">13230</td>
          </tr>
          <tr>
            <td class="odd">13</td>
            <td class="odd">&nbsp;Andrew Good</td>
            <td class="odd">3850</td>
            <td class="odd">2850</td>
            <td class="odd">2170</td>
            <td class="odd">3850</td>
            <td class="odd">12720</td>
          </tr>
          <tr>
            <td class="even">14</td>
            <td class="even">&nbsp;李永基</td>
            <td class="even">3050</td>
            <td class="even">4216</td>
            <td class="even">2310</td>
            <td class="even">1960</td>
            <td class="even">11536</td>
          </tr>
          <tr>
            <td class="odd">15</td>
            <td class="odd">&nbsp;馬金發</td>
            <td class="odd">2310</td>
            <td class="odd">2275</td>
            <td class="odd">2575</td>
            <td class="odd">2600</td>
            <td class="odd">9760</td>
          </tr>
          <tr>
            <td class="even">16</td>
            <td class="even">&nbsp;簡敬有</td>
            <td class="even">2750</td>
            <td class="even">2575</td>
            <td class="even">1820</td>
            <td class="even">1890</td>
            <td class="even">9035</td>
          </tr>
          <tr>
            <td class="odd">17</td>
            <td class="odd">&nbsp;唐進寶</td>
            <td class="odd">1680</td>
            <td class="odd">2443</td>
            <td class="odd">2775</td>
            <td class="odd">2100</td>
            <td class="odd">8998</td>
          </tr>
          <tr>
            <td class="even">18</td>
            <td class="even">&nbsp;李文樂</td>
            <td class="even">2065</td>
            <td class="even">1365</td>
            <td class="even">2775</td>
            <td class="even">2675</td>
            <td class="even">8880</td>
          </tr>
          <tr>
            <td class="odd">19</td>
            <td class="odd">&nbsp;廖炳光</td>
            <td class="odd">2065</td>
            <td class="odd">1925</td>
            <td class="odd">2900</td>
            <td class="odd">1820</td>
            <td class="odd">8710</td>
          </tr>
          <tr>
            <td class="even">20</td>
            <td class="even">&nbsp;張建平</td>
            <td class="even">2500</td>
            <td class="even">1575</td>
            <td class="even">1680</td>
            <td class="even">2850</td>
            <td class="even">8605</td>
          </tr>
          <tr>
            <td class="odd">21</td>
            <td class="odd">&nbsp;宋有福</td>
            <td class="odd">2380</td>
            <td class="odd">1050</td>
            <td class="odd">2575</td>
            <td class="odd">2240</td>
            <td class="odd">8245</td>
          </tr>
          <tr>
            <td class="even">22</td>
            <td class="even">&nbsp;蕭金標</td>
            <td class="even">1925</td>
            <td class="even">2170</td>
            <td class="even">1960</td>
            <td class="even">2100</td>
            <td class="even">8155</td>
          </tr>
          <tr>
            <td class="odd">23</td>
            <td class="odd">&nbsp;Vaughan Mason</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">802</td>
            <td class="odd">1820</td>
            <td class="odd">5500</td>
            <td class="odd">8125</td>
          </tr>
          <tr>
            <td class="even">24</td>
            <td class="even">&nbsp;劉光漢</td>
            <td class="even">2825</td>
            <td class="even">1925</td>
            <td class="even">2575</td>
            <td class="even">&nbsp;</td>
            <td class="even">7325</td>
          </tr>
          <tr>
            <td class="odd">25</td>
            <td class="odd">&nbsp;李錦泉</td>
            <td class="odd">3850</td>
            <td class="odd">1775</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">6625</td>
          </tr>
          <tr>
            <td class="even">26</td>
            <td class="even">&nbsp;廖煒賢</td>
            <td class="even">1540</td>
            <td class="even">50</td>
            <td class="even">2575</td>
            <td class="even">1750</td>
            <td class="even">5915</td>
          </tr>
          <tr>
            <td class="odd">27</td>
            <td class="odd">&nbsp;李偉斯</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">3200</td>
            <td class="odd">2450</td>
            <td class="odd">5650</td>
          </tr>
          <tr>
            <td class="even">28</td>
            <td class="even">&nbsp;謝道偉</td>
            <td class="even">2825</td>
            <td class="even">315</td>
            <td class="even">2310</td>
            <td class="even">&nbsp;</td>
            <td class="even">5450</td>
          </tr>
          <tr>
            <td class="odd">29</td>
            <td class="odd">&nbsp;Sung Yau Luk</td>
            <td class="odd">2650</td>
            <td class="odd">2443</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">5093</td>
          </tr>
          <tr>
            <td class="even">30</td>
            <td class="even">&nbsp;黃海健</td>
            <td class="even">2205</td>
            <td class="even">140</td>
            <td class="even">&nbsp;</td>
            <td class="even">2550</td>
            <td class="even">4895</td>
          </tr>
          <tr>
            <td class="odd">31</td>
            <td class="odd">&nbsp;莫旭麟</td>
            <td class="odd">2700</td>
            <td class="odd">50</td>
            <td class="odd">1820</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">4570</td>
          </tr>
          <tr>
            <td class="even">32</td>
            <td class="even">&nbsp;簡鏡棠</td>
            <td class="even">&nbsp;</td>
            <td class="even">315</td>
            <td class="even">2100</td>
            <td class="even">2100</td>
            <td class="even">4515</td>
          </tr>
          <tr>
            <td class="odd">33</td>
            <td class="odd">&nbsp;黎偉智</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1190</td>
            <td class="odd">2775</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">3965</td>
          </tr>
          <tr>
            <td class="even">34</td>
            <td class="even">&nbsp;鄧澄濱</td>
            <td class="even">2205</td>
            <td class="even">1365</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">3570</td>
          </tr>
          <tr>
            <td class="odd">35</td>
            <td class="odd">&nbsp;Michael Long</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1190</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">2345</td>
            <td class="odd">3535</td>
          </tr>
          <tr>
            <td class="even">36</td>
            <td class="even">&nbsp;Trevor Ball</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">3200</td>
            <td class="even">3200</td>
          </tr>
          <tr>
            <td class="odd">37</td>
            <td class="odd">&nbsp;黎偉民</td>
            <td class="odd">1610</td>
            <td class="odd">50</td>
            <td class="odd">1470</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">3130</td>
          </tr>
          <tr>
            <td class="even">38</td>
            <td class="even">&nbsp;張桂康</td>
            <td class="even">&nbsp;</td>
            <td class="even">140</td>
            <td class="even">&nbsp;</td>
            <td class="even">2500</td>
            <td class="even">2640</td>
          </tr>
          <tr>
            <td class="odd">39</td>
            <td class="odd">&nbsp;鄧樹榮</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">560</td>
            <td class="odd">2030</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">2590</td>
          </tr>
          <tr>
            <td class="even">40</td>
            <td class="even">&nbsp;郭永昌</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">2345</td>
            <td class="even">2345</td>
          </tr>
          <tr>
            <td class="odd">41</td>
            <td class="odd">&nbsp;李柏嘉</td>
            <td class="odd">1820</td>
            <td class="odd">50</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1870</td>
          </tr>
          <tr>
            <td class="even">42</td>
            <td class="even">&nbsp;萬雄立</td>
            <td class="even">1750</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">1750</td>
          </tr>
          <tr>
            <td class="odd">43</td>
            <td class="odd">&nbsp;蘇勁濤</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
            <td class="odd">1610</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1660</td>
          </tr>
          <tr>
            <td class="even">44</td>
            <td class="even">&nbsp;梁勝財</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
            <td class="even">1540</td>
            <td class="even">&nbsp;</td>
            <td class="even">1590</td>
          </tr>
          <tr>
            <td class="odd">45</td>
            <td class="odd">&nbsp;Lai Wai Sing</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1400</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">1400</td>
          </tr>
          <tr>
            <td class="even">46</td>
            <td class="even">&nbsp;梁漢文</td>
            <td class="even">&nbsp;</td>
            <td class="even">700</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">700</td>
          </tr>
          <tr>
            <td class="odd">47</td>
            <td class="odd">&nbsp;鄭文雅</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
          </tr>
          <tr>
            <td class="even">48</td>
            <td class="even">&nbsp;黎偉華</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
          </tr>
          <tr>
            <td class="odd">49</td>
            <td class="odd">&nbsp;梁維根</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">50</td>
          </tr>
          <tr>
            <td class="even">50</td>
            <td class="even">&nbsp;簡伙泰</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
            <td class="even">&nbsp;</td>
            <td class="even">&nbsp;</td>
            <td class="even">50</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
    </div>
  </div>
</div>
