<div class="container" id="merit-page">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-trophy"></i>Order of Merit - 2006</h1>
    </div>
    <div class="col-md-4">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h2>Open Division </h2>
<table cellspacing="0" class="table table-striped" ng-show="currentLanguage() == 'en'">
      <tbody><tr>
              <th scope="col">POS</th>
              <th scope="col">PLAYER</th>
              <th scope="col" title="29-30 May, Kau Sai Chau Public Golf Course - North Course">LEG 1</th>
              <th scope="col" title="25-26 Sept, Long Island Golf &amp; Country Club - East/North Course">LEG 2</th>
              <th scope="col" title="16 Oct, Discovery Bay Golf Club - Diamond / Ruby">LEG 3</th>
              <th scope="col" title="24 Oct, The 4th Yinli - HKPGA Classic 2006, Yinli Foreign Investors Golf Club">LEG 4</th>
              <th scope="col">TOTAL</th>
            </tr>
            <tr>
              <td class="odd">1</td>
              <td class="odd">James Stewart</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">20000</td>
              <td class="odd">20000</td>
              <td class="odd">40000</td>
            </tr>
            <tr>
              <td class="even">2</td>
              <td class="even">&nbsp;Wong    Woon Man</td>
              <td class="even">3675</td>
              <td class="even">20000</td>
              <td class="even">4025</td>
              <td class="even">8000</td>
              <td class="even">35700</td>
            </tr>
            <tr>
              <td class="odd">3</td>
              <td class="odd">&nbsp;Lee    Man Lok</td>
              <td class="odd">20000</td>
              <td class="odd">4200</td>
              <td class="odd">2575</td>
              <td class="odd">2875</td>
              <td class="odd">29650</td>
            </tr>
            <tr>
              <td class="even">4</td>
              <td class="even">&nbsp;David    Freeman</td>
              <td class="even">8000</td>
              <td class="even">8000</td>
              <td class="even">&nbsp; </td>
              <td class="even">12000</td>
              <td class="even">28000</td>
            </tr>
            <tr>
              <td class="odd">5</td>
              <td class="odd">&nbsp;Grant    Gibson</td>
              <td class="odd">4600</td>
              <td class="odd">4800</td>
              <td class="odd">12000</td>
              <td class="odd">6000</td>
              <td class="odd">27400</td>
            </tr>
            <tr>
              <td class="even">6</td>
              <td class="even">&nbsp;Jovick    Lee</td>
              <td class="even">&nbsp; </td>
              <td class="even">12000</td>
              <td class="even">4025</td>
              <td class="even">4600</td>
              <td class="even">20625</td>
            </tr>
            <tr>
              <td class="odd">7</td>
              <td class="odd">&nbsp;Ducky    Tang</td>
              <td class="odd">12000</td>
              <td class="odd">2310</td>
              <td class="odd">3350</td>
              <td class="odd">2500</td>
              <td class="odd">20160</td>
            </tr>
            <tr>
              <td class="even">8</td>
              <td class="even">&nbsp;Tang    Shing Chi</td>
              <td class="even">2275</td>
              <td class="even">6000</td>
              <td class="even">5200</td>
              <td class="even">4025</td>
              <td class="even">17500</td>
            </tr>
            <tr>
              <td class="odd">9</td>
              <td class="odd">&nbsp;Yau    Sui Ming</td>
              <td class="odd">6000</td>
              <td class="odd">4800</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">4025</td>
              <td class="odd">14825</td>
            </tr>
            <tr>
              <td class="even">10</td>
              <td class="even">&nbsp;Andrew    Good</td>
              <td class="even">5000</td>
              <td class="even">3500</td>
              <td class="even">2700</td>
              <td class="even">2675</td>
              <td class="even">13875</td>
            </tr>
            <tr>
              <td class="odd">11</td>
              <td class="odd">&nbsp;Derek    Fung</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">8000</td>
              <td class="odd">5000</td>
              <td class="odd">13000</td>
            </tr>
            <tr>
              <td class="even">12</td>
              <td class="even">&nbsp;Wilson    Choy</td>
              <td class="even">2937.5</td>
              <td class="even">2415</td>
              <td class="even">5200</td>
              <td class="even">2275</td>
              <td class="even">12827.5</td>
            </tr>
            <tr>
              <td class="odd">13</td>
              <td class="odd">&nbsp;Cheng    Ka Yiu</td>
              <td class="odd">2937.5</td>
              <td class="odd">3850</td>
              <td class="odd">2575</td>
              <td class="odd">3350</td>
              <td class="odd">12712.5</td>
            </tr>
            <tr>
              <td class="even">14</td>
              <td class="even">&nbsp;Peter    Downie</td>
              <td class="even">2170</td>
              <td class="even">2825</td>
              <td class="even">5200</td>
              <td class="even">2415</td>
              <td class="even">12610</td>
            </tr>
            <tr>
              <td class="odd">15</td>
              <td class="odd">&nbsp;Fung    Wai Kuen</td>
              <td class="odd">2937.5</td>
              <td class="odd">3050</td>
              <td class="odd">2310</td>
              <td class="odd">3350</td>
              <td class="odd">11647.5</td>
            </tr>
            <tr>
              <td class="even">16</td>
              <td class="even">&nbsp;Danny    Kan</td>
              <td class="even">2750</td>
              <td class="even">2700</td>
              <td class="even">2875</td>
              <td class="even">2675</td>
              <td class="even">11000</td>
            </tr>
            <tr>
              <td class="odd">17</td>
              <td class="odd">&nbsp;Fung    Wai Kit</td>
              <td class="odd">4200</td>
              <td class="odd">2600</td>
              <td class="odd">1750</td>
              <td class="odd">1330</td>
              <td class="odd">9880</td>
            </tr>
            <tr>
              <td class="even">18</td>
              <td class="even">&nbsp;Lam    Chun Cheung</td>
              <td class="even">2937.5</td>
              <td class="even">2170</td>
              <td class="even">2380</td>
              <td class="even">2275</td>
              <td class="even">9762.5</td>
            </tr>
            <tr>
              <td class="odd">19</td>
              <td class="odd">&nbsp;Vaughan    Mason</td>
              <td class="odd">2100</td>
              <td class="odd">3050</td>
              <td class="odd">2700</td>
              <td class="odd">1330</td>
              <td class="odd">9180</td>
            </tr>
            <tr>
              <td class="even">20</td>
              <td class="even">&nbsp;Sammy    Ng</td>
              <td class="even">2650</td>
              <td class="even">2415</td>
              <td class="even">1960</td>
              <td class="even">2135</td>
              <td class="even">9160</td>
            </tr>
            <tr>
              <td class="odd">21</td>
              <td class="odd">&nbsp;Alexander    Cheng</td>
              <td class="odd">2470</td>
              <td class="odd">2700</td>
              <td class="odd">2205</td>
              <td class="odd">1505</td>
              <td class="odd">8880</td>
            </tr>
            <tr>
              <td class="even">22</td>
              <td class="even">&nbsp;Paul    Riley</td>
              <td class="even">2650</td>
              <td class="even">2525</td>
              <td class="even">3350</td>
              <td class="even">&nbsp; </td>
              <td class="even">8525</td>
            </tr>
            <tr>
              <td class="odd">23</td>
              <td class="odd">Sung    Hang Man</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">2825</td>
              <td class="odd">2700</td>
              <td class="odd">2675</td>
              <td class="odd">8200</td>
            </tr>
            <tr>
              <td class="even">24</td>
              <td class="even">&nbsp;Mark    Smith</td>
              <td class="even">&nbsp; </td>
              <td class="even">2700</td>
              <td class="even">2475</td>
              <td class="even">2875</td>
              <td class="even">8050</td>
            </tr>
            <tr>
              <td class="odd">25</td>
              <td class="odd">&nbsp;Kavin    Kam</td>
              <td class="odd">2275</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1645</td>
              <td class="odd">7945</td>
            </tr>
            <tr>
              <td class="even">26</td>
              <td class="even">&nbsp;Tang    Man Kee</td>
              <td class="even">2650</td>
              <td class="even">&nbsp; </td>
              <td class="even">2875</td>
              <td class="even">1995</td>
              <td class="even">7520</td>
            </tr>
            <tr>
              <td class="odd">27</td>
              <td class="odd">&nbsp;Michael    Long</td>
              <td class="odd">1995</td>
              <td class="odd">2100</td>
              <td class="odd">2800</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">6895</td>
            </tr>
            <tr>
              <td class="even">28</td>
              <td class="even">Geoffrey    So</td>
              <td class="even">&nbsp; </td>
              <td class="even">2240</td>
              <td class="even">2100</td>
              <td class="even">2135</td>
              <td class="even">6475</td>
            </tr>
            <tr>
              <td class="odd">29</td>
              <td class="odd">&nbsp;Brad    Schadewitz</td>
              <td class="odd">3675</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">2475</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">6150</td>
            </tr>
            <tr>
              <td class="even">30</td>
              <td class="even">Shum    Hing Nam</td>
              <td class="even">&nbsp; </td>
              <td class="even">1890</td>
              <td class="even">2205</td>
              <td class="even">1995</td>
              <td class="even">6090</td>
            </tr>
            <tr>
              <td class="odd">31</td>
              <td class="odd">Mark    Mossip</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">2030</td>
              <td class="odd">2030</td>
              <td class="odd">1120</td>
              <td class="odd">5180</td>
            </tr>
            <tr>
              <td class="even">32</td>
              <td class="even">&nbsp;Kenny    Wong</td>
              <td class="even">2470</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">2675</td>
              <td class="even">5145</td>
            </tr>
            <tr>
              <td class="odd">33</td>
              <td class="odd">Cheung    Kin Ping</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1960</td>
              <td class="odd">1855</td>
              <td class="odd">1190</td>
              <td class="odd">5005</td>
            </tr>
            <tr>
              <td class="even">34</td>
              <td class="even">&nbsp;Wong    Hoi Fung</td>
              <td class="even">1995</td>
              <td class="even">2525</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">4520</td>
            </tr>
            <tr>
              <td class="odd">35</td>
              <td class="odd">&nbsp;Ma    Kam Fat</td>
              <td class="odd">2470</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1785</td>
              <td class="odd">4255</td>
            </tr>
            <tr>
              <td class="even">36</td>
              <td class="even">Tong    Chung Po</td>
              <td class="even">1820</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">1785</td>
              <td class="even">3605</td>
            </tr>
            <tr>
              <td class="odd">37</td>
              <td class="odd">&nbsp;Cheung    Kwai Hong</td>
              <td class="odd">2470</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1015</td>
              <td class="odd">3485</td>
            </tr>
            <tr>
              <td class="even">38</td>
              <td class="even">&nbsp;Lai    Wai Wa</td>
              <td class="even">1890</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">1015</td>
              <td class="even">2905</td>
            </tr>
            <tr>
              <td class="odd">39</td>
              <td class="odd">&nbsp;Jason    Kwok</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1855</td>
              <td class="odd">875</td>
              <td class="odd">2730</td>
            </tr>
            <tr>
              <td class="even">T40</td>
              <td class="even">Sung    Yau Fuk</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">2675</td>
              <td class="even">2675</td>
            </tr>
            <tr>
              <td class="odd">T40</td>
              <td class="odd">Li    Chun Man</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">2675</td>
              <td class="odd">2675</td>
            </tr>
            <tr>
              <td class="even">42</td>
              <td class="even">Yip    On Wah</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">2415</td>
              <td class="even">2415</td>
            </tr>
            <tr>
              <td class="odd">43</td>
              <td class="odd">Sung    Sing</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1890</td>
              <td class="odd">1890</td>
            </tr>
            <tr>
              <td class="even">44</td>
              <td class="even">Tang    Shu Wing</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">1645</td>
              <td class="even">1645</td>
            </tr>
            <tr>
              <td class="odd">45</td>
              <td class="odd">Man    Hung Lap</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1505</td>
              <td class="odd">1505</td>
            </tr>
            <tr>
              <td class="even">46</td>
              <td class="even">Lai    Wai Che</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">1330</td>
              <td class="even">1330</td>
            </tr>
            <tr>
              <td class="odd">47</td>
              <td class="odd">Chiu    Tat Kwai</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">875</td>
              <td class="odd">875</td>
            </tr>
            <tr>
              <td class="even">48</td>
              <td class="even">Richard    Hood</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">770</td>
              <td class="even">770</td>
            </tr>
            <tr>
              <td class="odd">49</td>
              <td class="odd">Mok    Yuk Lun</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">700</td>
              <td class="odd">700</td>
            </tr>
            <tr>
              <td class="even">50</td>
              <td class="even">Lai    Wai Man</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">630</td>
              <td class="even">630</td>
            </tr>
            </tbody>
      </table>
      <table cellspacing="0" class="table table-striped" ng-hide="currentLanguage() == 'en'">
        <tbody><tr>
              <th scope="col">排名</th>
              <th scope="col">球手</th>
              <th scope="col" title="2006年5月29-30日, 滘西洲公眾高爾夫球場 - 北場">第1站</th>
              <th scope="col" title="2006年9月25-26日, 長安高爾夫球鄉村俱樂部 - 東場/北場">第2站</th>
              <th scope="col" title="2006年10月16日, 愉景灣高爾夫球會 - 鑽石/紅寶石球場">第3站</th>
              <th scope="col" title="2006年10月24日,第四屆銀利香港職業高爾夫經典賽, 銀利外商高爾夫球俱樂部">第4站</th>
              <th scope="col">積分</th>
            </tr>
            <tr>
              <td class="odd">1</td>
              <td class="odd">James Stewart</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">&nbsp;</td>
              <td class="odd">20000</td>
              <td class="odd">20000</td>
              <td class="odd">40000</td>
            </tr>
            <tr>
              <td class="even">2</td>
              <td class="even">&nbsp;黃煥民</td>
              <td class="even">3675</td>
              <td class="even">20000</td>
              <td class="even">4025</td>
              <td class="even">8000</td>
              <td class="even">35700</td>
            </tr>
            <tr>
              <td class="odd">3</td>
              <td class="odd">&nbsp;李文樂</td>
              <td class="odd">20000</td>
              <td class="odd">4200</td>
              <td class="odd">2575</td>
              <td class="odd">2875</td>
              <td class="odd">29650</td>
            </tr>
            <tr>
              <td class="even">4</td>
              <td class="even">&nbsp;David    Freeman</td>
              <td class="even">8000</td>
              <td class="even">8000</td>
              <td class="even">&nbsp; </td>
              <td class="even">12000</td>
              <td class="even">28000</td>
            </tr>
            <tr>
              <td class="odd">5</td>
              <td class="odd">&nbsp;Grant    Gibson</td>
              <td class="odd">4600</td>
              <td class="odd">4800</td>
              <td class="odd">12000</td>
              <td class="odd">6000</td>
              <td class="odd">27400</td>
            </tr>
            <tr>
              <td class="even">6</td>
              <td class="even">&nbsp;李永基</td>
              <td class="even">&nbsp; </td>
              <td class="even">12000</td>
              <td class="even">4025</td>
              <td class="even">4600</td>
              <td class="even">20625</td>
            </tr>
            <tr>
              <td class="odd">7</td>
              <td class="odd">&nbsp;鄧偉俊</td>
              <td class="odd">12000</td>
              <td class="odd">2310</td>
              <td class="odd">3350</td>
              <td class="odd">2500</td>
              <td class="odd">20160</td>
            </tr>
            <tr>
              <td class="even">8</td>
              <td class="even">&nbsp;鄧承志</td>
              <td class="even">2275</td>
              <td class="even">6000</td>
              <td class="even">5200</td>
              <td class="even">4025</td>
              <td class="even">17500</td>
            </tr>
            <tr>
              <td class="odd">9</td>
              <td class="odd">&nbsp;丘水明</td>
              <td class="odd">6000</td>
              <td class="odd">4800</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">4025</td>
              <td class="odd">14825</td>
            </tr>
            <tr>
              <td class="even">10</td>
              <td class="even">&nbsp;Andrew    Good</td>
              <td class="even">5000</td>
              <td class="even">3500</td>
              <td class="even">2700</td>
              <td class="even">2675</td>
              <td class="even">13875</td>
            </tr>
            <tr>
              <td class="odd">11</td>
              <td class="odd">&nbsp;馮裕德</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">8000</td>
              <td class="odd">5000</td>
              <td class="odd">13000</td>
            </tr>
            <tr>
              <td class="even">12</td>
              <td class="even">&nbsp;蔡維臣</td>
              <td class="even">2937.5</td>
              <td class="even">2415</td>
              <td class="even">5200</td>
              <td class="even">2275</td>
              <td class="even">12827.5</td>
            </tr>
            <tr>
              <td class="odd">13</td>
              <td class="odd">&nbsp;鄭家耀</td>
              <td class="odd">2937.5</td>
              <td class="odd">3850</td>
              <td class="odd">2575</td>
              <td class="odd">3350</td>
              <td class="odd">12712.5</td>
            </tr>
            <tr>
              <td class="even">14</td>
              <td class="even">&nbsp;Peter    Downie</td>
              <td class="even">2170</td>
              <td class="even">2825</td>
              <td class="even">5200</td>
              <td class="even">2415</td>
              <td class="even">12610</td>
            </tr>
            <tr>
              <td class="odd">15</td>
              <td class="odd">&nbsp;馮偉權</td>
              <td class="odd">2937.5</td>
              <td class="odd">3050</td>
              <td class="odd">2310</td>
              <td class="odd">3350</td>
              <td class="odd">11647.5</td>
            </tr>
            <tr>
              <td class="even">16</td>
              <td class="even">&nbsp;簡栢堅</td>
              <td class="even">2750</td>
              <td class="even">2700</td>
              <td class="even">2875</td>
              <td class="even">2675</td>
              <td class="even">11000</td>
            </tr>
            <tr>
              <td class="odd">17</td>
              <td class="odd">&nbsp;馮偉傑</td>
              <td class="odd">4200</td>
              <td class="odd">2600</td>
              <td class="odd">1750</td>
              <td class="odd">1330</td>
              <td class="odd">9880</td>
            </tr>
            <tr>
              <td class="even">18</td>
              <td class="even">&nbsp;林春祥</td>
              <td class="even">2937.5</td>
              <td class="even">2170</td>
              <td class="even">2380</td>
              <td class="even">2275</td>
              <td class="even">9762.5</td>
            </tr>
            <tr>
              <td class="odd">19</td>
              <td class="odd">&nbsp;Vaughan    Mason</td>
              <td class="odd">2100</td>
              <td class="odd">3050</td>
              <td class="odd">2700</td>
              <td class="odd">1330</td>
              <td class="odd">9180</td>
            </tr>
            <tr>
              <td class="even">20</td>
              <td class="even">&nbsp;吳坤河</td>
              <td class="even">2650</td>
              <td class="even">2415</td>
              <td class="even">1960</td>
              <td class="even">2135</td>
              <td class="even">9160</td>
            </tr>
            <tr>
              <td class="odd">21</td>
              <td class="odd">&nbsp;鄭德謙</td>
              <td class="odd">2470</td>
              <td class="odd">2700</td>
              <td class="odd">2205</td>
              <td class="odd">1505</td>
              <td class="odd">8880</td>
            </tr>
            <tr>
              <td class="even">22</td>
              <td class="even">&nbsp;Paul    Riley</td>
              <td class="even">2650</td>
              <td class="even">2525</td>
              <td class="even">3350</td>
              <td class="even">&nbsp; </td>
              <td class="even">8525</td>
            </tr>
            <tr>
              <td class="odd">23</td>
              <td class="odd">宋幸文</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">2825</td>
              <td class="odd">2700</td>
              <td class="odd">2675</td>
              <td class="odd">8200</td>
            </tr>
            <tr>
              <td class="even">24</td>
              <td class="even">&nbsp;Mark    Smith</td>
              <td class="even">&nbsp; </td>
              <td class="even">2700</td>
              <td class="even">2475</td>
              <td class="even">2875</td>
              <td class="even">8050</td>
            </tr>
            <tr>
              <td class="odd">25</td>
              <td class="odd">&nbsp;甘家榮</td>
              <td class="odd">2275</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1645</td>
              <td class="odd">7945</td>
            </tr>
            <tr>
              <td class="even">26</td>
              <td class="even">&nbsp;鄧敏祺</td>
              <td class="even">2650</td>
              <td class="even">&nbsp; </td>
              <td class="even">2875</td>
              <td class="even">1995</td>
              <td class="even">7520</td>
            </tr>
            <tr>
              <td class="odd">27</td>
              <td class="odd">&nbsp;Michael    Long</td>
              <td class="odd">1995</td>
              <td class="odd">2100</td>
              <td class="odd">2800</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">6895</td>
            </tr>
            <tr>
              <td class="even">28</td>
              <td class="even">蘇勁濤</td>
              <td class="even">&nbsp; </td>
              <td class="even">2240</td>
              <td class="even">2100</td>
              <td class="even">2135</td>
              <td class="even">6475</td>
            </tr>
            <tr>
              <td class="odd">29</td>
              <td class="odd">&nbsp;謝道偉</td>
              <td class="odd">3675</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">2475</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">6150</td>
            </tr>
            <tr>
              <td class="even">30</td>
              <td class="even">沈興南</td>
              <td class="even">&nbsp; </td>
              <td class="even">1890</td>
              <td class="even">2205</td>
              <td class="even">1995</td>
              <td class="even">6090</td>
            </tr>
            <tr>
              <td class="odd">31</td>
              <td class="odd">Mark    Mossip</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">2030</td>
              <td class="odd">2030</td>
              <td class="odd">1120</td>
              <td class="odd">5180</td>
            </tr>
            <tr>
              <td class="even">32</td>
              <td class="even">&nbsp;黃海健</td>
              <td class="even">2470</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">2675</td>
              <td class="even">5145</td>
            </tr>
            <tr>
              <td class="odd">33</td>
              <td class="odd">張建平</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1960</td>
              <td class="odd">1855</td>
              <td class="odd">1190</td>
              <td class="odd">5005</td>
            </tr>
            <tr>
              <td class="even">34</td>
              <td class="even">&nbsp;王海鋒</td>
              <td class="even">1995</td>
              <td class="even">2525</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">4520</td>
            </tr>
            <tr>
              <td class="odd">35</td>
              <td class="odd">&nbsp;馬金發</td>
              <td class="odd">2470</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1785</td>
              <td class="odd">4255</td>
            </tr>
            <tr>
              <td class="even">36</td>
              <td class="even">Tong    Chung Po</td>
              <td class="even">1820</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">1785</td>
              <td class="even">3605</td>
            </tr>
            <tr>
              <td class="odd">37</td>
              <td class="odd">&nbsp;張桂康</td>
              <td class="odd">2470</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1015</td>
              <td class="odd">3485</td>
            </tr>
            <tr>
              <td class="even">38</td>
              <td class="even">&nbsp;黎偉華</td>
              <td class="even">1890</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">1015</td>
              <td class="even">2905</td>
            </tr>
            <tr>
              <td class="odd">39</td>
              <td class="odd">&nbsp;郭永昌</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1855</td>
              <td class="odd">875</td>
              <td class="odd">2730</td>
            </tr>
            <tr>
              <td class="even">T40</td>
              <td class="even">宋有福</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">2675</td>
              <td class="even">2675</td>
            </tr>
            <tr>
              <td class="odd">T40</td>
              <td class="odd">李俊民</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">2675</td>
              <td class="odd">2675</td>
            </tr>
            <tr>
              <td class="even">42</td>
              <td class="even">葉安華</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">2415</td>
              <td class="even">2415</td>
            </tr>
            <tr>
              <td class="odd">43</td>
              <td class="odd">宋謦全</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1890</td>
              <td class="odd">1890</td>
            </tr>
            <tr>
              <td class="even">44</td>
              <td class="even">鄧樹榮</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">1645</td>
              <td class="even">1645</td>
            </tr>
            <tr>
              <td class="odd">45</td>
              <td class="odd">萬雄立</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">1505</td>
              <td class="odd">1505</td>
            </tr>
            <tr>
              <td class="even">46</td>
              <td class="even">黎偉智</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">1330</td>
              <td class="even">1330</td>
            </tr>
            <tr>
              <td class="odd">47</td>
              <td class="odd">招達貴</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">875</td>
              <td class="odd">875</td>
            </tr>
            <tr>
              <td class="even">48</td>
              <td class="even">Richard    Hood</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">770</td>
              <td class="even">770</td>
            </tr>
            <tr>
              <td class="odd">49</td>
              <td class="odd">莫旭麟</td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">&nbsp; </td>
              <td class="odd">700</td>
              <td class="odd">700</td>
            </tr>
            <tr>
              <td class="even">50</td>
              <td class="even">黎偉民</td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">&nbsp; </td>
              <td class="even">630</td>
              <td class="even">630</td>
            </tr>
            </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
    </div>
  </div>
</div>
