
<div id="merit-widget">
	<h2 translate>ORDER_OF_MERIT</h2>
	<div class="widget">
		<div class="widget-title col-md-12">
			<h3 translate>MENS_DIVISION</h3>
		</div>
		<div class="table-responsive">
    		<table class="table table-striped .table-condensed">
				<thead>
					<tr>
						<th translate>RANK</th>
						<th translate>PLAYER</th>
						<th translate>POINTS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>James Wong</td>
						<td>39095</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Tim Tang</td>
						<td>27975</td>
					</tr>
					<tr>
						<td>3</td>
						<td>James Stewart</td>
						<td>25049</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Chris Tang</td>
						<td>24382</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Dominique Boulet</td>
						<td>21348</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="widget-footer col-md-12 clearfix">
			<button type="button" class="btn" translate>SEE_LIST</button>
		</div>
	</div>

	<div class="widget">
		<div class="widget-title col-md-12">
			<h3 translate>WOMENS_DIVISION</h3>
		</div>
		<div class="table-responsive">
    		<table class="table table-striped .table-condensed">
				<thead>
					<tr>
						<th translate>RANK</th>
						<th translate>PLAYER</th>
						<th translate>POINTS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Vicki Ho</td>
						<td>39095</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Barbara Wong</td>
						<td>27975</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Jannet Shing</td>
						<td>25049</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Jolia Lo</td>
						<td>24382</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Sandy Tao</td>
						<td>21348</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="widget-footer col-md-12 clearfix">
			<button type="button" class="btn" translate>SEE_LIST</button>
		</div>
	</div>

	<div class="widget">
		<div class="widget-title col-md-12">
			<h3 translate>MENS_SENIOR_DIVISION</h3>
		</div>
		<div class="table-responsive">
    		<table class="table table-striped .table-condensed">
				<thead>
					<tr>
						<th translate>RANK</th>
						<th translate>PLAYER</th>
						<th translate>POINTS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>M K Tang</td>
						<td>39095</td>
					</tr>
					<tr>
						<td>2</td>
						<td>S W Tang</td>
						<td>27975</td>
					</tr>
					<tr>
						<td>3</td>
						<td>William Fung</td>
						<td>25049</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Danny Kan</td>
						<td>24382</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Michael Kan</td>
						<td>21348</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="widget-footer col-md-12 clearfix">
			<button type="button" class="btn" translate>SEE_LIST</button>
		</div>
	</div>


</div>
