<div class="container" id="prize-money">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-trophy"></i>Tournament Prize Money</h1>
    </div>
    <div class="col-md-4">
      <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="col-md-9">
    <div ng-if="money" ng-repeat="(division, prize) in money" class="row add-division">
      <h2>{{division}}</h2>
      <div class="table-responsive">
        <div class="gridStyle center-text" ng-grid="gridMoneyOptions[division]" ng-style="getTableStyle('money', division)"></div>
      </div>
      <a ng-if="currentUser.role == 'admin'" ng-click="addMoneyRow(division)" class="btn btn-success">Add Row</a>
      <br>
      <hr>
    </div>
    <a ng-if="currentUser.role == 'admin'" class="btn btn-primary col-md-1" ng-click="submitMoney()">Submit</a>
  </div>
  <div class="col-md-3">
    <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
  </div>
</div>
