<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">HKPGA</a>
  </div>
 
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/news">News</a></li>
          <li><a ng-href="#/tournaments">Tournaments</a></li>
          <li><a ng-href="#/members">Members</a></li>
          <li><a ng-href="#/juniors">Juniors</a></li>
          <li><a ng-href="#/events">Events</a></li>
          <li><a ng-hide='true' ng-href="#/press">Press</a></li>
          <li><a ng-href="#/admin">Admin</a></li>
          <li><a ng-hide='true' ng-href="#/about">About</a></li>
          <li><a ng-hide='true' ng-href="#/contact">Contact</a></li>
          <li><a ng-hide='true' ng-href="#/login">Login</a></li>
     </ul>
  </div><!-- /.navbar-collapse -->
</nav>