
  <div id="articles-section">
    <h2 translate>LATEST_NEWS</h2>
    <div class="article row" ng-repeat="latest in articles | orderByPriority | orderBy: 'publish_date':true | filter:{category : 'news'} | filter:{internal : false} |  limitTo:1">
      <div class="col-md-12 latest-news">
        <a href="#/news/{{ latest.slug }}" class="block-anchor">
          <div>
            <div class="title-row title-row-transparent clearfix">
              <div class="col-lg-2 col-md-3">
                <h5>{{ latest.publish_date | date:'dd MMM yyyy'}}</h5>
              </div>
              <div class="col-lg-10 col-md-9">
                <h4>{{ l10n(latest.title) }}</h4>
              </div>
            </div>
          </div>
          <div class="latest-news-body clearfix well">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
              <img  class="cover" ng-show="latest.cover" ng-src="{{latest.cover}}">
            </div>
            <div class="col-md-12">
              <p>{{ l10n(latest.html) | characters:550:currentLanguage() }}</p>
            </div>
            <div class="widget-footer col-md-12">
              <a href="#/news/{{ latest.slug }}">
                <button type="button" class="btn" translate>READ_MORE</button>
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>

    <h2 translate>MORE_NEWS</h2>
    <div ng:class="{'hidden-sm': $index > 5}" class="article row" ng-repeat="article in articles | orderByPriority | orderBy: 'publish_date':true | filter:{category : 'news'} | filter:{internal : false} | limitTo:11" ng-hide="$first">
      <div class="col-md-12">
          <div class="clearfix" ng-class="{true: 'draft', false:''}[article.draft]">
            <div class="more-news">
              <a href="#/news/{{ article.slug }}" class="block-anchor">
                <div class="title-row title-row-fill clearfix">
                      <h5>{{ article.publish_date | date:'dd MMM yyyy'}}</h5>
                      <h4>{{ l10n(article.title) }}</h4>
                </div>
              </a>
              <div class="more-news-body clearfix well">
                <div class="coverphoto col-lg-6 col-md-6 col-sm-12">
                  <img ng-show="article.cover" ng-src="{{ article.cover }}">
                </div>
                <p class="col-lg-6 col-md-6 col-sm-12">{{ l10n(article.html) | characters:350:currentLanguage() }}</p>
                <div class="widget-footer col-md-12">
                  <a href="#/news/{{ article.slug }}">
                    <button type="button" class="btn" translate>READ_MORE</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>


