<form class="form-horizontal" role="form" ng-submit="submit()" class="pressrelease-forms" ng-controller="PressReleaseCtrl">
{{ release }}
<fieldset>

<!-- Form Name -->
<legend>Press Release</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="release-title-en">Title (EN)</label>  
  <div class="col-md-8">
  <input id="release-title-en" name="release-title-en" type="text" placeholder="e.g. The Hong Kong Professional Golfers" class="form-control input-md" required="" ng-model="release.title_en">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="release-title-zh-hk">Title (HK)</label>  
  <div class="col-md-8">
  <input id="release-title-zh-hk" name="release-title-zh-hk" type="text" placeholder="e.g. 香港職業高爾夫球協會宣布委任李家瑜為行政總裁" class="form-control input-md" required="" ng-model="release.title_zh_hk">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="release-title-zh-cn">Title (CN)</label>  
  <div class="col-md-8">
  <input id="release-title-zh-cn" name="release-title-zh-cn" type="text" placeholder="e.g. 香港职业高尔夫球协会宣布委任李家瑜为行政总裁" class="form-control input-md" required="" ng-model="release.title_zh_cn">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="release-url-en">URL (EN)</label>  
  <div class="col-md-8">
  <input id="release-url-en" name="release-url-en" type="text" placeholder="Google Docs URL (EN)" class="form-control input-md" required="" ng-model="release.url_en">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="release-url-hk">URL (HK)</label>  
  <div class="col-md-8">
  <input id="release-url-hk" name="release-url-hk" type="text" placeholder="Google Docs URL (HK)" class="form-control input-md" required="" ng-model="release.url_zh_hk">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="release-url-cn">URL (CN)</label>  
  <div class="col-md-8">
  <input id="release-url-cn" name="release-url-cn" type="text" placeholder="Google Docs URL (CN)" class="form-control input-md" required="" ng-model="release.url_zh_cn">
  </div>
</div>

</fieldset>
     <input type="submit" value="Publish" class="btn btn-primary" />
</form>
