<div class="container">
  <h2 translate>PROFESSIONALS</h2>
  <div class="member row" ng-repeat="(alpha, pros) in alphaPro">
    <h2>{{alpha}}</h2>
    <div ng-repeat="pro in pros">
      {{pro.username}}
    </div>
  </div>
</div>
<!--         <h3>{{ member.name[getCurrentLanguage()] }}</h3>
        <h3>Qualifactions</h3>
        <p>{{ member.qualifications[getCurrentLanguage()] }}</p>
        <h3>Teaching Experience</h3>
        <p>{{ member.teaching_experience[getCurrentLanguage()] }}</p>
        <h3>Achievements</h3>
        <p>{{ member.achievement[getCurrentLanguage()] }}</p>
        <h3>{{ member.username }}</h3>
        <span>Member</span>
 --> 