<div class="container">
  <h2 translate>PROFESSIONALS</h2>
  <div class="member row" ng-repeat="member in professionals">
    <div class="col-md-9 col-xs-11">
      <div class="info" ng-class="(member.active) ? 'well' : ''">
        <!-- <h3>{{member}}</h3> -->
        <h3>{{ member.name[getCurrentLanguage()] }}</h3>
        <h3>Qualifactions</h3>
        <p>{{ member.qualifications[getCurrentLanguage()] }}</p>
        <h3>Teaching Experience</h3>
        <p>{{ member.teaching_experience[getCurrentLanguage()] }}</p>
        <h3>Achievements</h3>
        <p>{{ member.achievement[getCurrentLanguage()] }}</p>
        <h3>{{ member.username }}</h3>
        <span>Member</span>
      </div>
    </div>
  </div>
</div>