{{user}}
<div class="auth-forms">
  <h2 translate>REGISTER</h2>
 
  <form class="form-horizontal" role="form" ng-submit="register()">
    <div class="form-group">
      <label for="inputEnglishName" class="col-sm-2 control-label" translate>ENGLISH_NAME</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEnglishName" placeholder="Tin Ho Wong" ng-model="user.name_en">
      </div>
    </div>
    <div class="form-group">
      <label for="inputChineseName" class="col-sm-2 control-label" translate>CHINESE_NAME</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputChineseName" placeholder="李連杰" ng-model="user.name_zh">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label" translate>EMAIL</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="user.email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone" class="col-sm-2 control-label" translate>PHONE</label>
      <div class="col-sm-10">
        <input type="tel" class="form-control" id="inputPhone" placeholder="6827 2673" ng-model="user.phone">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label" translate>PASSWORD</label>
      <div class="col-sm-10">
        <input type="password" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputRole" class="col-sm-2 control-label" translate>ROLE</label>
      <div class="col-sm-10">
        <div class="radio" id="inputRole">
          <label>
            <input type="radio" ng-model="user.role" name="optionsRadios" id="optionsRadios1" value="admin" translate>
            ADMIN
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="user.role" name="optionsRadios" id="optionsRadios2" value="member" checked translate>
            MEMBER
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="user.role" name="optionsRadios" id="optionsRadios3" value="user" translate>
            USER
          </label>
        </div>
      </div>
    </div>
      <div class="form-group">
        <label for="inputSex" class="col-sm-2 control-label" translate>SEX</label>
        <div class="col-sm-10">
          <label class="radio-inline">
            <input type="radio" ng-model="user.sex" id="inlineCheckboxSex1" value="male" translate> MALE
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="user.sex" id="inlineCheckboxSex2" value="female" translate> FEMALE
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="inputImage" class="col-sm-2 control-label" translate>PROFILE_PICTURE</label>
        <div class="col-sm-10">
          <input type="url" class="form-control" id="inputPicture" placeholder="/images/freddy.jpg" ng-model="user.profile_picture">
        </div>
      </div>
          <div class="form-group">
      <label for="inputRole" class="col-sm-2 control-label" translate>RELATION</label>
        <div class="col-sm-10">
          <div class="radio" id="inputRelation">
            <label>
              <input type="radio" ng-model="user.status" name="relationRadio" id="relationRadio1" value="full" translate>
              FULL_MEMBER
            </label>
          </div>
          <div class="radio" id="inputRelation">
            <label>
              <input type="radio" ng-model="user.status" name="relationRadio" id="relationRadio2" value="tournament" translate>
              TOURNAMENT_MEMBER
            </label>
          </div>
          <div class="radio" id="inputRelation">
            <label>
              <input type="radio" ng-model="user.status" name="relationRadio" id="relationRadio3" value="associate" translate>
              ASSOCIATE_MEMBER
            </label>
          </div>
          <div class="radio" id="inputRelation" translate>
            <label>
              <input type="radio" ng-model="user.status" name="relationRadio" id="relationRadio4" value="trainer" translate>
              CERTIFIED_TRAINER
            </label>
          </div>
          <div class="radio" id="inputRelation">
            <label>
              <input type="radio" ng-model="user.status" name="relationRadio" id="relationRadio5" value="trainee" translate>
              TRAINEE
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputMemberSince" class="col-sm-2 control-label" translate>MEMBER_SINCE</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputMemberSince" placeholder="2014" ng-model="user.member_since">
        </div>
      </div>
      <div class="form-group">
        <label for="inputMemberSince" class="col-sm-2 control-label" translate>PRO_SINCE</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputProSince" placeholder="2010" ng-model="user.pro_since">
        </div>
      </div>

      <div class="form-group">
        <label for="inputQualificationsEN" class="col-sm-2 control-label" translate>QUALIFICATIONS_EN</label>
        <div class="col-sm-10">
          <textarea rows="5" class="form-control" id="inputQualificationsEN" placeholder="Please provide a short description or rely on the user to add it later..." ng-model="user.qualifications_en" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputQualificationsZH" class="col-sm-2 control-label" translate>QUALIFICATIONS_ZH</label>
        <div class="col-sm-10">
          <textarea rows="5" class="form-control" id="inputQualificationsZH" placeholder="Please provide a short description or rely on the user to add it later..." ng-model="user.qualifications_zh" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAchievementsEN" class="col-sm-2 control-label" translate>ACHIEVEMENTS_EN</label>
        <div class="col-sm-10">
          <textarea rows="5" class="form-control" id="inputAchievementsEN" placeholder="Please provide a short description or rely on the user to add it later..." ng-model="user.achievements_en" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAchievementsZH" class="col-sm-2 control-label" translate>ACHIEVEMENTS_ZH</label>
        <div class="col-sm-10">
          <textarea rows="5" class="form-control" id="inputAchievementsZH" placeholder="Please provide a short description or rely on the user to add it later..." ng-model="user.achievements_zh" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputQualificationsEN" class="col-sm-2 control-label" translate>TEACHING_EXPERIENCE_EN</label>
        <div class="col-sm-10">
           <textarea rows="5" class="form-control" id="inputTeachingExperienceEN" placeholder="Please provide a short description or rely on the user to add it later..." ng-model="user.teaching_experience_en" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputTeachingExperienceZH" class="col-sm-2 control-label" translate>TEACHING_EXPERIENCE_ZH</label>
        <div class="col-sm-10">
           <textarea rows="5" class="form-control" id="inputTeachingExperienceZH" placeholder="Please provide a short description or rely on the user to add it later..." ng-model="user.teaching_experience_zh" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputStatus" class="col-sm-2 control-label" translate>STATUS</label>
        <div class="col-sm-10">
          <label class="radio-inline">
            <input type="radio" ng-model="user.active" ng-value="true" id="inlineCheckboxActive1" value="true" checked translate> ACTIVE
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="user.active" ng-value="false" id="inlineCheckboxActive2" value="false" translate> INACTIVE
          </label>
        </div>
      </div>
      <input type="submit" value="Register" class="btn btn-primary" />
  </form>