<div class="container admin-styling" id="tournament-checklist">
  <div class="row search-bar">
    <div class="col-md-11">
      <h2><i class="fa fa-trophy"></i>Tournament Scores</h2>
    </div>
      <a class="btn btn-primary col-md-1" ng-click="submitScores()">Submit</a>
  </div>

    <div ng-if="toScore" ng-repeat="(division, scores) in toScore" class="row add-division">
      <h3>{{division}}</h3>
      <div class="gridStyle" ng-grid="gridOptions[division]" ng-style="getTableStyle(division)"></div>
    </div>

    <a ng-click="printScore()">Print Score</a>


<!--     <div ng-if="gridOptions" class="row add-division">
      <div class="gridStyle" ng-grid="gridOptions[]" ng-style="getTableStyle()"></div>
    </div> -->

    <button class="btn btn-default" ng-click="openModal()">Open me!</button>
    <button class="btn btn-default" ng-click="openModal('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="openModal('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
  </div>
</div>
