<div class="container admin-styling" id="tournament-scores">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2><i class="fa fa-trophy"></i>Tournament Scores</h2>
      <h4>{{ tournament.name[l10n()] }}</h4>
      <br>
      <hr>
    </div>
    <div ng-hide="currentUser.role != 'admin' && division=='ladies'" ng-if="toScore" ng-repeat="(division, scores) in toScore" class="row add-division col-md-10 col-md-offset-1">
      <a class="btn btn-primary" ng-click="submitScores()">Submit</a>
      <h3> {{ division }} Division </h3>
      <div class="gridStyle" ng-grid="gridOptions[division]" ng-style="getTableStyle('toScore', division)">
      </div>
    </div>
  </div>
</div>
