<div class="container" id="show-news">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/news">News</a></li>
    <li class="active">Latest</li>
  </ol>
  <div class="row">
    <div class="col-md-9">
      <div id="show-article">
        <div class="article row">
          <div class="col-md-12">
            <div class="title-row clearfix">
              <h5>{{article.updated_at | date:'dd MMM yyyy'}}</h5>
              <h4>{{article.title[l10n()] }}</h4>
            </div>
            <div class="info well">
              <div class="article-body" ng-bind-html="article.html[l10n()]">
              </div>
            </div>
          </div>
        </div>
        <a href="#">
          <button type="button" class="btn back" translation>BACK</button>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/newsarchive-side.html'" ng-controller="NewsArchiveCtrl"></div>
    </div>
  </div>
</div>