<div class="container" id="static-pages">
	<div ng-if="editable" class="row">
		<h2 ng-if="page.title">{{ l10n(page.title) }}</h2>
		<div class="col-md-12">
			<label for="static-page-category">Category</label>
			<input id="static-page-category" ng-model="page.category">
			<label for="static-page-title">Title</label>
			<input id="static-page-title" ng-if="editable" ng-model="page.title[currentLanguage()]">
			<textarea ng-model="page.html[currentLanguage()]" redactor="{toolbarFixedBox: true, toolbarFixedTopOffset : 110}" cols="60" rows="10"></textarea>
		</div>
	</div>
		  <div ng-if="currentUser.role == 'admin'">
      	<a class="btn btn-primary" ng-click="edit(page)">Edit</a>
  		</div>
	<div ng-if="editable" class="row">
	  	<div class="col-md-3 col-md-offset-8">
	    	<a ng-click="save(page)" class="btn btn-primary" translate>SAVE</a>
	  	</div>
	</div>
	<div ng-if="!editable" class="row">
		<div class="col-md-8">
			<h2 ng-if="page.title">{{ l10n(page.title) }}</h2>
		</div>
		<div class="col-md-4">
			<div ng-include="'views/breadcrumbs.html'"></div>
		</div>
		<div class="col-md-9">
			<div ng-if="!editable && page.title" ng-bind-html="page.html[currentLanguage()]" class="static-body well"></div>
		</div>
		<div ng-if="!editable" class="col-md-3">
			<div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
		</div>
	</div>
</div>

