<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 ng-if="page.title">{{ page.title[getCurrentLanguage()] }}</h2>
		  <input ng-if="editable" ng-model="page.title[getCurrentLanguage()]">
		  <textarea ng-if="editable" ng-model="page.html[getCurrentLanguage()]" redactor cols="60" rows="10"></textarea>
	 	</div>
	  <div class="col-md-3 col-md-offset-9">
	  	<a ng-if="editable" ng-click="save()" class="btn btn-primary" translate>SAVE</a>    
	  </div>
	  <div class="col-md-9 well static-body" ng-if="!editable && page.title" ng-bind-html="page.html[getCurrentLanguage()]">
	  </div>
		<div class="col-md-3">
			<div ng-include="'/views/newsarchive-side.html'" ng-controller="NewsArchiveCtrl"></div>
		</div>
	</div>
</div>