<div class="container" id="tournaments-page">
  <div class="row">
    <div class = "col-md-8">
      <h2 translate>Tournaments</h2>
      <!-- <pre>{{ tournaments  | json}}</pre> -->
    </div>
    <div class="col-md-4">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
        <div class="row" ng-repeat="(key, tournament) in tournaments | orderByPriority | orderBy:'start_date':true | filterYear:archiveYear:'start_date'">
        <div class="col-md-12">
          <div class="info well more-news clearfix">
            <a href="#/tournaments/{{ tournament.year }}/{{ tournament.slug }}" class="block-anchor">
              <div class="title-row title-row-fill clearfix row">
                <div class="col-lg-2 col-md-3">
                  <h5>{{ tournament.start_date | date:'dd MMM yyyy'}}</h5>
                </div>
                <div class="col-lg-10 col-md-9">
                  <h4>{{ tournament.name[l10n()] }} | {{ tournament.results.length }} {{ tournament.no_days }} day tournament </h4>
                  <a class="btn btn-default tournament-division" ng-if="enabled" ng-repeat="(division, enabled) in tournament.divisions"> {{division}} </a> 
                  <a class="btn btn-default" ng-href="#/tournaments/{{ tournament.year }}/{{ tournament.slug }}/score"> Score </a> 
                  <span ng-if="upcoming(tournament)">
                    <a href="{{ tournament.rules_url }}">Rules</a>
                    <a href="#/tournaments/{{ tournament.year }}/{{ tournament.slug }}/prizemoney">Prize Money</a>
                    <a href="{{ tournament.tee_off }}">Tee Off Time</a>
                    <!-- <a href="#/tournaments/{{ tournament.slug }}/teeofftime">Tee Off Time</a> -->
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
    </div>
  </div>
</div>