<div class="container" id="tournaments-page">
  <div class="row">
    <div class = "col-md-8">
      <h2 translate>Tournaments</h2>
    </div>
    <div class="col-md-4">
        <div ng-include="'views/breadcrumbs.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
        <div class="row" ng-repeat="(key, tournament) in tournaments | orderByPriority | orderBy:'start_date':true | filterYear:archiveYear:'start_date'">
          <div class="info well clearfix">
            <div class=" tournament-card clearfix row">
              <a href="#/tournaments/{{ tournament.year }}/{{ tournament.slug }}">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                  <h5>{{ tournament.start_date | date:'dd MMM yyyy'}}</h5>
                </div>
              </a>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9">
                <a href="#/tournaments/{{ tournament.year }}/{{ tournament.slug }}">
                  <h4>{{ l10n(tournament.name) }} | {{ tournament.results.length }} <em> {{ tournament.no_days }} day tournament </em></h4>
                </a>
                <h5 class="hideelement">Divisions: </h5>
                <span class="label label-default tournament-division" ng-if="enabled" ng-repeat="(division, enabled) in tournament.divisions">{{division}}</span>
            </div>
            <div class="tournament-action-tags col-lg-2 col-md-2 col-sm-2 col-xs-12 clearfix">
              <a class="btn" type="button" ng-if="!isUpcoming(tournament)" ng-href="#/tournaments/{{ tournament.year }}/{{ tournament.slug }}/score">
                <button type="button" class="btn">Scores</button>
              </a>
              <div id="upcoming-tournament-controls" class="tournament-action-tags" ng-if="isUpcoming(tournament)">
                <a ng-if="tournament.rules_url" class="btn" type="button" href="{{ tournament.rules_url }}">
                  <button type="button" class="btn">Notices</button>
                </a>
                <a class="btn" href="#/tournaments/{{ tournament.year }}/{{ tournament.slug }}/prizemoney">
                  <button type="button" class="btn">Prize</button>
                </a>
                <a ng-if="tournament.tee_off" class="btn" href="{{ tournament.tee_off }}">
                  <button type="button" class="btn">Tee Off</button>
                </a>
                <!-- <a href="#/tournaments/{{ tournament.slug }}/teeofftime">Tee Off Time</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-include="'/views/sidebar.html'" ng-controller="SidebarCtrl"></div>
    </div>
  </div>
</div>
